<div class="btn-close-container">
	<button class="btn-close" type="button" mat-mini-fab color="" (click)="closeDialog()" [disabled]="disabledBtn" title="Đóng">
		<mat-icon>clear</mat-icon>
	</button>
</div>
<div class="kt-portlet" [ngClass]="{ 'kt-portlet--body-progress kt-portlet--body-progress-overlay' : viewLoading }">
	<div class="kt-portlet__head kt-portlet__head__custom">
		<div class="col-md-{{isZoomSize ? '9' : '7'}} kt-margin-bottom-10-mobile" style="margin-top: 20px;">
			<h3 class="kt-portlet__head-title">Chọn đơn vị</h3>
		</div>
		<div class="col-md-{{isZoomSize ? '3' : '5'}} kt-margin-bottom-10-mobile" style="margin-top: 10px; text-align: right;">
			<button style="padding: 0px 20px;" type="button" mat-raised-button color="primary" (click)="onSubmit()">
				Lưu
			</button>
			<!--<button style="padding: 0px 10px;" type="button" color="accent" mat-raised-button (click)="resizeDialog()">
				{{isZoomSize ? 'Thu nhỏ' : 'Phóng to'}}
			</button>-->
		</div>
	</div>
	<form class="kt-form">
		<div class="kt-portlet__body">
			<div class="kt-portlet__body-progress">
				<mat-spinner [diameter]="20"></mat-spinner>
			</div>
			<kt-alert *ngIf="hasFormErrors" type="warn" [duration]="30000" [showCloseButton]="true" (close)="onAlertClose($event)">
				Không thể lưu, vui lòng kiểm tra lại thông tin!
			</kt-alert>

			<div class="form-group kt-form__group row">
				<div class="col-md-12">
					<cdk-tree [dataSource]="dataSource" [treeControl]="treeControl" class="dl-tree-dropdown">
						<!-- This is the tree node template for leaf nodes -->
						<cdk-nested-tree-node *cdkTreeNodeDef="let node" cdkTreeNodePadding class="example-tree-node">
							<div class="dl-cover-tree-node">
								<div class="dl-name-node">
									<div class="name-txt">
										<div class="cover-drag-item">
											<span style="padding-left: 5px;">
												<mat-checkbox class="checklist-leaf-node" [checked]="node.selected" [disabled]="node.disabled" (change)="checkedChange($event,node)" *ngIf="!isMulti">{{node.title}}</mat-checkbox>
												<mat-checkbox class="checklist-leaf-node"
															  [checked]="checklistSelection.isSelected(node)"
															  (change)="todoLeafItemSelectionToggle(node)" *ngIf="isMulti">
														{{node.title}}
												</mat-checkbox>
											</span>
										</div>
									</div>
								</div>
							</div>
						</cdk-nested-tree-node>
						<!-- This is the tree node template for expandable nodes -->
						<cdk-nested-tree-node *cdkTreeNodeDef="let node; when: hasChild" cdkTreeNodePadding class="example-tree-node">
							<div class="dl-cover-tree-node">
								<div class="dl-name-node">
									<div class="name-txt">
										<div class="cover-drag-item">
											<button mat-icon-button cdkTreeNodeToggle>
												<img src="/assets/images/_plus.png" *ngIf="!treeControl.isExpanded(node)">
												<img src="/assets/images/_sub.png" *ngIf="treeControl.isExpanded(node)">
											</button>
											<span style="padding-left: 5px; ">
												<mat-checkbox [checked]="node.selected" [disabled]="node.disabled" (change)="checkedChange($event,node)" *ngIf="!isMulti">{{node.title}}</mat-checkbox>
												<mat-checkbox [checked]="descendantsAllSelected(node)" *ngIf="isMulti"
															  [indeterminate]="descendantsPartiallySelected(node)"
															  (change)="todoItemSelectionToggle(node)">
														{{node.title}}
												</mat-checkbox>
											</span>
										</div>
									</div>
								</div>
							</div>
							<div [class.example-tree-invisible]="!treeControl.isExpanded(node)" class="dl-out-let">
								<ng-container cdkTreeNodeOutlet></ng-container>
							</div>
						</cdk-nested-tree-node>
					</cdk-tree>
				</div>
			</div>
		</div>
	</form>
</div>
