<table style="width: 630px;">
	<tbody>
		<tr style="height: 74px;">
			<td style="text-align: center; width: 250px; height: 74px;">UBND TỈNH VĨNH LONG<br>
					<span style="font-weight: 700;">SỞ LAO ĐỘNG</span>
					<br>
						<span style="font-weight: 700;">THƯƠNG BINH VÀ XÃ HỘI</span>
						<br>:line_120:</td>
						<td style="text-align: center; width: 380px; height: 74px;">
							<span style="font-weight: 700;">&nbsp;CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</span>
							<br>
								<span style="font-weight: 700;">Độc lập - Tự do - Hạnh phúc</span>
								<br>:line_160:</td>
							</tr>
							<tr style="height: 13px;">
								<td style="width: 250px; height: 13px; text-align: center;">&nbsp;Số: :SoQuyetDinh:/QĐ SLĐTBXH &nbsp;</td>
								<td style="text-align: center; width: 380px; height: 13px;">&nbsp;Vĩnh Long, ngày ...:Now_TN:</td>
							</tr>
							<tr style="height: 13px;">
								<td colspan="2" style="width: 630px; height: 13px;">
									<p  style="text-align: center;">
										<span style="font-weight: 700;">QUYẾT ĐỊNH</span>
										<p/>
										<p style="text-align: center;">
											<b>Về việc trợ cấp đối với thân nhân của người có công với cách mạng từ trần</b>
											</p>
											<p style="text-align: center;">
												<span style="font-weight: 700;">GIÁM ĐỐC SỞ LAO ĐỘNG ‑ THƯƠNG BINH VÀ XÃ HỘI</span>
											</p>
												<p style="text-align: left;">
													<em>&nbsp; &nbsp; &nbsp;</em>
													<span style="background-color: transparent;">
														<i>Căn cứ Quyết định số 142/2008/QĐ TTg ngày 27/10/2008 của Thủ tướng Chính phủ; Thông tư liên tịch số 144/2008/TTLT BQP BLĐTBXH BTC ngày 27 tháng 11 năm 2008 của Bộ Quốc phòng, Bộ Lao động Thương binh và Xã hội, Bộ Tài chính về thực hiện chế độ đối với quân nhân tham gia kháng chiến chống Mỹ cứu nước có dưới 20 năm công tác trong quân đội đã phục viên, xuất ngũ về địa phương;</i>
													</span>
												</p>
												<p style="text-align: left;">
													<i>&nbsp; &nbsp; &nbsp;Căn cứ Thông tư số 138/2018/TT BQP ngày 28/8/2018 của&nbsp; Bộ quốc phòng hướng dẫn điều chỉnh trợ cấp hàng tháng đối với quân nhân, người làm công tác cơ yếu hưởng lương như đối với quân nhân đã phục viên, xuất ngũ, thôi việc;</i>
												</p>
												<p style="text-align: left;">
													<i>&nbsp; &nbsp; &nbsp;Căn cứ Nghị định số 72/2018/NĐ CP ngày 15/5/2018 của Chính phủ về quy định mức lương cơ sở đối với cán bộ công chức, viên chức và lực lượng vũ trang;</i>
												</p>
												<p style="text-align: left;">
													<em>&nbsp; &nbsp; &nbsp;Căn cứ trích lục khai tử số&nbsp;:SoGiayTo(1): ngày&nbsp;:NgayCap(1): của :NoiCap(1):, khai tử ông(bà)&nbsp;<span style="font-weight: 700;">:HoTen:</span>&nbsp;đã từ trần ngày :NgayMat:;</em>
												</p>
												<p style="text-align: left;">
													<em>&nbsp; &nbsp; &nbsp;Căn cứ hồ sơ Người có công giúp đỡ cách mạng&nbsp;của bà&nbsp;<span style="font-weight: 700;">:HoTen:</span>, số hồ sơ: :SoHoSo:;</em>
												</p>
												<p style="text-align: left;">
													<em>&nbsp; &nbsp; &nbsp;Theo đề nghị của Trưởng phòng Người có công.</em>
												</p>
												<p style="text-align: center;">
													<span style="font-weight: 700;">QUYẾT ĐỊNH:</span>
												</p>
												<p style="text-align: left;">
													<span style="font-weight: 700;">Điều 1.</span>&nbsp;</p>
												<p style="text-align: left;">1. Trợ cấp mai táng phí đối với ông (bà):&nbsp;<span style="font-weight: 700;">:NguoiThoCungLietSy:</span>
												</p>
												<p style="text-align: left;">Sinh năm:&nbsp;:NamSinh:&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Nam/Nữ: :GioiTinh1:</p>
												<p style="text-align: left;">Nguyên quán: :NguyenQuan1:.</p>
												<p style="text-align: left;">Trú quán: :DiaChi1:</p>
												<p style="text-align: left;">Quan hệ với người có công với cách mạng từ trần:&nbsp;<span style="font-weight: 700;">:QHGiaDinh:</span>
													<br>
													</p>
													<p style="text-align: left;">Mức trợ cấp: (<i>:TienTroCap(16):&nbsp;đồng</i>).</p>
													<p style="text-align: left;">
														<em>(Bằng chữ: :TienTroCap_Chu(16):)</em>.</p>
													<p style="text-align: left;">2. Trợ cấp một lần đối với ông (bà):&nbsp;<span style="font-weight: 700;">:NguoiThoCungLietSy:</span>
													</p>
													<p style="text-align: left;">Sinh năm:&nbsp;:NamSinh:&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Nam/Nữ: :GioiTinh1:</p>
													<p style="text-align: left;">Nguyên quán: :NguyenQuan1:.</p>
													<p style="text-align: left;">Trú quán: :DiaChi1:</p>
													<p style="text-align: left;">Quan hệ với người có công với cách mạng từ trần:&nbsp;<span style="font-weight: 700;">:QHGiaDinh:</span>
														<br>
														</p>
														<p style="text-align: left;">Mức trợ cấp: (<i>:TienTroCap(6):&nbsp;đồng</i>).</p>
														<p style="text-align: left;">
															<em>(Bằng chữ: :TienTroCap_Chu(6):)</em>.</p>
														<p style="text-align: left;">
															<i>
																<span style="font-weight: 700;">Tổng cộng: (1+2) =&nbsp;</span>
															</i>
															<i>
																<span style="font-weight: 700;">:TienTroCap(6):</span>
															</i>
															<i>
																<span style="font-weight: 700;">&nbsp;đồng +&nbsp;</span>
															</i>
															<i>
																<span style="font-weight: 700;">:TienTroCap(16):</span>
															</i>
															<i>
																<span style="font-weight: 700;">&nbsp;đồng =&nbsp;</span>
																<span style="font-weight: 700;">Cong(</span>
															</i>
															<span style="font-weight: 700;">
																<i style="background-color: transparent;">:TienTroCap(6):;</i>
																<i style="background-color: transparent;">:TienTroCap(16):)</i>
															</span>
															<i style="background-color: transparent;">
																<span style="font-weight: 700;">&nbsp;đồng.</span>
															</i>
														</p>
														<p style="text-align: left;">
															<i>
																<span style="font-weight: 700;">(Bằng chữ: :Chu(</span>
															</i>
															<i style="background-color: transparent;">
																<span style="font-weight: 700;">Cong(</span>
															</i>
															<span style="background-color: transparent; font-weight: 700;">
																<i style="background-color: transparent;">:TienTroCap(6):;</i>
																<i style="background-color: transparent;">:TienTroCap(16):)</i>
															</span>
															<i style="background-color: transparent;">
																<span style="font-weight: 700;">): đồng)</span>
															</i>
														</p>
														<span style="font-weight: 700;">
															<div style="text-align: left;">
																<span style="background-color: transparent;">Điều 2.</span>
																<span style="background-color: transparent; font-weight: 300;">&nbsp;Các ông (bà): Chánh văn phòng, Trưởng phòng Người có công, Trưởng phòng Kế hoạch ‑ Tài chính thuộc Sở Lao động ‑ Thương binh và Xã hội tỉnh Vĩnh Long, Trưởng phòng Lao động ‑ Thương binh và Xã hội :huyen: và ông (bà)</span>
																<span style="background-color: transparent;">&nbsp;:NguoiThoCungLietSy:&nbsp;</span>
																<span style="background-color: transparent; font-weight: 300;">chịu trách nhiệm thi hành Quyết định này./.</span>
															</div>
														</span>
													</div>
												</div>
											</td>
										</tr>
										<tr style="height: 13px;">
											<td style="width: 250px; height: 13px;">
												<p>
													<span style="font-weight: 700;">
														<em>Nơi nhận:</em>
													</span>
												</p>
												<p>
													<em>- Như điều 2;</em>
												</p>
												<p>
													<em>- Lưu HS</em>
												</p>
												<p>&nbsp;</p>
												<p>&nbsp;</p>
												<p>&nbsp;</p>
											</td>
											<td style="width: 380px; height: 13px;">
												<p style="text-align: center;">
													<span style="font-weight: 700;">KT GIÁM ĐỐC</span>
												</p>
												<p style="text-align: center;">
													<span style="font-weight: 700;">PHÓ GIÁM ĐỐC</span>
												</p>
												<p style="text-align: center;">&nbsp;</p>
												<p style="text-align: center;">&nbsp;</p>
												<p style="text-align: center;">&nbsp;</p>
											</td>
										</tr>
									</tbody>
								</table>
								