<table style="width: 630px;">
    <tbody>
        <tr>
            <td style="text-align: center;width: 250px;">
                <div style="text-transform:uppercase;">
                    UBND :Huyen:<br><strong>PHÒNG LAO ĐỘNG‑TB&amp;XH</strong><br>
                    :line_120:
                </div>
            </td>
            <td style="text-align: center; height: 59px; width: 380px;">
                <div>
                    <strong>CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</strong><br><strong>Độc lập ‑ Tự do ‑ Hạnh phúc</strong>
                    <br>
                    :line_160:
                </div>
            </td>
        </tr>
        <tr>
            <td style="width: 620px;" colspan="2">
                <p style="text-align: center;"><strong>PHIẾU BÁO GIẢM</strong></p>
            </td>
        </tr>
    </tbody>
</table>
<table style="width: 630px;">
    <tbody>
        <tr>
            <td style="width: 620px;" colspan="2">
                <p>Họ và tên người hưởng trợ cấp: :HoTen: ‑ Năm sinh :NamSinh:.</p>
                <p>Nguyên quán: :NguyenQuan:.</p>
                <p>Hộ khẩu thường trú: :DiaChi_Full:.</p>
                <p>Chết :NgayMat_NTN:</p>
                <p>:GiayToCC: số: :SoGiayToCC: do :NoiCapCC: cấp ngày :NgayCapCC:.</p>
                <p>Thuộc đối tượng hưởng trợ cấp ưu đãi: (LTCM, TB, BB, TNLS...) TB, người hưởng chính sách như thương binh, TB B từ 21% trở lên.</p>
                <p>Tỷ lệ mất sức lao động:.....</p>
                <p>Số sổ trợ cấp: :SoHoSo:</p>
                <p>Các mức trợ cấp ưu đãi hàng tháng đang hưởng:</p>
                :TroCapDangHuong:
                <p>Nay báo cắt giảm trợ cấp của ông/bà: :HoTen: kể từ <strong> :NgayCat_NTN:</strong>.</p>
                <p>Các chế độ trợ cấp sau khi từ trần bao gồm:</p>
                :TroCapSauKhiMat:
                <p>Ghi chú: .</p>
                <p>‑ Trợ cấp tuất từ trần (nếu có): theo bản khai.</p>
                <p>Xin thông báo để Sở Lao động ‑ Thương binh &amp; Xã hội tỉnh Vĩnh Long làm thủ tục giải quyết chế độ từ trần.</p>
            </td>
        </tr>
        <tr>
            <td style="height: 11px; width: 296px;">&nbsp;</td>
            <td style="height: 11px; width: 318px;">
                <p style="text-align: center;"><em>............, :Now_NTN:</em></p>
                <p style="text-align: center;"><strong>TRƯỞNG PHÒNG</strong></p>
            </td>
        </tr>
    </tbody>
</table>


