<p style="text-align: right;"><strong>Mẫu TKN1</strong></p>
<p style="text-align: center;"><strong>CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM<br /> Độc lập - Tự do - Hạnh phúc<br /> ----------------</strong></p>
<p style="text-align: center;"><strong> </strong></p>
$
<p style="text-align: center;"><strong>BẢN KHAI CÁ NHÂN</strong></p>
<p style="text-align: center;"><strong>Dùng cho người hoạt động cách mạng từ ngày 01 tháng 01 năm 1945 đến ngày khởi nghĩa tháng Tám năm 1945</strong></p>
<p>Họ và tên: :HoTen: Bí danh: :BiDanh:</p>
<p>Sinh :NgaySinh_NTN: Nam/Nữ: :GioiTinh:      </p>
<p>Nguyên quán: :NguyenQuan:  </p>
<p>Trú quán: :DiaChi: </p>
<p>Ngày vào Đảng: :NgayVaoDang: Ngày chính thức: :NgayVaoDang_CT:  </p>
<p>Nguyên là: :ChucVuKhiNghiHuu: Cơ quan, đơn vị: :DonViKhiNghiHuu:</p>
<p>Đã nghỉ hưu :NgayNghiHuu:</p>
<p>Từ :From_NTN: đến ngày khởi nghĩa tháng Tám năm 1945 giữ chức vụ  </p>
<p>Có quá trình tham gia hoạt động cách mạng như sau:</p>
:HoatDong:
<p> </p>
<table>
    <tbody>
        <tr>
            <td style="text-align: center;" width="298">
                <p><em>.... ngày... tháng... năm...</em></p>
                <p style="text-align: left;">Xác nhận của xã, phường …………………….<br /> Ông (bà) …………………… hiện cư trú tại …… ……………………………………………</p>
                <p><strong>TM. UBND<br /> Quyền hạn, chức vụ người ký<br /> </strong><em>(Chữ ký, dấu)<br /> </em><strong>Họ và tên</strong></p>
            </td>
            <td style="text-align: center;" width="298">
                <p><em>.... ngày ... tháng ... năm ...<br /> </em><strong>Người khai<br /> </strong><em>(Ký, ghi rõ họ và tên)</em></p>
            </td>
        </tr>
    </tbody>
</table>