<kt-portlet>
    <kt-portlet-header [sticky]="true" [title]="'Danh sách lịch sử SMS'" [class]="'kt-portlet__head--lg'"
        [viewLoading$]="dataSource.loading$">
        <ng-container ktPortletTools>
            <!-- <button (click)="add()" mat-raised-button color="primary" *ngIf="commonService.CheckRole(57).length>0"
                matTooltip="Thêm mới">
                Thêm mới
            </button> -->
            <kt-column-option [gridService]="gridService"></kt-column-option>
        </ng-container>
    </kt-portlet-header>
    <!-- end::Header -->
    <kt-portlet-body>
        <!-- start::FILTERS & GROUP ACTIONS -->
        <div class="kt-form">
            <!-- start::FILTERS -->
            <!-- Count number of filter -->
            <!-- Calculate rows -->
            <!-- end::FILTERS -->
            <!-- start::GROUP ACTIONS -->
            <div class="row align-items-center collapse kt-form__group-actions kt-margin-top-20 kt-margin-bottom-20"
                [ngClass]="{'show' : selection.selected.length > 0}">
                <div class="col-xl-12">
                    <div class="kt-form__group kt-form__group--inline">
                        <div class="kt-form__label kt-form__label-no-wrap">
                            <label class="kt--font-bold kt-font-danger-">
                                Số lượng đã chọn:
                                {{ selection.selected.length }}
                            </label>
                        </div>
                        <div class="kt-form__control kt-form__group--inline">
                            <button mat-raised-button color="warn" (click)="deleteSMSHistorys()"
                                matTooltip="Xóa lịch sử sms được chọn" class="mat-button-mt-4">
                                <mat-icon>delete</mat-icon>
                                Xóa lịch sử sms
                            </button>&nbsp;
                        </div>
                    </div>
                </div>
            </div>
            <!-- end::GROUP ACTIONS -->
        </div>
        <div class="row">
            <!-- <div class="col-md-12 kt-margin-bottom-10-mobile">
                Tìm kiếm:
            </div> -->
            
            <div class="col-md-4 kt-margin-bottom-10-mobile">
                <mat-form-field class="mat-form-field-fluid">
                    <input matInput [matDatepicker]="pickerbd_tungay" placeholder="Thời gian từ ngày" max="{{BatDau_denngay}}"
                        (dateChange)="DateChanged($event,1)">
                    <mat-datepicker-toggle matSuffix [for]="pickerbd_tungay"></mat-datepicker-toggle>
                    <mat-datepicker #pickerbd_tungay></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-md-4 kt-margin-bottom-10-mobile">
                <mat-form-field class="mat-form-field-fluid">
                    <input matInput [matDatepicker]="pickerbd_denngay" placeholder="Thời gian đến ngày" min="{{BatDau_tungay}}"
                        (dateChange)="DateChanged($event,2)"> 
                    <mat-datepicker-toggle matSuffix [for]="pickerbd_denngay"></mat-datepicker-toggle>
                    <mat-datepicker #pickerbd_denngay></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-md-4 kt-margin-bottom-10-mobile">
            </div>
            <div class="col-md-4 kt-margin-bottom-10-mobile">
                <m-dropdown-tree [data]="datatreeDonVi" [FieldTitle]="'title'" [FieldId]="'id'" [FieldChildren]="'data'"
                    [DropdownTitle]="'Đơn vị'" (SelectedItemTree)="DonViChanged($event)">
                </m-dropdown-tree>
            </div>
            <div class="col-md-4 kt-margin-bottom-10-mobile">
                <mat-form-field class="mat-form-field-fluid">
                    <mat-select placeholder="Chọn loại tin nhắn" [(value)]="Loai" (selectionChange)="loadSMSHistorysList()">
                        <mat-option value="0">
                            -- Tất cả --
                        </mat-option>
                        <mat-option value="1">
                            Thông báo
                        </mat-option>
                        <mat-option value="2">
                            Lịch
                        </mat-option>
                        <!-- <mat-option value="{{item.Id}}" *ngFor="let item of ListLoaiDoiTuong">
                            {{item.Name}}
                        </mat-option> -->
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <!-- end::FILTERS & GROUP ACTIONS -->
        <!-- MATERIAL TABLE | Binded to datasources -->
        <div class="mat-table__wrapper" [ngStyle]="{'overflow-x': gridService.model.haveFilter?'unset':'auto'}">
            <!-- Checkbox Column -->
            <table mat-table class="lmat-elevation-z8" [ngClass]="{'dl-table-flt': gridService.model.haveFilter}" #table
                [dataSource]="dataSource" matSort #sort1="matSort" matSortActive="DanhMuc" matSortDirection="asc"
                matSortDisableClear cdkDropListGroup>
                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef class="mat-column-checkbox" style="padding-right: 20px;">
                        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()" [color]="'primary'">
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row" class="mat-column-checkbox" style="padding-right: 20px;">
                        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)" [color]="'primary'">
                        </mat-checkbox>
                    </td>
                </ng-container>
                <ng-container matColumnDef="STT">
                    <th mat-header-cell *matHeaderCellDef class="stt-cell">STT</th>
                    <td mat-cell class="stt-cell" *matCellDef="let item; let i=index">{{i+ 1}}</td>
                </ng-container>
                <!-- <ng-container matColumnDef="SDT">
                    <th mat-header-cell *matHeaderCellDef>
                        <kt-column-filter enable_sort="true" column_name="SDT" column_title="Số điện thoại">
                        </kt-column-filter>
                    </th>
                    <td mat-cell *matCellDef="let item">
                            {{item.SDT}}

                    </td>
                </ng-container> -->
                <ng-container matColumnDef="Message">
                    <th mat-header-cell *matHeaderCellDef>
                        <kt-column-filter enable_sort="true" column_name="Message" column_title="Tin nhắn">
                        </kt-column-filter>
                    </th>
                    <td mat-cell *matCellDef="let item">
                        {{item.Message}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="Brandname">
                    <th mat-header-cell *matHeaderCellDef>
                        <kt-column-filter enable_sort="true" column_name="Brandname" column_title="Brandname">
                        </kt-column-filter>
                    </th>
                    <td mat-cell *matCellDef="let item">
                        {{item.Brandname}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="Username">
                    <th mat-header-cell *matHeaderCellDef>
                        <kt-column-filter enable_sort="true" column_name="Username" column_title="Username">
                        </kt-column-filter>
                    </th>
                    <td mat-cell *matCellDef="let item">

                        {{item.Username}}
                    </td>
                </ng-container>
                <!-- <ng-container matColumnDef="TrangThai">
                    <th mat-header-cell *matHeaderCellDef>
                        <kt-column-filter enable_sort="true" column_name="TrangThai" column_title="Trạng thái">
                        </kt-column-filter>
                    </th>
                    <td mat-cell *matCellDef="let item">
                        {{item.TrangThai}}
                    </td>
                </ng-container> -->
                <ng-container matColumnDef="Loai">
                    <th mat-header-cell *matHeaderCellDef>
                        <!-- <kt-column-filter enable_sort="true" column_name="Loai" column_title="Trạng thái">
                        </kt-column-filter> -->
                        Loại tin nhắn
                    </th>
                    <td mat-cell *matCellDef="let item">
                        <!-- <span
                            class="kt-badge kt-badge--inline kt-badge--pill kt-badge--{{ getItemCssClassByStatus(item.Locked) }} kt-badge--wide">
                            {{ getItemStatusString(item.Locked) }}
                        </span> -->
                        {{item.LoaiSMS}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="CreatedDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        <!-- <kt-column-filter enable_sort="true" column_name="CreatedDate" column_title="Trạng thái">
                        </kt-column-filter> -->
                        Thời gian
                    </th>
                    <td mat-cell *matCellDef="let item">
                        <!-- <span
                            class="kt-badge kt-badge--inline kt-badge--pill kt-badge--{{ getItemCssClassByStatus(item.Locked) }} kt-badge--wide">
                            {{ getItemStatusString(item.Locked) }}
                        </span> -->
                        {{item.CreatedDate}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="ThanhCong">
                    <th mat-header-cell *matHeaderCellDef>
                        <!-- <kt-column-filter enable_sort="true" column_name="CreatedDate" column_title="Trạng thái">
                        </kt-column-filter> -->
                        Thành công
                    </th>
                    <td mat-cell *matCellDef="let item">
                        <!-- <span
                            class="kt-badge kt-badge--inline kt-badge--pill kt-badge--{{ getItemCssClassByStatus(item.Locked) }} kt-badge--wide">
                            {{ getItemStatusString(item.Locked) }}
                        </span> -->
                        {{item.ThanhCong}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>
                        Thao tác
                    </th>
                    <td mat-cell *matCellDef="let item" style="white-space: nowrap;width: 100px; text-align:left">
                        <!-- <button type="button" (click)="edit(item)" mat-icon-button color="primary"
                            *ngIf="commonService.CheckRole(57).length>0" matTooltip="Chỉnh sửa">
                            <mat-icon>create</mat-icon>
                        </button>&nbsp; -->
                        <button type="button" (click)="edit(item,true)" mat-icon-button color="primary"
                            matTooltip="Xem chi tiết">
                            <mat-icon>remove_red_eye</mat-icon>
                        </button>&nbsp;
                         <button mat-icon-button color="warn" type="button" *ngIf="commonService.CheckRole(77).length>0"
                            (click)="delete(item)" matTooltip="Xóa">
                            <mat-icon>delete</mat-icon>
                        </button>&nbsp;
                        <!-- <button *ngIf="!item.Locked && commonService.CheckRole(57).length>0" mat-icon-button
                            color="warn" type="button" (click)="LockAndUnLock(item)" matTooltip="khóa">
                            <mat-icon>lock</mat-icon>
                        </button>
                        <button *ngIf="item.Locked && commonService.CheckRole(57).length>0" mat-icon-button
                            color="primary" type="button" (click)="LockAndUnLock(item)" matTooltip="Mở Khóa">
                            <mat-icon> lock_open</mat-icon>
                        </button> -->
                        <!-- <button *ngIf="item.Locked" mat-icon-button color="warn" type="button"
                            (click)="LockAndUnLock(item)" matTooltip="Mở khóa">
                            <mat-icon *ngIf="item.Locked">lock</mat-icon>
                        </button>
                        <button *ngIf="!item.Locked" mat-icon-button color="warn" type="button"
                            (click)="LockAndUnLock(item)" matTooltip="Khóa">
                            <mat-icon *ngIf="!item.Locked"> lock_open</mat-icon>
                        </button> -->
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="gridService.model.displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: gridService.model.displayedColumns"></tr>
            </table>
            <div class="mat-table__message" *ngIf="!dataSource.hasItems">{{'COMMON.NO_RECORD_FOUND'|translate}}</div>
        </div>

        <!-- start: BOTTOM -->
        <div class="mat-table__bottom" [ngClass]="{'exist-flt': gridService.model.haveFilter}">
            <div class="flt-selected" *ngIf="gridService.model.haveFilter">
                <mat-chip-list>
                    <ng-container *ngFor="let chip of gridService.model.lstChip">
                        <mat-chip removable="true" *ngIf="chip.type==2" (removed)="gridService.removeText(chip.key)">
                            {{chip.title}}: {{chip.data}}
                            <mat-icon matChipRemove>cancel</mat-icon>
                        </mat-chip>
                        <ng-container *ngIf="chip.type==1">
                            <mat-chip *ngFor="let item of chip.data" removable="true"
                                (removed)="gridService.remove(item,chip.key);gridService.showClearAllButton()">
                                {{chip.title}}: {{item.name}}
                                <mat-icon matChipRemove>cancel</mat-icon>
                            </mat-chip>
                        </ng-container>
                    </ng-container>
                    <mat-chip class="flt-clear" color="primary" removable="true" *ngIf="gridService.model.isClearAll"
                        (click)="gridService.Clear()">
                        Đặt lại
                    </mat-chip>
                </mat-chip-list>
            </div>
            <div class="flt-page">
                <mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
                <mat-paginator [pageSize]="10" [pageSizeOptions]="gridService.model.pageSize"
                    [length]="dataSource.paginatorTotal$ | async" [showFirstLastButtons]="true"></mat-paginator>
            </div>
        </div>
        <!-- end: BOTTOM -->
    </kt-portlet-body>
    <!-- end::Body -->
</kt-portlet>
