<div class="comment-box" [popover]="myPopoverB" [popoverOnHover]="false" (click)="clickonbox($event)">
	<div>
		<popover-content #myPopoverB [closeOnMouseOutside]="true" class="user-info-container">
			<div class="user-info">
				<div class="kt-user-card__avatar">
					<img alt="" src="{{it.Image}}">
				</div>
				<div class="kt-user-card__name">
					<span class="m-card-user__name">{{it.HoTen}}</span>
					<br>
					<span class="m-card-user__username">
						{{it.ChucVu}} &#x2022;
						@{{it.Username}}
					</span>
				</div>
			</div>
		</popover-content>
	</div>
	<div class="kt-form__group">
		<div class="form-group kt-form__group row">
			<div class="col-md-12 kt-margin-bottom-10-mobile comment-input">
				<div class="user-info-container">
					<div class="user-info">
						<div class="kt-user-card__avatar">
							<img alt="" src="{{UserData.Image}}">
						</div>
						<div class="kt-user-card__name">
							<span class="m-card-user__name">{{UserData.HoTen}}</span>
							<br>
							<span class="m-card-user__username">
								{{UserData.ChucVu}} &#x2022;
								@{{UserData.Username}}
							</span>
						</div>
					</div>
					<div class="attachment">
						<button mat-icon-button type="button" (click)="selectFile_PDF(-1)" matTooltip="Upload File">
							<mat-icon>attach_file</mat-icon>
						</button>&nbsp;
						<input type='file' id="PDFInpdd" (change)="onSelectFile_PDF($event,-1)" style="display: none;">
					</div>
				</div>
				<br />
				<mat-form-field class="mat-form-field-fluid">
					<textarea #matInput matInput placeholder="Nhập nội dung và nhấn phím Enter để gửi"
							  [(ngModel)]="Comment" (keydown.enter)="CommentInsert($event.target.value,0,0,1)" rows="2"
							  [popover]="myPopoverC" [popoverOnHover]="false" (input)="onSearchChange($event)"
							  (click)="click($event)">
						</textarea>
				</mat-form-field>
				<div *ngIf="Comment != ''" class="submit-comment" style="font-weight: 500;font-size:16px">
					<button class="btn btn-success float-left" style="padding: 5px 15px;"
							(click)="CommentInsert(Comment,0,0,1)">
						Bình luận
					</button>
					<button class="btn float-right" (click)="Comment=''">
						<i class="la la-close"></i><span>Đóng</span>
					</button>
				</div>

				<!--<ng-container *ngIf="Comment.length>0">
					<button mat-raised-button color="accent" (click)="CommentInsert(Comment,0,0,1)">
						Post now
					</button>
					<br />
				</ng-container>-->
				<!-- <mat-hint *ngIf="setting">Tệp đính kèm là file dạng: {{setting.ACCEPT_DINHKEM}}. Dung lượng không quá
				{{setting.MAX_SIZE/1000000}}MB</mat-hint> -->
			</div>
			<div class="col-md-12 kt-margin-bottom-10-mobile" *ngIf="AttachFileComment.length>0">
				<p style="font-weight:bold">{{AttachFileComment.length}} tệp đính kèm</p>
				<div class="row">
					<div class="col-md-4" *ngFor="let att of AttachFileComment;let ind2 = index">
						<div class="attach-item">
							<div class="attach-item-icon">
								<img src="{{att.icon}}" />
							</div>
							<div class="attach-item-name">
								<p>{{att.filename}}</p>
								<span>
									<a href="viewer/file-dinh-kem/{{att.id_row}}" target="_blank"> Preview</a>&nbsp;&middot;&nbsp;<a href="javascript:;" (click)="DownloadFile(att.path)">Download</a>
								</span>
							</div>
							<div class="attach-item-del">
								<button mat-icon-button color="warn" type="button" (click)="DeleteFile_PDF(-1,ind2)"
										matTooltip="Xóa File">
									<mat-icon>delete</mat-icon>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="form-group kt-form__group row">
			<div class="col-md-12 kt-margin-bottom-10-mobile">
				<span class="comment-count">{{ListYKien.length}} thảo luận</span>
				<hr />
				<div *ngFor="let quyen of ListYKien;let vi = index;" class="comment-container">
					<div class="user-info">
						<div class="kt-user-card__avatar">
							<img src="{{quyen.NguoiTao.image}}">
						</div>
						<div class="kt-user-card__name">
							<p class="m-card-user__name mg-0">
								{{quyen.NguoiTao.hoten}}
							</p>
							<p>
								{{quyen.CreatedDate}}
								<span *ngIf="quyen.cmt==0">
									<span *ngIf="!quyen.IsTre" title="Thời hạn"><mat-icon>watch_later</mat-icon>{{quyen.Deadline}}</span>
									<span *ngIf="quyen.IsTre" style="color:red" title="Thời hạn"><mat-icon color="warn">watch_later</mat-icon>{{quyen.Deadline}}</span>
									<button mat-button mat-raised-button color="info" (click)="inhuongdan(quyen.id_row)" *ngIf="Loai==2 && quyen.IsTraLai">In hướng dẫn</button>
								</span>
							</p>
						</div>
					</div>
					<div class="content">
						<div class="comment">
							<div class="comment-string">
								<span [innerHtml]="parseHtml(quyen.comment)"></span>
							</div>
							<div style="min-width: 50px; min-height: 45px;">
								<ng-container *ngIf="quyen.AllowEdit">
									<button mat-icon-button (click)="initUpdate(quyen, vi)"
											matTooltip="Sửa nội dung bình luận">
										<mat-icon class="action">create</mat-icon>
									</button>
									<button mat-icon-button (click)="remove(quyen, vi)" matTooltip="Xóa bình luận">
										<mat-icon class="action">delete</mat-icon>
									</button>
								</ng-container>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4" *ngIf="quyen.ls_att">
								<div class="attach-item show-action">
									<div class="attach-item-icon">
										<img src="{{quyen.ls_att.icon}}" />
									</div>
									<div class="attach-item-name">
										<p>{{quyen.ls_att.filename}}</p>
										<span>
											<a href="viewer/file-dinh-kem/0?path={{quyen.ls_att.path}}" target="_blank"> Preview</a>&nbsp;&middot;&nbsp;
											<a href="javascript:;" (click)="DownloadFile(quyen.ls_att.path)">Download</a>
										</span>
									</div>
								</div>
							</div>
						</div>
						<div class="row" *ngIf="quyen.Attachment?quyen.Attachment.length>0:false">
							<div class="col-md-12 kt-margin-bottom-10-mobile" *ngFor="let att2 of quyen.Attachment;let ind2 = index">
								<div class="attach-item show-action">
									<div class="attach-item-icon">
										<img src="{{att2.icon}}" />
									</div>
									<div class="attach-item-name">
										<p>{{att2.filename}}</p>
										<span>
											<a href="viewer/file-dinh-kem/{{att2.id_row}}" target="_blank">Preview</a>&nbsp;&middot;&nbsp;
											<a href="javascript:;" (click)="DownloadFile(att2.path)">Download</a>
										</span>
									</div>
									<div class="attach-item-del">
										<button mat-icon-button color="warn" type="button" matTooltip="Xóa File" (click)="DeleteFile_PDF(vi,ind2)">
											<mat-icon>delete</mat-icon>
										</button>
									</div>
								</div>
							</div>
						</div>
						<div class="row" *ngIf="quyen.cmt=='1'">
							<div class="col-md-12 comment-like">
								<a href="javascript:void(0)" (click)="ShowOrHideComment(vi)" class="kt-font-bolder">
									Trả lời <span class="comment-num">{{quyen.Children?quyen.Children.length:0}}</span>
								</a> &nbsp;&middot;&nbsp;
								<span [popover]="myPopover" [popoverOnHover]="true" [popoverCloseOnMouseOutside]="true">
									<a *ngIf="quyen.Like" href="javascript:;" class="{{quyen.Like.title}}"
									   (click)="like(quyen,0)">
										<img src="{{quyen.Like.icon}}" />
										{{quyen.Like.title}}
									</a>
									<a *ngIf="!quyen.Like" href="javascript:;" (click)="like(quyen,1)">
										<mat-icon class="thumb_up">thumb_up</mat-icon>
										Like
									</a>
								</span>
								<div>
									<popover-content #myPopover class="reaction-box-container"
													 [closeOnMouseOutside]="true">
										<div class="reaction-box">
											<div class="reaction-icon" *ngFor="let icon of icons"
												 (click)="like(quyen,icon.id_row)">
												<label>{{icon.title}}</label>
												<div class="reaction-img">
													<img src="{{icon.icon}}">
												</div>
											</div>
										</div>
									</popover-content>
								</div>
								<span class="total-like">
									<ng-container *ngFor="let like of quyen.Likes">
										<span *ngIf="like.tong>0">
											<img src="{{like.icon}}" />
											{{like.tong}}
										</span>
									</ng-container>
								</span>
							</div>
						</div>
						<div id="ykchild{{vi}}" class="child">
							<div class="comment-inline" *ngFor="let child of quyen.Children; let vic=index">
								<div class="user-info">
									<div class="kt-user-card__avatar">
										<img src="{{child.NguoiTao.image}}">
									</div>
									<div class="kt-user-card__name">
										<div style="display:flex;    line-height: 27px;">
											<div class="comment">
												<div class="comment-string">
													<span class="m-card-user__name">{{child.NguoiTao.hoten}}</span>
													<span [innerHtml]="parseHtml(child.comment)"></span>
												</div>
												<div style="min-width: 50px; min-height: 45px;">
													<ng-container *ngIf="child.AllowEdit">
														<button mat-icon-button (click)="initUpdate(child,vi, vic)"
																matTooltip="Sửa nội dung bình luận">
															<mat-icon class="action">create</mat-icon>
														</button>
														<button mat-icon-button (click)="remove(child, vi, vic)"
																matTooltip="Xóa bình luận">
															<mat-icon class="action">delete</mat-icon>
														</button>
													</ng-container>
												</div>
											</div>
										</div>

										<div *ngIf="child.Attachment?child.Attachment.length>0:false" class="row">
											<div class="col-md-12 kt-margin-bottom-10-mobile"
												 *ngFor="let att1 of child.Attachment;">
												<div class="image-inline" *ngIf="att1.isImage">
													<img src="{{att1.path}}" />
												</div>
												<div class="attachment-inline" *ngIf="!att1.isImage">
													<div>
														<mat-icon>attach_file</mat-icon>
														{{att1.filename}}
													</div>
													<a href="javascript:void(0)"
													   (click)="DownloadFile(att1.path)">Download </a>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-12 comment-like">
												<span [popover]="myPopover" [popoverOnHover]="true"
													  [popoverCloseOnMouseOutside]="true">
													<a href="javascript:;" *ngIf="child.Like"
													   class="{{child.Like.title}}" (click)="like(child,0)">
														<img src="{{child.Like.icon}}" />
														{{child.Like.title}}
													</a>
													<a *ngIf="!child.Like" href="javascript:;" (click)="like(child,1)">
														<mat-icon class="thumb_up">thumb_up</mat-icon>
														Like
													</a>
												</span>
												<div>
													<popover-content #myPopover class="reaction-box-container"
																	 [closeOnMouseOutside]="true">
														<div class="reaction-box">
															<div class="reaction-icon" *ngFor="let icon of icons"
																 (click)="like(child,icon.id_row)">
																<label>{{icon.title}}</label>
																<div class="reaction-img">
																	<img src="{{icon.icon}}">
																</div>
															</div>
														</div>
													</popover-content>
												</div>
												&nbsp;&middot;&nbsp;
												<a href="javascript:void(0)" (click)="reply(child, vi)">
													Reply
												</a> &nbsp;&middot;&nbsp; {{child.CreatedDate}}
												<span class="total-like">
													<ng-container *ngFor="let like of child.Likes">
														<span *ngIf="like.tong>0">
															<img src="{{like.icon}}" />
															{{like.tong}}
														</span>
													</ng-container>
												</span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div id="inputtext{{vi}}" class="col-md-12 kt-margin-bottom-10-mobile">
									<mat-form-field class="mat-form-field-fluid">
										<input matInput placeholder="Nhập nội dung và nhấn phím Enter để gửi"
											   id="CommentRep{{vi}}" autocomplete="off"
											   (keydown.enter)="CommentInsert($event.target.value,quyen.id_row,vi,2)"
											   type="text" value="" [popover]="myPopoverC" [popoverOnHover]="false"
											   (input)="onSearchChange($event, vi)" (click)="click($event, vi)">
										<button matSuffix mat-icon-button color="primary" type="button"
												(click)="selectFile_PDF(vi)" matTooltip="Upload File">
											<mat-icon>attach_file</mat-icon>
										</button>
										<button matSuffix mat-icon-button color="primary" type="button"
												(click)="openEmotionDialog(vi,quyen.id_row)">
											<mat-icon>tag_faces</mat-icon>
										</button>
									</mat-form-field>
									<!-- CommentInsert($event.target.value,quyen.id_row,i,2) -->
								</div>

								<!--<div id="btnattach{{vi}}"
								 class="col-md-1 kt-margin-bottom-10-mobile">
								<button mat-icon-button color="primary" type="button" (click)="selectFile_PDF(vi)"
										matTooltip="Upload File">
									<mat-icon>attach_file</mat-icon>
								</button>&nbsp;-->

								<input type='file' id="PDFInpdd{{vi}}" (change)="onSelectFile_PDF($event,vi)"
									   style="display: none;">
								<!--</div>-->
								<div class="row" style="padding-left: 20px; ">
									<div class="col-md-12 kt-margin-bottom-10-mobile"
										 *ngFor="let att3 of GetListAttach(vi);let ind1 = index">
										{{att3.filename}}
										<button mat-icon-button color="warn" type="button"
												(click)="DeleteFile_PDF(vi,ind1)" matTooltip="Xóa File">
											<mat-icon>delete</mat-icon>
										</button>&nbsp;
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<span #hiddenText
		  style="visibility:hidden; white-space: pre;font-size:1.1rem; position:absolute">{{CommentTemp}}</span>
</div>
<div>
	<popover-content #myPopoverC placement="bottom-left" [closeOnClickOutside]="true">
		<kt-choose-users [options]="options" (ItemSelected)="ItemSelected($event)"></kt-choose-users>
	</popover-content>
</div>

