<table style="width: 630px;">
<tbody>
<tr style="height: 74px;">
<td style="text-align: center; width: 250px; height: 74px; vertical-align: top;">&nbsp;UBND TỈNH VĨNH LONG<br /><span style="font-weight: bold;">SỞ LAO ĐỘNG</span><br /><span style="font-weight: bold;">THƯƠNG BINH V&Agrave; X&Atilde; HỘI</span><br />:line_120:</td>
<td style="text-align: center; width: 380px; height: 74px; vertical-align: top;"><span style="font-weight: bold;">&nbsp;CỘNG H&Ograve;A X&Atilde; HỘI CHỦ NGHĨA VIỆT NAM</span><br /><span style="font-weight: bold;">Độc lập - Tự do - Hạnh ph&uacute;c</span><br />:line_160:</td>
</tr>
<tr style="height: 13px;">
<td style="width: 250px; height: 13px; text-align: center; vertical-align: top;">&nbsp;Số: :SoQuyetDinh:/QĐ SLĐTBXH &nbsp;</td>
<td style="text-align: center; width: 380px; height: 13px; vertical-align: top;">&nbsp;Vĩnh Long, ng&agrave;y ...:Now_TN:</td>
</tr>
<tr style="height: 13px;">
<td style="width: 630px; height: 13px;" colspan="2">
<p style="text-align: center;"><span style="font-weight: bold;">QUYẾT ĐỊNH</span></p>
<div style="text-align: center;"><span style="font-weight: bold;">Về việc trợ cấp h&agrave;ng th&aacute;ng đối với</span></div>
<div style="text-align: center;"><strong>Người hoạt động c&aacute;ch mạng trước c&aacute;ch mạng th&aacute;ng 8/1945</strong><br />:line_160:</div>
<p style="text-align: center;"><span style="font-weight: bold;">GI&Aacute;M ĐỐC SỞ LAO ĐỘNG ‑ THƯƠNG BINH V&Agrave; X&Atilde; HỘI</span></p>
<p><em>&nbsp; &nbsp; &nbsp;Căn cứ Nghị định số 31/2013/NĐ‑CP ng&agrave;y 09 th&aacute;ng 4 năm 2013 của Ch&iacute;nh phủ quy định chi tiết, hướng dẫn thi h&agrave;nh một số điều của Ph&aacute;p lệnh ưu đ&atilde;i người c&oacute; c&ocirc;ng với c&aacute;ch mạng;</em></p>
<p><em>&nbsp; &nbsp; &nbsp;Căn cứ Nghị định số 99/2018/NĐ CP ng&agrave;y 12 th&aacute;ng 7 năm 2018 của Ch&iacute;nh phủ quy định mức trợ cấp, phụ cấp ưu đ&atilde;i đối với người c&oacute; c&ocirc;ng với c&aacute;ch mạng;</em></p>
<p><em>&nbsp; &nbsp; &nbsp;Căn cứ bảng đề nghị số 188/TLKT BS ng&agrave;y 17/08/2020 của UBND x&atilde; B&igrave;nh Ninh về việc cắt trợ cấp của &ocirc;ng (b&agrave;) :HoTen: đ&atilde; từ trần ng&agrave;y :NgayMat:;</em></p>
<p><em>&nbsp; &nbsp; &nbsp;Căn cứ phiếu b&aacute;o giảm của ph&ograve;ng Lao động Thương binh v&agrave; X&atilde; hội :huyen: về việc cắt trợ cấp h&agrave;ng th&aacute;ng của &ocirc;ng (b&agrave;) :HoTen: đ&atilde; từ trần ng&agrave;y :NgayMat:</em></p>
<p><em>&nbsp; &nbsp; &nbsp;</em><em>Căn cứ hồ sơ người hoạt động c&aacute;ch mạng từ ng&agrave;y 01/01/1945 đến ng&agrave;y khởi nghĩa th&aacute;ng 8/1945 của &ocirc;ng (b&agrave;)</em><em>&nbsp;<span style="font-weight: bold;">:HoTen:</span></em><em>, số hồ sơ </em><em>:SoHoSo:;</em></p>
<p><em>&nbsp; &nbsp; &nbsp;Theo đề nghị của Trưởng ph&ograve;ng Người c&oacute; c&ocirc;ng.</em></p>
<p style="text-align: center;"><span style="font-weight: bold;">QUYẾT ĐỊNH:</span></p>
<p><span style="font-weight: bold;">Điều 1.</span>&nbsp;&nbsp;Nay th&ocirc;i trả trợ cấp thương binh h&agrave;ng th&aacute;ng của&nbsp;<span>&ocirc;ng (b&agrave;)&nbsp;<strong>:HoTen:</strong></span></p>
<p>- Sinh năm:&nbsp;:NamSinh:</p>
<p>- Cư ngụ: :DiaChi_Full:</p>
<p>- Kể từ: :NgayTroCap:</p>
<p>- Số tiền&nbsp;<span>trợ cấp:&nbsp;</span><span>:TienTroCap(23):&nbsp;đồng</span>&nbsp;<span>.</span></p>
<p>(Bằng chữ: :TienTroCap_Chu(23):).</p>
<span style="font-weight: bold;">Điều 2.</span>&nbsp;&nbsp;C&aacute;c &ocirc;ng (b&agrave;): Ch&aacute;nh văn ph&ograve;ng, Trưởng ph&ograve;ng Người c&oacute; c&ocirc;ng, Trưởng ph&ograve;ng Kế hoạch ‑ T&agrave;i ch&iacute;nh thuộc Sở Lao động ‑ Thương binh v&agrave; X&atilde; hội tỉnh Vĩnh Long, Trưởng ph&ograve;ng Lao động ‑ Thương binh v&agrave; X&atilde; hội :huyen: chịu tr&aacute;ch nhiệm thi h&agrave;nh Quyết định n&agrave;y./.</td>
</tr>
<tr style="height: 13px;">
<td style="width: 250px; height: 13px; vertical-align: top;">
<p><span style="font-weight: bold;"><em>Nơi nhận:</em></span></p>
</td>
<td style="width: 380px; height: 13px; vertical-align: top;">
<p style="text-align: center;"><span style="font-weight: bold;">KT GI&Aacute;M ĐỐC</span></p>
</td>
</tr>
</tbody>
</table>
