<p>SỞ LAO ĐỘNG - TBXH TỈNH/THÀNH PHỐ {0}</p>
<p style="text-align:center;"><strong>BÁO CÁO TÌNH HÌNH TẶNG QUÀ </strong></p>
<p style="text-align:center;"><strong style="text-transform:uppercase">{1} </strong></p>
<div class="mat-table__wrapper">
    <table mat-table class="lmat-elevation-z8">
        <tr style="text-align: center">
            <th style="border-top: 1px solid; border-right: 1px solid; border-left: 1px solid; border-image: initial; border-bottom: 1px solid; width: 105px;">
                <p>TT</p>
            </th>
            <th style="border-top: 1px solid; border-right: 1px solid; border-image: initial; border-left: none; border-bottom: 1px solid; width: 262px;">
                <p>Loại đối tượng</p>
            </th>
            <th style="border-top: 1px solid; border-right: 1px solid; border-image: initial; border-left: none; border-bottom: 1px solid; width: 129px;">
                <p>Số người</p>
            </th>
            <th style="border-top: 1px solid; border-right: 1px solid; border-image: initial; border-left: none; border-bottom: 1px solid; width: 179px;">
                <p>Số tiền</p>
            </th>
        </tr>
        {2}
        <tr>
            <td style="border-right: 1px solid; border-image: initial; border-left: 1px solid; border-bottom: 1px solid;"></td>
            <td style="border-right: 1px solid; border-image: initial; border-left: none; border-bottom: 1px solid; font-weight:bold">Tổng cộng</td>
            <td style="border-right: 1px solid; border-image: initial; border-left: none; border-bottom: 1px solid;font-weight:bold">{3}</td>
            <td style="border-right: 1px solid; border-image: initial; border-left: none; border-bottom: 1px solid;font-weight:bold;text-align: right">{4}</td>
        </tr>
    </table>
</div>
^
<tr>
    <td style="border-right: 1px solid; border-image: initial; border-left: 1px solid; border-bottom: 1px solid; text-align: center">{0}</td>
    <td style="border-right: 1px solid; border-image: initial; border-left: none; border-bottom: 1px solid;">{1}</td>
    <td style="border-right: 1px solid; border-image: initial; border-left: none; border-bottom: 1px solid;">{2}</td>
    <td style="border-right: 1px solid; border-image: initial; border-left: none; border-bottom: 1px solid;text-align: right">{3}</td>
</tr>
