<table style="width: 950px; font-size: 12pt;">
    <tbody>
        <tr style="width: 350px;text-align: center;">
            <td>
                <span><strong>@ubnd<br /> <strong>PHÒN<u>G LAO ĐỘNG - TB </u>XH</strong></strong></span><br />
            <br />
            </td>
            <td style="width: 600px;text-align: center;">
                <span><strong>CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM<br /> <u>Độc lập - Tự do - Hạnh phúc</u> </strong></span><br />
                <br />
            </td>
        </tr>
    </tbody>
</table>
<p style="text-align: center; font-size: 13pt"><strong>DANH SÁCH ĐỀ NGHỊ XÉT DUYỆT HỒ SƠ</strong></p>
<table style="width: 950px; font-size: 12pt;">
    <tbody>
        <tr style="height: 60px;">
            <td style="width: 5px; text-align: center; border: thin solid; border-right: none;"><strong>Stt</strong></td>
            <td style="width: 30px; text-align: center; border: thin solid; border-right: none;"><strong>Họ tên người có công</strong></td>
            <td style="width: 35px; text-align: center; border: thin solid; border-right: none;"><strong>Loại đối tượng</strong></td>
            <td style="width: 10px; text-align: center; border: thin solid; border-right: none;"><strong>Năm sinh</strong></td>
            <td style="width: 30px; text-align: center; border: thin solid; border-right: none;"><strong>Họ tên Liệt sĩ (nếu có)</strong></td>
            <td style="width: 30px; text-align: center; border: thin solid; border-right: none;"><strong>Nơi hưởng trợ cấp</strong></td>
            <td style="width: 10px; text-align: center; border: thin solid; border-right: none;"><strong>Họ tên thân nhân</strong></td>
            <td style="width: 10px; text-align: center; border: thin solid; border-right: none;"><strong>Năm sinh</strong></td>
            <td style="width: 10px; text-align: center; border: thin solid; border-right: none;"><strong>Quan hệ</strong></td>
            <td style="width: 25px; text-align: center; border: thin solid; border-right: none;"><strong>Nguyên quán</strong></td>
            <td style="width: 25px; text-align: center; border: thin solid; border-right: none;"><strong>Cư trú</strong></td>
            <td style="width: 20px; text-align: center; border: thin solid; border-right: none;"><strong>Loại hồ sơ</strong></td>
            <td style="width: 10px; text-align: center; border: thin solid; border-right: none;"><strong>Người nhận hồ sơ</strong></td>
            <td style="width: 10px; text-align: center; border: thin solid;"><strong>Ghi chú</strong></td>
        </tr>
        {0}
    </tbody>
</table> <br/>
<table style="width: 950px; font-size: 12pt">
    <tbody>
        <tr>
            <td style="text-align: center;">
                <p><strong>LẬP BẢNG <br /><br /><br /></strong></p>
                <p> </p>
                <p> </p>
            </td>
            <td style="text-align: center;">
                <p><strong>{1} <br > KT. TRƯỞNG PHÒNG <br /> PHÓ TRƯỞNG PHÒNG</strong></p>
                <p> </p>
                <p> </p>
            </td>
        </tr>
        <tr></tr>
        <tr>
            <td colspan="2" style="text-align: center; padding-right: 68px;"><strong>PHÒNG NGƯỜI CÓ CÔNG</strong></td>
        </tr>
        <tr>
            <td style="text-align: center;">
                <strong>NGÀY NHẬN HỒ SƠ</strong>
            </td>
            <td style="text-align: center;">
                <strong>NGƯỜI NHẬN</strong>
            </td>
        </tr>
    </tbody>
</table>
^
<tr>
    <td style="text-align: center; border: thin solid; border-right: none;">{0}</td>
    <td style="text-align: center; border: thin solid; border-right: none;">{1}</td>
    <td style="text-align: center; border: thin solid; border-right: none;">{2}</td>
    <td style="text-align: center; border: thin solid; border-right: none;">{3}</td>
    <td style="text-align: center; border: thin solid; border-right: none;">{4}</td>
    <td style="text-align: center; border: thin solid; border-right: none;">{5}</td>
    <td style="text-align: center; border: thin solid; border-right: none;">{6}</td>
    <td style="text-align: center; border: thin solid; border-right: none;">{7}</td>
    <td style="text-align: center; border: thin solid; border-right: none;">{8}</td>
    <td style="text-align: center; border: thin solid; border-right: none;">{9}</td>
    <td style="text-align: center; border: thin solid; border-right: none;">{10}</td>
    <td style="text-align: center; border: thin solid; border-right: none;">{11}</td>
    <td style="text-align: center; border: thin solid; border-right: none;">{12}</td>
    <td style="text-align: center; border: thin solid;">{13}</td>
</tr>    
