<table style="width: 1032px;" data-SheetName="TOÀN TỈNH">
    <tbody>
        <tr style="">
            <td style="text-align: center;" colspan="4"><strong style="text-transform:uppercase">UBND TỈNH VĨNH LONG</strong></td>
            <td style="text-align: center;" colspan="{8}"><strong>CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</strong></td>
        </tr>
        <tr style="">
            <td style="text-align: center;" colspan="4"><strong>PHÒNG LĐ - TB&amp;XH</strong></td>
            <td style="text-align: center;" colspan="{8}"><strong>Độc lập - Tự do - Hạnh phúc</strong></td>
        </tr>
        <tr style="">
            <td style="width: 19px;" colspan="{9}"> </td>
        </tr>
        <tr style="">
            <td style="text-align: center;" colspan="{9}"><strong>BẢNG TỔNG HỢP KINH PHÍ QUÀ {13} CHO NGƯỜI CÓ CÔNG VÀ THÂN NHÂN NGƯỜI CÓ CÔNG VỚI CÁCH MẠNG</strong></td>
        </tr>
        <tr style="">
            <td style="text-align: center;" colspan="{9}"><strong>NHÂN DỊP {11} NĂM {12}</strong></td>
        </tr>
        <tr style="">
            <td style="text-align: center;" colspan="{9}"><strong>NGÂN SÁCH {10}</strong></td>
        </tr>
        <tr style="">
            <td style="text-align: center;" colspan="{9}"><em>(Đính kèm Công văn số……./SLĐTBXH-NCC ngày……tháng …...... năm …........    của Sở Lao động-Thương binh và Xã hội tỉnh Vĩnh Long)</em></td>
        </tr>
        <tr style="">
            <td style="" colspan="{9}"><strong>{14}</strong></td>
        </tr>
        <tr style="">
            <td colspan="{9}"> </td>
        </tr>
        <tr style="height:30px;vertical-align: middle; font-size:12px;">
            <td style="width: 30px; text-align: center; border: thin solid; border-right:none;" rowspan="2"><strong>TT</strong></td>
            <td style="width: 160px; text-align: center; border: thin solid; border-right:none;" rowspan="2"><strong>Đơn vị</strong></td>
            {0}
            <td style="width: 80px; text-align: center; border: thin solid; border-right:none;" rowspan="2">Tổng số người có 2 mức quà {1}</td>
            <td style="width: 80px; text-align: center; border: thin solid;" rowspan="2">Cộng dồn TW có {2} mức tiền {1}</td>
        </tr>
        <tr style="vertical-align: middle; font-size:12px;">
            {3}
        </tr>
        {4}
        <tr style="height: 30px; vertical-align: middle; font-size:12px;">
            <td style="border: thin solid; border-right:none; border-top:none;"> </td>
            <td style="border: thin solid; border-right:none; border-top:none;"><strong>CỘNG</strong></td>
            {5}
            <td style="text-align: right; border: thin solid; border-right:none; border-top:none;"><strong>{6}</strong></td>
            <td style="text-align: right; border: thin solid; border-top:none;"><strong>{7}</strong></td>
        </tr>
    </tbody>
</table>
$
<td style="width: 70px; text-align: center; border: thin solid; border-right: none;" colspan="{0}"><strong>Mức quà {1}đ</strong></td>
^
{0}
<td style="width: 70px; text-align: center; border: thin solid; border-right:none; border-top:none;">Tổng số người</td>
<td style="width: 70px; text-align: center; border: thin solid; border-right:none; border-top:none;">Tổng số tiền mức quà {1}đ</td>
^
<td style="width: 70px; text-align: center; border: thin solid; border-right:none; border-top:none;">{0}</td>
$
<tr style="height:30px;vertical-align: middle; font-size:12px;">
    <td style="border: thin solid; border-right:none; border-top:none;">{0}</td>
    <td style="border: thin solid; border-right:none; border-top:none;">{1}</td>
    {2}
    <td style="text-align: right; border: thin solid; border-right:none; border-top:none;">{3}</td>
    <td style="text-align: right; border: thin solid; border-top:none;">{4}</td>
</tr>
^
{0}
<td style="text-align: center; border: thin solid; border-right:none; border-top:none;">{1}</td>
<td style="text-align: right; border: thin solid; border-right:none; border-top:none;">{2}</td>
^
<td style="text-align: center; border: thin solid; border-right:none; border-top:none;">{0}</td>
^
{0}
<td style="text-align: center; border: thin solid; border-right:none; border-top:none;"><b>{1}</b></td>
<td style="text-align: right; border: thin solid; border-right:none; border-top:none;"><b>{2}</b></td>
^
<td style="text-align: center; border: thin solid; border-right:none; border-top:none;"><b>{0}</b></td>