<p style="text-align: right;"> </p>
<p style="text-align: right;"><strong>Mẫu HS7</strong></p>
<table>
    <tbody>
        <tr>
            <td style="text-align: center;" width="223">
                <p>…………..….<strong><br /> TÊN CƠ QUAN, ĐƠN VỊ……<br /> --------</strong></p>
            </td>
            <td style="text-align: center;" width="375">
                <p><strong>CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM<br /> Độc lập - Tự do - Hạnh phúc<br /> ----------------</strong></p>
            </td>
        </tr>
        <tr>
            <td style="text-align: center;" width="223">
                <p>Số: …../PB-</p>
            </td>
            <td style="text-align: center;" width="375">
                <p><em>…., ngày … tháng … năm .....</em></p>
            </td>
        </tr>
    </tbody>
</table>
$
<p><strong> </strong></p>
<p style="text-align: center;"><strong>PHIẾU BÁO DI CHUYỂN HỒ SƠ ………(1)………….</strong></p>
<p style="text-align: center;"><strong>Kính gửi:</strong> …………………………………</p>
<p>………..(2)…………………….. di chuyển hồ sơ của ông/bà: ………………………………………….</p>
<p>Sinh ngày ... tháng ... năm …………….. Nam/nữ ……………………………….</p>
<p>Nguyên quán: ………………………………………………………………………..</p>
<p>Nay chuyển đến cư trú tại: ……………………………………………………………..</p>
<p>Số hồ sơ: ……………………………………………………………………………………………..</p>
<p>Các giấy tờ trong hồ sơ: …………………………(3) ……………………………………..</p>
<p>Ông/bà ……………………………….. đã nhận trợ cấp, phụ cấp hàng tháng đến hết ... tháng... năm ….:</p>
<p>Trợ cấp: …………………………………………………………………………đồng</p>
<p>Phụ cấp: ……………………………………………………………………….. đồng</p>
<p>Cộng = …………………………………………………đồng</p>
<p>Các chế độ ưu đãi khác đã được giải quyết như sau:</p>
<p>…………………………………………………………………………………………..</p>
<p>Đề nghị Sở Lao động - Thương binh và Xã hội tỉnh, thành phố: …………………………. tiếp nhận và thực hiện chế độ ưu đãi đối với ông/bà: …………………….. kể từ tháng ……. năm …………/.</p>
<p> </p>
<table>
    <tbody>
        <tr>
            <td width="295">
                <p><strong><em> </em></strong></p>
                <p><strong><em>Nơi nhận:<br /> </em></strong>- Như trên;<br /> - Cục NCC;<br /> - Ông/bà… (để biết)<br /> - Lưu</p>
            </td>
            <td width="295">
                <p style="text-align: center;"><em>…., ngày   tháng   năm   </em><strong><br /> THỦ TRƯỞNG CƠ QUAN, ĐƠN VỊ<br /> </strong><em>(Chữ ký, dấu)<br /> </em><strong>Họ và tên</strong></p>
            </td>
        </tr>
    </tbody>
</table>
<p><strong><em>Ghi chú:</em></strong></p>
<p>(1) Loại hồ sơ</p>
<p>(2) Tên cơ quan, đơn vị chuyển hồ sơ</p>
<p>(3) Liệt kê các loại giấy tờ có trong hồ sơ.</p>