<table width="950px">
    <tbody>
        <tr>
            <td style="width: 350px;text-align: center;">
                <span style="text-align: center;text-transform:uppercase">@ubnd</span><br />
                <span style="text-align: center;"><strong>PHÒNG LAO ĐỘNG</strong></span><br />
                <span style="text-align: center;"><strong>THƯƠNG BINH VÀ XÃ HỘI</strong></span><br />
                <table width="120px" style="display:inline-block;"><tr><th style="width:120px; border-style:solid; border-width: 1px;border-right: none;border-left: none;border-bottom: none"></th></tr></table>
            </td>
            <td style="width: 600px;text-align: center;">
                <span style="text-align: center;"><strong>CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</strong></span><br />
                <span style="text-align: center;"><strong>Độc lập ‑ Tự do ‑ Hạnh phúc</strong></span><br />
                <table width="160px" style="display:inline-block;"><tr><th style="width:160px; border-style:solid; border-width: 1px;border-right: none;border-left: none;border-bottom: none"></th></tr></table>
                <div style="text-align:right;">
                    <em>. . . . . ., ngày . . . tháng @thang năm @nam</em>
                    <span style="font-size:12pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<table width="950px">
    <tbody>
        <tr>
            <td style="width: 950px;text-align:center">
                <span style="text-align: center;"><strong>DANH SÁCH ĐỐI TƯỢNG NHẬN QUÀ </strong></span>
                <br />
                <span style="text-transform:uppercase"><strong>{1}</strong></span>
                <br />
                <span style="text-align: center;"><strong>(Nguồn ngân sách {3})</strong></span>
                <br />
                <span style="text-align: center;">(Ban hành kèm theo tờ trình số {5}/TTr-LĐTBXH ngày {6} của Phòng lao động-TBXH @huyen)</span>
            </td>
        </tr>
    </tbody>
</table>
{4}
$
<p><strong> {0}</strong></p>
<table width="950px">
    <tbody>
        <tr style="">
            <th style="width: 3%; text-align: center; border-style: solid; border-width: 1px; border-right: none;"><strong>TT</strong></th>
            <th style="width: 15%; text-align: center; border-style: solid; border-width: 1px; border-right: none;"><strong>Họ và tên người nhận Quà</strong></th>
            <th style="width: 15%; text-align: center; border-style: solid; border-width: 1px; border-right: none;"><strong>Mã Số Hồ Sơ</strong></th>
            <th style="width: 9%; text-align: center; border-style: solid; border-width: 1px; border-right: none;"><strong>Ấp‑khóm</strong></th>
            <th style="width: 10%; text-align: center; border-style: solid; border-width: 1px; border-right: none;"><strong>Mức quà tặng</strong></th>
            <th style="width: 15%; text-align: center; border-style: solid; border-width: 1px; border-right: none;"><strong>Họ và tên liệt sĩ</strong></th>
            <th style="width: 10%; text-align: center; border-style: solid; border-width: 1px; border-right: none;"><strong>Quan hệ với NCC</strong></th>
            <th style="width: 8%; text-align: center; border-style: solid; border-width: 1px; border-right: none;"><strong>Ký nhận</strong></th>
            <th style="width: 15%; text-align: center; border: solid; border-width: 1px ;"><strong>Ghi rõ họ tên người nhận</strong></th>
        </tr>
        <tr style="">
            <td style="text-align: center; border-style: solid; border-width: 1px; border-right: none; border-top:none;"><strong>1</strong></td>
            <td style="text-align: center; border-style: solid; border-width: 1px; border-right: none; border-top:none;"><strong>2</strong></td>
            <td style="text-align: center; border-style: solid; border-width: 1px; border-right: none; border-top:none;"><strong>3</strong></td>
            <td style="text-align: center; border-style: solid; border-width: 1px; border-right: none; border-top:none;"><strong>4</strong></td>
            <td style="text-align: center; border-style: solid; border-width: 1px; border-right: none; border-top:none;"><strong>5</strong></td>
            <td style="text-align: center; border-style: solid; border-width: 1px; border-right: none; border-top:none;"><strong>6</strong></td>
            <td style="text-align: center; border-style: solid; border-width: 1px; border-right: none; border-top:none;"><strong>7</strong></td>
            <td style="text-align: center; border-style: solid; border-width: 1px; border-right: none; border-top:none;"><strong>8</strong></td>
            <td style="text-align: center; border-style: solid; border-width: 1px; border-top:none;"><strong>9</strong></td>
        </tr>
        {1}
        <tr style="">
            <td style="border-style: solid; border-width: 1px; border-right: none; border-top:none;" colspan="3"><strong>Tổng Cộng: {5}</strong></td>
            <td style="border-style: solid; border-width: 1px; border-right: none; border-top:none; text-align:center;"><strong>{3}</strong></td>
            <td style="border-style: solid; border-width: 1px; border-right: none; border-top:none; text-align:center;"><strong>{4}</strong></td>
            <td style="border-style: solid; border-width: 1px; border-right: none; border-top:none;"> </td>
            <td style="border-style: solid; border-width: 1px; border-right: none; border-top:none;"> </td>
            <td style="border-style: solid; border-width: 1px; border-right: none; border-top:none;"> </td>
            <td style="border-style: solid; border-width: 1px; border-top:none;"> </td>
        </tr>
        <tr style="">
            <td style="border-style: solid; border-width: 1px; border-right: none; border-top:none;" colspan="4"><strong>Tổng cộng: {5}</strong></td>
            <td style="border-style: solid; border-width: 1px; border-right: none; border-top:none; text-align:center;"><strong>{4}</strong></td>
            <td style="border-style: solid; border-width: 1px; border-right: none; border-top:none;"> </td>
            <td style="border-style: solid; border-width: 1px; border-right: none; border-top:none;"> </td>
            <td style="border-style: solid; border-width: 1px; border-right: none; border-top:none;"> </td>
            <td style="border-style: solid; border-width: 1px; border-top:none;"> </td>
        </tr>
    </tbody>
</table>
<p><strong>Ấn định: {3} người                                                                    Số tiền: {4} đồng</strong></p>
<p><strong>Bằng chữ: {6}</strong></p>
<table width="950px">
    <tbody>
        <tr style="height: 26px;">
            <td style="width: 475px; text-align: center;" colspan="2"><strong>Bên nhận chi trả</strong></td>
            <td style="width: 475px; text-align: center;" colspan="2"><strong>Bên giao chi trả</strong></td>
        </tr>
        <tr style="text-align: center;">
            <td style="width: 235px;"><strong>Người chi trả</strong></td>
            <td style="width: 240px;"><strong>Thủ trưởng đơn vị</strong></td>
            <td style="width: 235px;"><strong>Kế toán trưởng</strong></td>
            <td style="width: 240px;"><strong>Thủ trưởng đơn vị</strong></td>
        </tr>
    </tbody>
</table>
<br />
$

<tr style="">
    <td style="border-style: solid; border-width: 1px; border-right: none; border-top:none;" colspan="3"><strong>{0}. {1}</strong></td>
    <td style="border-style: solid; border-width: 1px; border-right: none; border-top:none;">  </td>
    <td style="border-style: solid; border-width: 1px; border-right: none; border-top:none;">  </td>
    <td style="border-style: solid; border-width: 1px; border-right: none; border-top:none;"> </td>
    <td style="border-style: solid; border-width: 1px; border-right: none; border-top:none;"> </td>
    <td style="border-style: solid; border-width: 1px; border-right: none; border-top:none;"> </td>
    <td style="border-style: solid; border-width: 1px; border-top:none;"> </td>
</tr>
^
<tr style="">
    <td style="border-style: solid; border-width: 1px; border-right: none; border-top:none; text-align:center;" colspan="3"><strong>{1}</strong></td>
    <td style="border-style: solid; border-width: 1px; border-right: none; border-top:none; text-align:center;"> <strong>{2}</strong> </td>
    <td style="border-style: solid; border-width: 1px; border-right: none; border-top:none; text-align:center;"> <strong>{3}</strong> </td>
    <td style="border-style: solid; border-width: 1px; border-right: none; border-top:none;"> </td>
    <td style="border-style: solid; border-width: 1px; border-right: none; border-top:none;"> </td>
    <td style="border-style: solid; border-width: 1px; border-right: none; border-top:none;"> </td>
    <td style="border-style: solid; border-width: 1px; border-top:none;"> </td>
</tr>
^
<tr style="">
    <td style=" border-style: solid; border-width: 1px; border-right: none; border-top:none;text-align:center;"> {0} </td>
    <td style="border-style: solid; border-width: 1px; border-right: none; border-top:none;"> {1}</td>
    <td style="border-style: solid; border-width: 1px; border-right: none; border-top:none;"> {2}</td>
    <td style="border-style: solid; border-width: 1px; border-right: none; border-top:none;"> {4}</td>
    <td style="border-style: solid; border-width: 1px; border-right: none; border-top:none; text-align:center;"> {7}</td>
    <td style="border-style: solid; border-width: 1px; border-right: none; border-top:none;"> {5} </td>
    <td style="border-style: solid; border-width: 1px; border-right: none; border-top:none;"> {6} </td>
    <td style="border-style: solid; border-width: 1px; border-right: none; border-top:none;"><br /> </td>
    <td style="border-style: solid; border-width: 1px; border-top:none;"> </td>
</tr>
^
<tr style="">
    <td style="border-style: solid; border-width: 1px; border-right: none; border-top:none;" colspan="3"><strong>{0}</strong></td>
    <td style="border-style: solid; border-width: 1px; border-right: none; border-top:none; text-align:center;"><strong>{1} </strong></td>
    <td style="border-style: solid; border-width: 1px; border-right: none; border-top:none; text-align:center;"><strong>{2}</strong></td>
    <td style="border-style: solid; border-width: 1px; border-right: none; border-top:none;"> </td>
    <td style="border-style: solid; border-width: 1px; border-right: none; border-top:none;"> </td>
    <td style="border-style: solid; border-width: 1px; border-right: none; border-top:none;"> </td>
    <td style="border-style: solid; border-width: 1px; border-top:none;"> </td>
</tr>