<table width="700px">
    <tbody>
        <tr>
            <td colspan="2" width="245">
                <p>@ubnd</p>
            </td>
            <td colspan="7" width="770" style="text-align:center;">
                <p><strong>CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</strong></p>
            </td>
        </tr>
        <tr>
            <td colspan="2" width="245">
                <p><strong>PHÒNG LAO ĐỘNG - TBXH</strong></p>
            </td>
            <td colspan="7" width="770" style="text-align:center;">
                <p><strong>Độc lập - Tự do - Hạnh phúc</strong></p>
            </td>
        </tr>
        <tr>
            <td width="76">
                <p><strong> </strong></p>
            </td>
            <td width="169"> </td>
            <td width="90">
                <p><strong> </strong></p>
            </td>
            <td width="163">
                <p><strong> </strong></p>
            </td>
            <td width="131">
                <p><strong> </strong></p>
            </td>
            <td colspan="2" width="239"> </td>
            <td width="19">
                <p><strong> </strong></p>
            </td>
            <td width="128">
                <p><strong> </strong></p>
            </td>
        </tr>
        <tr>
            <td width="76">
                <p><strong> </strong></p>
            </td>
            <td width="169">
                <p><strong>      </strong></p>
            </td>
            <td colspan="7" width="770">
                <p style="text-align:right"><em>. . . . . ., ngày . . . tháng @thang năm @nam</em></p>
            </td>
        </tr>
        <tr>
            <td width="76">
                <p><strong> </strong></p>
            </td>
            <td width="169">
                <p><strong> </strong></p>
            </td>
            <td width="90">
                <p><strong> </strong></p>
            </td>
            <td width="163">
                <p><strong> </strong></p>
            </td>
            <td width="131">
                <p><strong> </strong></p>
            </td>
            <td width="86">
                <p><strong> </strong></p>
            </td>
            <td width="153">
                <p><strong> </strong></p>
            </td>
            <td width="19">
                <p><strong> </strong></p>
            </td>
            <td width="128">
                <p><strong> </strong></p>
            </td>
        </tr>
        <tr>
            <td colspan="9" width="1015" style="text-align:center;">
                <span><strong>DANH SÁCH ĐỐI TƯỢNG NHẬN QUÀ</strong></span><br /> 
                <span style="text-transform:uppercase"><strong>{1}</strong></span>
            </td>
        </tr>
        <tr>
            <td colspan="9" width="1015" style="text-align:center;">
                <p><strong>NĂM {2}</strong></p>
            </td>
        </tr>
        <tr>
            <td colspan="9" width="1015" style="text-align:right;">
                <p><strong>(Nguồn kinh phí {3})</strong></p>
            </td>
        </tr>
        <tr>
            <td width="76">
                <p> </p>
            </td>
            <td width="169">
                <p> </p>
            </td>
            <td width="90">
                <p> </p>
            </td>
            <td width="163">
                <p> </p>
            </td>
            <td width="131">
                <p> </p>
            </td>
            <td width="86">
                <p> </p>
            </td>
            <td width="153">
                <p> </p>
            </td>
            <td width="19">
                <p> </p>
            </td>
            <td width="128">
                <p> </p>
            </td>
        </tr>
    </tbody>
</table>
{4}
$
<p>{0}</p>
<table>
    <tbody>
        <tr style="text-align: center">
            <td rowspan="2" width="34" style=" border: solid 1px;border-bottom:none; ">
                <p>TT</p>
            </td>
            <td rowspan="2" width="89" style="border: solid 1px; border-left: none;border-bottom:none;">
                <p>Họ tên</p>
            </td>
            <td rowspan="2" width="43" style="border: solid 1px; border-left: none;border-bottom:none;">
                <p>Số hồ sơ</p>
            </td>
            <td rowspan="2" width="60" style="border: solid 1px; border-left: none;border-bottom:none;">
                <p>Loại đối tượng</p>
            </td>
            <td rowspan="2" width="122" style="border: solid 1px; border-left: none;border-bottom:none;">
                <p>Cư trú</p>
            </td>
            <td rowspan="2" width="68" style="border: solid 1px; border-left: none;border-bottom:none;">
                <p>Người thờ cúng liệt sỹ</p>
            </td>
            <td rowspan="2" width="63" style="border: solid 1px; border-left: none;border-bottom:none;">
                <p>Quan hệ với liệt sỹ</p>
            </td>
            <td rowspan="2" width="56" style="border: solid 1px; border-left: none;border-bottom:none;">
                <p>Số tiền</p>
            </td>
            <td colspan="2" width="105" style="border: solid 1px; border-left: none;">
                <p>Ký nhận</p>
            </td>
        </tr>
        <tr style="text-align: center">
            <td width="52" style="border: solid 1px; border-left: none;border-top:none;border-bottom:none;">
                <p>Ký</p>
            </td>
            <td width="52" style="border: solid 1px; border-left: none;border-top:none;border-bottom:none;">
                <p>Họ tên</p>
            </td>
        </tr>
        {1}
        <tr>
            <td width="34" style=" border: solid 1px; text-align: center">
                <p> </p>
            </td>
            <td width="89" style="border: solid 1px; border-left: none; text-align: center">
                <p><strong>TỔNG SỐ ({5})</strong></p>
            </td>
            <td width="43" style="border: solid 1px; border-left: none; text-align: center">
                <p>{2} </p>
            </td>
            <td width="60" style="border: solid 1px; border-left: none;  text-align: right">
                <p> </p>
            </td>
            <td width="122" style="border: solid 1px; border-left: none; text-align: right">
                <p> </p>
            </td>
            <td width="68" style="border: solid 1px; border-left: none; text-align: right">
                <p> </p>
            </td>
            <td width="63" style="border: solid 1px; border-left: none; text-align: right">
                <p> </p>
            </td>
            <td width="56" style="border: solid 1px; border-left: none; text-align: right">
                <p> </p>
            </td>
            <td width="52" style="border: solid 1px; border-left: none; text-align: right">
                <p> </p>
            </td>
            <td width="52" style="border: solid 1px; border-left: none; text-align: right">
                <p> </p>
            </td>
        </tr>
    </tbody>
</table>
<p><strong>Tổng số đối tượng: {3}</strong></p>
<p><strong>Tổng số tiền: {4}</strong></p>
<p><strong>Bằng chữ: {6}</strong></p>
<table width="700px">
    <tr>
        <td width="350" style="text-align:center;">
            <p><strong>Bên nhận chi trả</strong></p>
            <p>Người chi trả               UBND cấp xã</p>
        </td>
        <td width="350" style="text-align:center;">
            <p><strong>Bên giao chi trả</strong></p>
            <p>Kế toán     Trưởng phòng</p>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <p><strong>PHÒNG NGƯỜI CÓ CÔNG           PHÒNG KẾ HOẠCH – TÀI CHÍNH                  GIÁM ĐỐC</strong></p>
        </td>
    </tr>
</table>
$

<tr>
    <td width="34" style="border: solid 1px;border-bottom:none; text-align: center">
        <p>{0}</p>
    </td>
    <td colspan="2" width="132" style="border: solid 1px; border-left: none;border-bottom:none;">
        <p>{1}</p>
    </td>
    <td width="60" style="border: solid 1px; border-left: none;border-bottom:none;text-align: left">
        <p> </p>
    </td>
    <td width="122" style="border: solid 1px; border-left: none;border-bottom:none;text-align: right">
        <p> </p>
    </td>
    <td width="68" style="border: solid 1px; border-left: none;border-bottom:none;text-align: right">
        <p> </p>
    </td>
    <td width="63" style="border: solid 1px; border-left: none;border-bottom:none;text-align: right">
        <p> </p>
    </td>
    <td width="56" style="border: solid 1px; border-left: none;border-bottom:none;text-align: right">
        <p> </p>
    </td>
    <td width="52" style="border: solid 1px; border-left: none;border-bottom:none;text-align: right">
        <p> </p>
    </td>
    <td width="52" style="border: solid 1px; border-left: none;border-bottom:none;text-align: right">
        <p> </p>
    </td>
</tr>
^
<tr>
    <td width="34" style="border: solid 1px;border-bottom:none; text-align: center">
        <p>{0}</p>
    </td>
    <td colspan="2" width="132" style="border: solid 1px; border-left: none;border-bottom:none;">
        <p>{1}</p>
    </td>
    <td width="60" style="border: solid 1px; border-left: none;border-bottom:none;text-align: left">
        <p> </p>
    </td>
    <td width="122" style="border: solid 1px; border-left: none;border-bottom:none;text-align: right">
        <p> </p>
    </td>
    <td width="68" style="border: solid 1px; border-left: none;border-bottom:none;text-align: right">
        <p> </p>
    </td>
    <td width="63" style="border: solid 1px; border-left: none;border-bottom:none;text-align: right">
        <p> </p>
    </td>
    <td width="56" style="border: solid 1px; border-left: none;border-bottom:none;text-align: right">
        <p> </p>
    </td>
    <td width="52" style="border: solid 1px; border-left: none;border-bottom:none;text-align: right">
        <p> </p>
    </td>
    <td width="52" style="border: solid 1px; border-left: none;border-bottom:none;text-align: right">
        <p> </p>
    </td>
</tr>
^
<tr>
    <td width="34" style="border: solid 1px;border-bottom:none;text-align: center">
        <p> {0}</p>
    </td>
    <td width="89" style="border: solid 1px; border-left: none;border-bottom:none;text-align: left">
        <p>{1}</p>
    </td>
    <td width="43" style="border: solid 1px; border-left: none;border-bottom:none;text-align: center">
        <p> {2}</p>
    </td>
    <td width="60" style="border: solid 1px; border-left: none;border-bottom:none;text-align: right">
        <p>{3} </p>
    </td>
    <td width="122" style="border: solid 1px; border-left: none;border-bottom:none;">
        <p>{4} </p>
    </td>
    <td width="68" style="border: solid 1px; border-left: none;border-bottom:none;">
        <p>{5} </p>
    </td>
    <td width="63" style="border: solid 1px; border-left: none;border-bottom:none;">
        <p> {6}</p>
    </td>
    <td width="56" style="border: solid 1px; border-left: none;border-bottom:none;text-align: center">
        <p> {7}</p>
    </td>
    <td width="52" style="border: solid 1px; border-left: none;border-bottom:none;">
        <p>{8} </p>
    </td>
    <td width="52" style="border: solid 1px; border-left: none;border-bottom:none;">
        <p>{9} </p>
    </td>
</tr>