<div class="custom-font-size">
    <table width="700px">
        <tbody>
            <tr>
                <td style="text-align:center">
                    <span>UBND TỈNH VĨNH LONG</span><br />
                    <strong font-size:14pt;>SỞ LAO ĐỘNG</strong><br />
                    <strong font-size:14pt;>THƯƠNG BINH VÀ XÃ HỘI</strong><br />
                    <table width="120px" style="display:inline-block;"><tr><th style="width:120px; border:solid 1px;border-right: none;border-left: none;border-bottom: none"></th></tr></table>
                </td>
                <td style="text-align:center">
                    <strong font-size:14pt;>CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</strong><br />
                    <strong>Độc lập – Tự do – Hạnh phúc</strong><br />
                    <table width="160px" style="display:inline-block;"><tr><th style="width:160px; height:40px; border:solid 1px;border-right: none;border-left: none;border-bottom: none"></th></tr></table>
                </td>
            </tr>
            <tr>
                <td style="text-align:center">
                    <span>Số:         /QĐ-SLĐTBXH   </span>
                </td>
                <td style="text-align:right">
                    <span>
                        <em>Vĩnh Long, ngày . . . . . tháng @thang năm @nam</em>
                    </span>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align:center; font-size:14pt;">
                    <br />
                    <span><strong>QUYẾT ĐỊNH</strong></span><br />
                    <span>
                        <strong>
                            Về việc phê duyệt danh sách tặng quà của Ủy ban nhân dân tỉnh<br />
                            nhân dịp kỷ niệm {5} năm ngày Thương binh - Liệt sĩ<br />
                            <span style="font-size:13pt;">(27/7/1947 - 27/7/{4})</span>
                        </strong>
                    </span>
                    <br />
                    <table width="160px" style="display:inline-block;"><tr><th style="width:160px; border:solid 2px;border-right: none;border-left: none;border-bottom: none"></th></tr></table>
                </td>
            </tr>
        </tbody>
    </table>
    <div style="width:700px">
        <p style="text-align:center; font-size:14pt;"><strong>GIÁM ĐỐC SỞ LAO ĐỘNG – THƯƠNG BINH VÀ XÃ HỘI</strong></p>
        <p style="text-indent: 30px; text-align: justify;"><em>Căn cứ Quyết định số {6} ngày {7} của Ủy ban nhân dân tỉnh Vĩnh Long về việc phê duyệt tổ chức các hoạt động kỷ niệm {5} năm ngày Thương binh – Liệt sĩ (27/7/1947 - 27/7/{4});</em></p>
        <p style="text-indent: 30px; text-align: justify;"><em>Căn cứ Tờ trình số {8}/TTr-LĐTBXH, ngày {9} của Phòng Lao động – Thương binh và Xã hội @huyen về việc phê duyệt danh sách đối tượng có công với cách mạng được tặng quà nhân ngày Thương binh – Liệt sĩ (27/7/1947 – 27/7/{4});</em></p>
        <p style="text-indent: 30px; text-align: justify;"><em>Xét đề nghị của Trưởng phòng Người có công.</em></p>
        <p style="text-align:center"><strong>QUYẾT ĐỊNH:</strong></p>
        <div style="text-indent: 30px; text-align: justify;">
            <strong>Điều 1. </strong>Phê duyệt danh sách người có công với cách mạng được tặng quà nhân dịp kỷ niệm {5} năm ngày Thương binh – Liệt sĩ do Phòng Lao động – Thương binh và Xã hội @huyen, cụ thể:<br />
        </div>
        <div style="text-indent: 30px;">Số người: {1}</div>
        <div style="text-indent: 30px;">Số tiền: {2} đồng.</div>
        <div style="text-indent: 30px;">(<em>Bằng chữ:{3}).</em></div>
        <div style="text-indent: 30px; text-align: justify;">(Kèm danh sách đề nghị của Phòng Lao động – Thương binh và Xã hội @huyen)</div>
        <div style="text-indent: 30px; text-align: justify;">
			<strong>Điều 2.</strong> 
			Chánh văn phòng, Trưởng phòng Người có công, Trưởng phòng Kế hoạch – Tài chính, Trưởng Phòng Lao động – Thương binh và Xã hội @huyen và các ông (bà) có tên trong danh sách chịu trách nhiệm thi hành quyết định này./.
		</div></br>
    </div>
    <table width="700px">
        <tbody>
            <tr>
                <td width="310" style="font-size:11pt">
                    <span style="font-size:12pt"><strong><em>Nơi nhận:</em></strong></span><br />
                    <span>- Như Điều 2;</span><br />
                    <span>- Lưu: VT, P.NCC.</span>
                </td>
                <td width="310" style="text-align:center; font-size:14pt">
                    <span><strong>KT.GIÁM ĐỐC</strong></span><br />
                    <span><strong>PHÓ GIÁM ĐỐC</strong></span>
                </td>
            </tr>
        </tbody>
    </table>
</div>