<table style="height: 307px; width: 950px;">
    <tbody>
        <tr style="">
            <td style="width: 208px; text-align: center;" colspan="4"><strong style="text-transform:uppercase">@ubnd </strong></td>
            <td style="width: 648px; text-align: center;" colspan="11"><strong>CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</strong></td>
        </tr>
        <tr style="">
            <td style="width: 208px; text-align: center;" colspan="4"><strong>PHÒNG LĐ - TB&amp;XH</strong></td>
            <td style="width: 648px; text-align: center;" colspan="11"><strong>Độc lập - Tự do - Hạnh phúc</strong></td>
        </tr>
        <tr style="">
            <td style="width: 17px; text-align: center;"> </td>
            <td style="width: 63px; text-align: center;"> </td>
            <td style="width: 92px; text-align: center;"> </td>
            <td style="width: 36px; text-align: center;"> </td>
            <td style="width: 53px; text-align: center;"> </td>
            <td style="width: 54px; text-align: center;"> </td>
            <td style="width: 69px; text-align: center;"> </td>
            <td style="width: 64px; text-align: center;"> </td>
            <td style="width: 36px; text-align: center;"> </td>
            <td style="width: 54px; text-align: center;"> </td>
            <td style="width: 57px; text-align: center;"> </td>
            <td style="width: 57px; text-align: center;"> </td>
            <td style="width: 96px; text-align: center;"> </td>
            <td style="width: 56px; text-align: center;"> </td>
            <td style="width: 52px; text-align: center;"> </td>
        </tr>
        <tr style="">
            <td style="width: 856px; text-align: center;" colspan="15"><strong>DANH SÁCH TĂNG GIẢM ĐỐI TƯỢNG CHÍNH SÁCH ĐƯỢC TẶNG QUÀ NĂM {0} </strong></td>
        </tr>
        <tr style="">
            <td style="width: 17px;"> </td>
            <td style="width: 63px;"> </td>
            <td style="width: 92px;"> </td>
            <td style="width: 36px;"> </td>
            <td style="width: 53px;"> </td>
            <td style="width: 54px;"> </td>
            <td style="width: 69px;"> </td>
            <td style="width: 64px;"> </td>
            <td style="width: 36px;"> </td>
            <td style="width: 54px;"> </td>
            <td style="width: 57px;"> </td>
            <td style="width: 57px;"> </td>
            <td style="width: 96px;"> </td>
            <td style="width: 56px;"> </td>
            <td style="width: 52px;"> </td>
        </tr>
    </tbody>
</table>
<table style="height: 307px; width: 950px;">
    <tbody>
        <tr style="">
            <td style="width: 17px; text-align: center; border: thin solid; border-right: none;"><strong>STT</strong></td>
            <td style="width: 63px; text-align: center; border: thin solid; border-right: none;"><strong>Số hồ sơ</strong></td>
            <td style="width: 92px; text-align: center; border: thin solid; border-right: none;"><strong>Họ Tên Người Nhận Quà</strong></td>
            <td style="width: 36px; text-align: center; border: thin solid; border-right: none;"><strong>Năm sinh</strong></td>
            <td style="width: 53px; text-align: center; border: thin solid; border-right: none;"><strong>Ấp</strong></td>
            <td style="width: 54px; text-align: center; border: thin solid; border-right: none;"><strong>Xã</strong></td>
            <td style="width: 69px; text-align: center; border: thin solid; border-right: none;"><strong>Huyện</strong></td>
            <td style="width: 64px; text-align: center; border: thin solid; border-right: none;"><strong>Đối tượng</strong></td>
            <td style="width: 36px; text-align: center; border: thin solid; border-right: none;"><strong>Năm</strong></td>
            <td style="width: 54px; text-align: center; border: thin solid; border-right: none;"><strong>Dịp lễ</strong></td>
            {7}
            <td style="width: 96px; text-align: center; border: thin solid; border-right: none;"><strong>Họ Tên Liệt Sĩ</strong></td>
            <td style="width: 56px; text-align: center; border: thin solid; border-right: none;"><strong>Quan hệ với Liệt sĩ</strong></td>
            <td style="width: 52px; text-align: center; border: thin solid;"><strong>Ghi chú</strong></td>
        </tr>
        {1}
        {2}
        <tr style="">
            <td style="width: 172px; text-align: center; border: thin solid; border-right: none; border-top:none;" colspan="3">Tổng Cộng</td>
            <td style="width: 36px; border: thin solid; border-right: none; border-top:none;"> </td>
            <td style="width: 53px; border: thin solid; border-right: none; border-top:none;"> </td>
            <td style="width: 54px; border: thin solid; border-right: none; border-top:none;"> </td>
            <td style="width: 69px; border: thin solid; border-right: none; border-top:none;"> </td>
            <td style="width: 64px; border: thin solid; border-right: none; border-top:none;"> </td>
            <td style="width: 36px; border: thin solid; border-right: none; border-top:none;"> </td>
            <td style="width: 54px; border: thin solid; border-right: none; border-top:none;"> </td>
            <td style="width: 57px; border: thin solid; border-right: none; border-top:none;"> </td>
            <td style="width: 57px; border: thin solid; border-right: none; border-top:none;"> </td>
            <td style="width: 96px; border: thin solid; border-right: none; border-top:none;"> </td>
            <td style="width: 56px; border: thin solid; border-right: none; border-top:none;"> </td>
            <td style="width: 52px; border: thin solid; border-top:none;"> </td>
        </tr>
        <tr style="">
            <td style="width: 17px;"> </td>
            <td style="width: 63px;"> </td>
            <td style="width: 92px;"> </td>
            <td style="width: 36px;"> </td>
            <td style="width: 53px;"> </td>
            <td style="width: 54px;"> </td>
            <td style="width: 69px;"> </td>
            <td style="width: 64px;"> </td>
            <td style="width: 36px;"> </td>
            <td style="width: 54px;"> </td>
            <td style="width: 57px;"> </td>
            <td style="width: 57px;"> </td>
            <td style="width: 96px;"> </td>
            <td style="width: 56px;"> </td>
            <td style="width: 52px;"> </td>
        </tr>
        <tr style="">
            <td style="width: 17px;"> </td>
            <td style="width: 155px;" colspan="2"><strong>Tổng số đối tượng:</strong></td>
            <td style="width: 36px; text-align: center;"><strong>{3}</strong></td>
            <td style="width: 53px;">đối tượng</td>
            <td style="width: 54px;" colspan="9"><strong>Bằng chữ: {4} đối tượng</strong></td>
        </tr>
        <tr style="">
            <td style="width: 17px;"> </td>
            <td style="width: 63px;"><span style="text-decoration: underline;"><strong>Trong đó:</strong></span></td>
            <td style="width: 92px;"> </td>
            <td style="width: 36px;"> </td>
            <td style="width: 53px;"> </td>
            <td style="width: 54px;"> </td>
            <td style="width: 69px;"> </td>
            <td style="width: 64px;"> </td>
            <td style="width: 36px;"> </td>
            <td style="width: 54px;"> </td>
            <td style="width: 57px;"> </td>
            <td style="width: 57px;"> </td>
            <td style="width: 96px;"> </td>
            <td style="width: 56px;"> </td>
            <td style="width: 52px;"> </td>
        </tr>
        <tr style="">
            <td style="width: 17px;"> </td>
            <td style="width: 63px;"> </td>
            <td style="width: 92px;"><strong>Tăng:</strong></td>
            <td style="width: 36px; text-align: right;"><strong>{5}</strong></td>
            <td style="width: 53px;">đối tượng</td>
            <td style="width: 54px;"> </td>
            <td style="width: 69px;"> </td>
            <td style="width: 64px;"> </td>
            <td style="width: 36px;"> </td>
            <td style="width: 54px;"> </td>
            <td style="width: 57px;"> </td>
            <td style="width: 57px;"> </td>
            <td style="width: 96px;"> </td>
            <td style="width: 56px;"> </td>
            <td style="width: 52px;"> </td>
        </tr>
        <tr style="">
            <td style="width: 17px;"> </td>
            <td style="width: 63px;"> </td>
            <td style="width: 92px;"><strong>Giảm:</strong></td>
            <td style="width: 36px; text-align: right;"><strong>{6}</strong></td>
            <td style="width: 53px;">đối tượng</td>
            <td style="width: 54px;"> </td>
            <td style="width: 69px;"> </td>
            <td style="width: 64px;"> </td>
            <td style="width: 36px;"> </td>
            <td style="width: 54px;"> </td>
            <td style="width: 57px;"> </td>
            <td style="width: 57px;"> </td>
            <td style="width: 96px;"> </td>
            <td style="width: 56px;"> </td>
            <td style="width: 52px;"> </td>
        </tr>
        <tr style="">
            <td style="width: 172px; text-align:center;" colspan="3"><strong>Lập bảng</strong></td>
            <td style="width: 36px;"> </td>
            <td style="width: 53px;"> </td>
            <td style="width: 54px;"> </td>
            <td style="width: 69px;"> </td>
            <td style="width: 64px;"> </td>
            <td style="width: 36px;"> </td>
            <td style="width: 54px;"> </td>
            <td style="width: 318px; text-align: center;" colspan="5"><strong>TRƯỞNG PHÒNG</strong></td>
        </tr>
    </tbody>
</table>
$
<tr style="">
    <td style="width: 261px; border: thin solid; border-right: none; border-top:none;" colspan="5"><strong>{0}</strong></td>
    <td style="width: 54px; text-align: center; border: thin solid; border-right: none; border-top:none;"><strong>{1}</strong></td>
    <td style="width: 69px; text-align: center; border: thin solid; border-right: none; border-top:none;"><strong>đối tượng</strong></td>
    <td style="width: 64px; border: thin solid; border-right: none; border-top:none;"> </td>
    <td style="width: 36px; border: thin solid; border-right: none; border-top:none;"> </td>
    <td style="width: 54px; border: thin solid; border-right: none; border-top:none;"> </td>
    <td style="width: 57px; border: thin solid; border-right: none; border-top:none;"> </td>
    <td style="width: 57px; border: thin solid; border-right: none; border-top:none;"> </td>
    <td style="width: 96px; border: thin solid; border-right: none; border-top:none;"> </td>
    <td style="width: 56px; border: thin solid; border-right: none; border-top:none;"> </td>
    <td style="width: 52px; border: thin solid; border-top:none;"> </td>
</tr>
{2}
^
<tr style="">
    <td style="width: 17px; text-align: center; border: thin solid; border-right: none; border-top:none;"><strong>{0}</strong></td>
    <td style="width: 191px; border: thin solid; border-right: none; border-top:none;" colspan="3"><strong>{1}</strong></td>
    <td style="width: 53px; border: thin solid; border-right: none; border-top:none;"> </td>
    <td style="width: 54px; text-align: center; border: thin solid; border-right: none; border-top:none;"><strong>{2}</strong></td>
    <td style="width: 69px; text-align: center; border: thin solid; border-right: none; border-top:none;"><strong>đối tượng</strong></td>
    <td style="width: 64px; border: thin solid; border-right: none; border-top:none;"> </td>
    <td style="width: 36px; border: thin solid; border-right: none; border-top:none;"> </td>
    <td style="width: 54px; border: thin solid; border-right: none; border-top:none;"> </td>
    <td style="width: 57px; border: thin solid; border-right: none; border-top:none;"> </td>
    <td style="width: 57px; border: thin solid; border-right: none; border-top:none;"> </td>
    <td style="width: 96px; border: thin solid; border-right: none; border-top:none;"> </td>
    <td style="width: 56px; border: thin solid; border-right: none; border-top:none;"> </td>
    <td style="width: 52px; border: thin solid; border-top:none;"> </td>
</tr>
^
<tr style="">
    <td style="width: 17px; text-align: center; border: thin solid; border-right: none; border-top:none;">{0}</td>
    <td style="width: 63px; border: thin solid; border-right: none; border-top:none;">{1}</td>
    <td style="width: 92px; border: thin solid; border-right: none; border-top:none;">{2}</td>
    <td style="width: 36px; border: thin solid; border-right: none; border-top:none;">{3}</td>
    <td style="width: 53px; text-align: center; border: thin solid; border-right: none; border-top:none;">{4}</td>
    <td style="width: 54px; text-align: center; border: thin solid; border-right: none; border-top:none;">{5}</td>
    <td style="width: 69px; text-align: center; border: thin solid; border-right: none; border-top:none;">{6}</td>
    <td style="width: 64px; text-align: center; border: thin solid; border-right: none; border-top:none;">{7}</td>
    <td style="width: 36px; text-align: center; border: thin solid; border-right: none; border-top:none;">{8}</td>
    <td style="width: 54px; text-align: center; border: thin solid; border-right: none; border-top:none;">{9}</td>
    {10}
    <td style="width: 96px; border: thin solid; border-right: none; border-top:none;"> {11}</td>
    <td style="width: 56px; border: thin solid; border-right: none; border-top:none;"> {12}</td>
    <td style="width: 52px; text-align: center; border: thin solid; border-top:none;">{13}</td>
</tr>
$
<td style="width: 57px; text-align: center; border: thin solid; border-right: none;"><strong>{0}</strong></td>
^
<td style="width: 57px; text-align: right; border: thin solid; border-right: none; border-top:none;">{0}</td>
