<p style="text-align: right;"><strong>Mẫu HS8</strong></p>
<table>
    <tbody>
        <tr>
            <td style="width: 223px; text-align: center;">
                <p>UBND TỈNH, THÀNH PHỐ ….<strong><br /> SỞ LAO ĐỘNG - THƯƠNG BINH VÀ XÃ HỘI<br /> --------</strong></p>
            </td>
            <td style="width: 375px; text-align: center;">
                <p><strong>CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM<br /> Độc lập - Tự do - Hạnh phúc<br /> ----------------</strong></p>
            </td>
        </tr>
        <tr>
            <td style="width: 223px; text-align: center;">
                <p>Số: …../BC-</p>
            </td>
            <td style="width: 375px; text-align: center;">
                <p><em>…., ngày … tháng … năm .....</em></p>
            </td>
        </tr>
    </tbody>
</table>
$
<p style="text-align: center;"><strong> </strong></p>
<p style="text-align: center;"><strong>BÁO CÁO TỔNG HỢP SỐ LƯỢNG NGƯỜI CÓ CÔNG</strong></p>
<p style="text-align: center;">Tính đến ngày …… tháng …… năm…….</p>
<p style="text-align: center;">Kính gửi: …………………………</p>
<table>
    <tbody>
        <tr>
            <td rowspan="2" width="34">
                <p>TT</p>
            </td>
            <td rowspan="2" width="126">
                <p>Tên đối tượng</p>
            </td>
            <td rowspan="2" width="46">
                <p>Tổng số NCC đã xác nhận</p>
            </td>
            <td colspan="4" width="169">
                <p>NCC hiện đang hưởng trợ cấp</p>
            </td>
            <td colspan="4" width="171">
                <p>Thân nhân đang hưởng trợ cấp hàng tháng</p>
            </td>
            <td rowspan="2" width="36">
                <p>Ghi chú</p>
            </td>
        </tr>
        <tr>
            <td width="44">
                <p>Năm cũ chuyển sang</p>
            </td>
            <td width="40">
                <p>Tăng trong năm</p>
            </td>
            <td width="41">
                <p>Giảm trong năm</p>
            </td>
            <td width="44">
                <p>Số hiện hưởng</p>
            </td>
            <td width="45">
                <p>Năm cũ chuyển sang</p>
            </td>
            <td width="40">
                <p>Tăng trong năm</p>
            </td>
            <td width="41">
                <p>Giảm trong năm</p>
            </td>
            <td width="44">
                <p>Số hiện hưởng</p>
            </td>
        </tr>
        <tr>
            <td width="34">
                <p>1</p>
            </td>
            <td width="126">
                <p>Người HĐCM trước ngày 01 tháng 01 năm 1945</p>
            </td>
            <td width="46">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="40">
                <p> </p>
            </td>
            <td width="41">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="45">
                <p> </p>
            </td>
            <td width="40">
                <p> </p>
            </td>
            <td width="41">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="36">
                <p> </p>
            </td>
        </tr>
        <tr>
            <td width="34">
                <p> </p>
            </td>
            <td width="126">
                <p>- Thân nhân hưởng trợ cấp tuất hàng tháng</p>
            </td>
            <td width="46">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="40">
                <p> </p>
            </td>
            <td width="41">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="45">
                <p> </p>
            </td>
            <td width="40">
                <p> </p>
            </td>
            <td width="41">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="36">
                <p> </p>
            </td>
        </tr>
        <tr>
            <td width="34">
                <p> </p>
            </td>
            <td width="126">
                <p>- Thân nhân hưởng trợ cấp tuất nuôi dưỡng hàng tháng</p>
            </td>
            <td width="46">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="40">
                <p> </p>
            </td>
            <td width="41">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="45">
                <p> </p>
            </td>
            <td width="40">
                <p> </p>
            </td>
            <td width="41">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="36">
                <p> </p>
            </td>
        </tr>
        <tr>
            <td width="34">
                <p>2</p>
            </td>
            <td width="126">
                <p>Người HĐCM từ ngày 01 tháng 01 năm 1945 đến ngày khởi nghĩa tháng Tám năm 1945</p>
            </td>
            <td width="46">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="40">
                <p> </p>
            </td>
            <td width="41">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="45">
                <p> </p>
            </td>
            <td width="40">
                <p> </p>
            </td>
            <td width="41">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="36">
                <p> </p>
            </td>
        </tr>
        <tr>
            <td width="34">
                <p> </p>
            </td>
            <td width="126">
                <p>- Thân nhân hưởng trợ cấp tuất hàng tháng</p>
            </td>
            <td width="46">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="40">
                <p> </p>
            </td>
            <td width="41">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="45">
                <p> </p>
            </td>
            <td width="40">
                <p> </p>
            </td>
            <td width="41">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="36">
                <p> </p>
            </td>
        </tr>
        <tr>
            <td width="34">
                <p> </p>
            </td>
            <td width="126">
                <p>- Thân nhân hưởng trợ cấp tuất nuôi dưỡng hàng tháng</p>
            </td>
            <td width="46">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="40">
                <p> </p>
            </td>
            <td width="41">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="45">
                <p> </p>
            </td>
            <td width="40">
                <p> </p>
            </td>
            <td width="41">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="36">
                <p> </p>
            </td>
        </tr>
        <tr>
            <td width="34">
                <p>3</p>
            </td>
            <td width="126">
                <p>Liệt sĩ</p>
            </td>
            <td width="46">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="40">
                <p> </p>
            </td>
            <td width="41">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="45">
                <p> </p>
            </td>
            <td width="40">
                <p> </p>
            </td>
            <td width="41">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="36">
                <p> </p>
            </td>
        </tr>
        <tr>
            <td width="34">
                <p> </p>
            </td>
            <td width="126">
                <p>- Thân nhân hưởng trợ cấp tuất hàng tháng của một liệt sĩ</p>
            </td>
            <td width="46">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="40">
                <p> </p>
            </td>
            <td width="41">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="45">
                <p> </p>
            </td>
            <td width="40">
                <p> </p>
            </td>
            <td width="41">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="36">
                <p> </p>
            </td>
        </tr>
        <tr>
            <td width="34">
                <p> </p>
            </td>
            <td width="126">
                <p>- Thân nhân hưởng trợ cấp tuất hàng tháng của hai liệt sĩ</p>
            </td>
            <td width="46">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="40">
                <p> </p>
            </td>
            <td width="41">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="45">
                <p> </p>
            </td>
            <td width="40">
                <p> </p>
            </td>
            <td width="41">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="36">
                <p> </p>
            </td>
        </tr>
        <tr>
            <td width="34">
                <p> </p>
            </td>
            <td width="126">
                <p>- Thân nhân hưởng trợ cấp tuất hàng tháng của ba LS trở lên</p>
            </td>
            <td width="46">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="40">
                <p> </p>
            </td>
            <td width="41">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="45">
                <p> </p>
            </td>
            <td width="40">
                <p> </p>
            </td>
            <td width="41">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="36">
                <p> </p>
            </td>
        </tr>
        <tr>
            <td width="34">
                <p> </p>
            </td>
            <td width="126">
                <p>- Thân nhân hưởng trợ cấp tuất nuôi dưỡng hàng tháng</p>
            </td>
            <td width="46">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="40">
                <p> </p>
            </td>
            <td width="41">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="45">
                <p> </p>
            </td>
            <td width="40">
                <p> </p>
            </td>
            <td width="41">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="36">
                <p> </p>
            </td>
        </tr>
        <tr>
            <td width="34">
                <p> </p>
            </td>
            <td width="126">
                <p>- Người đảm nhiệm thờ cúng liệt sĩ</p>
            </td>
            <td width="46">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="40">
                <p> </p>
            </td>
            <td width="41">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="45">
                <p> </p>
            </td>
            <td width="40">
                <p> </p>
            </td>
            <td width="41">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="36">
                <p> </p>
            </td>
        </tr>
        <tr>
            <td width="34">
                <p> </p>
            </td>
            <td width="126">
                <p>- Vợ (chồng) liệt sĩ hưởng trợ cấp tái giá</p>
            </td>
            <td width="46">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="40">
                <p> </p>
            </td>
            <td width="41">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="45">
                <p> </p>
            </td>
            <td width="40">
                <p> </p>
            </td>
            <td width="41">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="36">
                <p> </p>
            </td>
        </tr>
        <tr>
            <td width="34">
                <p>4</p>
            </td>
            <td width="126">
                <p>Bà mẹ Việt Nam anh hùng</p>
            </td>
            <td width="46">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="40">
                <p> </p>
            </td>
            <td width="41">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="45">
                <p> </p>
            </td>
            <td width="40">
                <p> </p>
            </td>
            <td width="41">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="36">
                <p> </p>
            </td>
        </tr>
        <tr>
            <td width="34">
                <p>5</p>
            </td>
            <td width="126">
                <p>Anh hùng Lực lượng vũ trang nhân dân</p>
            </td>
            <td width="46">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="40">
                <p> </p>
            </td>
            <td width="41">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="45">
                <p> </p>
            </td>
            <td width="40">
                <p> </p>
            </td>
            <td width="41">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="36">
                <p> </p>
            </td>
        </tr>
        <tr>
            <td width="34">
                <p>6</p>
            </td>
            <td width="126">
                <p>Anh hùng Lao động trong thời kỳ kháng chiến</p>
            </td>
            <td width="46">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="40">
                <p> </p>
            </td>
            <td width="41">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="45">
                <p> </p>
            </td>
            <td width="40">
                <p> </p>
            </td>
            <td width="41">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="36">
                <p> </p>
            </td>
        </tr>
        <tr>
            <td width="34">
                <p>7</p>
            </td>
            <td width="126">
                <p>Thương binh, người hưởng chính sách như thương binh</p>
            </td>
            <td width="46">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="40">
                <p> </p>
            </td>
            <td width="41">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="45">
                <p> </p>
            </td>
            <td width="40">
                <p> </p>
            </td>
            <td width="41">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="36">
                <p> </p>
            </td>
        </tr>
        <tr>
            <td width="34">
                <p> </p>
            </td>
            <td width="126">
                <p>- Từ 21% - 40%</p>
            </td>
            <td width="46">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="40">
                <p> </p>
            </td>
            <td width="41">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="45">
                <p> </p>
            </td>
            <td width="40">
                <p> </p>
            </td>
            <td width="41">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="36">
                <p> </p>
            </td>
        </tr>
        <tr>
            <td width="34">
                <p> </p>
            </td>
            <td width="126">
                <p>- Từ 41% - 60%</p>
            </td>
            <td width="46">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="40">
                <p> </p>
            </td>
            <td width="41">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="45">
                <p> </p>
            </td>
            <td width="40">
                <p> </p>
            </td>
            <td width="41">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="36">
                <p> </p>
            </td>
        </tr>
        <tr>
            <td width="34">
                <p> </p>
            </td>
            <td width="126">
                <p>- Từ 61% - 80%</p>
            </td>
            <td width="46">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="40">
                <p> </p>
            </td>
            <td width="41">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="45">
                <p> </p>
            </td>
            <td width="40">
                <p> </p>
            </td>
            <td width="41">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="36">
                <p> </p>
            </td>
        </tr>
        <tr>
            <td width="34">
                <p> </p>
            </td>
            <td width="126">
                <p>- Từ 81% trở lên</p>
            </td>
            <td width="46">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="40">
                <p> </p>
            </td>
            <td width="41">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="45">
                <p> </p>
            </td>
            <td width="40">
                <p> </p>
            </td>
            <td width="41">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="36">
                <p> </p>
            </td>
        </tr>
        <tr>
            <td width="34">
                <p> </p>
            </td>
            <td width="126">
                <p>- Thân nhân hưởng trợ cấp tuất hàng tháng</p>
            </td>
            <td width="46">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="40">
                <p> </p>
            </td>
            <td width="41">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="45">
                <p> </p>
            </td>
            <td width="40">
                <p> </p>
            </td>
            <td width="41">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="36">
                <p> </p>
            </td>
        </tr>
        <tr>
            <td width="34">
                <p>8</p>
            </td>
            <td width="126">
                <p>Bệnh binh</p>
            </td>
            <td width="46">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="40">
                <p> </p>
            </td>
            <td width="41">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="45">
                <p> </p>
            </td>
            <td width="40">
                <p> </p>
            </td>
            <td width="41">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="36">
                <p> </p>
            </td>
        </tr>
        <tr>
            <td width="34">
                <p> </p>
            </td>
            <td width="126">
                <p>- Từ 61% - 80%</p>
            </td>
            <td width="46">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="40">
                <p> </p>
            </td>
            <td width="41">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="45">
                <p> </p>
            </td>
            <td width="40">
                <p> </p>
            </td>
            <td width="41">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="36">
                <p> </p>
            </td>
        </tr>
        <tr>
            <td width="34">
                <p> </p>
            </td>
            <td width="126">
                <p>- Từ 81% trở lên</p>
            </td>
            <td width="46">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="40">
                <p> </p>
            </td>
            <td width="41">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="45">
                <p> </p>
            </td>
            <td width="40">
                <p> </p>
            </td>
            <td width="41">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="36">
                <p> </p>
            </td>
        </tr>
        <tr>
            <td width="34">
                <p> </p>
            </td>
            <td width="126">
                <p>- Thân nhân hưởng trợ cấp tuất hàng tháng</p>
            </td>
            <td width="46">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="40">
                <p> </p>
            </td>
            <td width="41">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="45">
                <p> </p>
            </td>
            <td width="40">
                <p> </p>
            </td>
            <td width="41">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="36">
                <p> </p>
            </td>
        </tr>
        <tr>
            <td width="34">
                <p>9</p>
            </td>
            <td width="126">
                <p>a) Người HĐKLC bị nhiễm chất độc hóa học:</p>
            </td>
            <td width="46">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="40">
                <p> </p>
            </td>
            <td width="41">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="45">
                <p> </p>
            </td>
            <td width="40">
                <p> </p>
            </td>
            <td width="41">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="36">
                <p> </p>
            </td>
        </tr>
        <tr>
            <td width="34">
                <p> </p>
            </td>
            <td width="126">
                <p>- Từ 21% - 40%</p>
            </td>
            <td width="46">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="40">
                <p> </p>
            </td>
            <td width="41">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="45">
                <p> </p>
            </td>
            <td width="40">
                <p> </p>
            </td>
            <td width="41">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="36">
                <p> </p>
            </td>
        </tr>
        <tr>
            <td width="34">
                <p> </p>
            </td>
            <td width="126">
                <p>- Từ 41% - 60%</p>
            </td>
            <td width="46">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="40">
                <p> </p>
            </td>
            <td width="41">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="45">
                <p> </p>
            </td>
            <td width="40">
                <p> </p>
            </td>
            <td width="41">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="36">
                <p> </p>
            </td>
        </tr>
        <tr>
            <td width="34">
                <p> </p>
            </td>
            <td width="126">
                <p>- Từ 61% - 80%</p>
            </td>
            <td width="46">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="40">
                <p> </p>
            </td>
            <td width="41">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="45">
                <p> </p>
            </td>
            <td width="40">
                <p> </p>
            </td>
            <td width="41">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="36">
                <p> </p>
            </td>
        </tr>
        <tr>
            <td width="34">
                <p> </p>
            </td>
            <td width="126">
                <p>- Từ 81% trở lên</p>
            </td>
            <td width="46">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="40">
                <p> </p>
            </td>
            <td width="41">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="45">
                <p> </p>
            </td>
            <td width="40">
                <p> </p>
            </td>
            <td width="41">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="36">
                <p> </p>
            </td>
        </tr>
        <tr>
            <td width="34">
                <p> </p>
            </td>
            <td width="126">
                <p>b) Con đẻ của người HĐKC bị nhiễm chất độc hóa học</p>
            </td>
            <td width="46">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="40">
                <p> </p>
            </td>
            <td width="41">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="45">
                <p> </p>
            </td>
            <td width="40">
                <p> </p>
            </td>
            <td width="41">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="36">
                <p> </p>
            </td>
        </tr>
        <tr>
            <td width="34">
                <p> </p>
            </td>
            <td width="126">
                <p>- Từ 61% - 80%</p>
            </td>
            <td width="46">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="40">
                <p> </p>
            </td>
            <td width="41">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="45">
                <p> </p>
            </td>
            <td width="40">
                <p> </p>
            </td>
            <td width="41">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="36">
                <p> </p>
            </td>
        </tr>
        <tr>
            <td width="34">
                <p> </p>
            </td>
            <td width="126">
                <p>- Từ 81% trở lên</p>
            </td>
            <td width="46">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="40">
                <p> </p>
            </td>
            <td width="41">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="45">
                <p> </p>
            </td>
            <td width="40">
                <p> </p>
            </td>
            <td width="41">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="36">
                <p> </p>
            </td>
        </tr>
        <tr>
            <td width="34">
                <p> </p>
            </td>
            <td width="126">
                <p>c) Thân nhân hưởng trợ cấp tuất hàng tháng</p>
            </td>
            <td width="46">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="40">
                <p> </p>
            </td>
            <td width="41">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="45">
                <p> </p>
            </td>
            <td width="40">
                <p> </p>
            </td>
            <td width="41">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="36">
                <p> </p>
            </td>
        </tr>
        <tr>
            <td width="34">
                <p>10</p>
            </td>
            <td width="126">
                <p>Người hoạt động cách mạng, hoạt động kháng chiến bị địch bắt tù, đày</p>
            </td>
            <td width="46">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="40">
                <p> </p>
            </td>
            <td width="41">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="45">
                <p> </p>
            </td>
            <td width="40">
                <p> </p>
            </td>
            <td width="41">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="36">
                <p> </p>
            </td>
        </tr>
        <tr>
            <td width="34">
                <p>11</p>
            </td>
            <td width="126">
                <p>Người HĐKC giải phóng dân tộc, bảo vệ TQ và làm nghĩa vụ quốc tế</p>
            </td>
            <td width="46">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="40">
                <p> </p>
            </td>
            <td width="41">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="45">
                <p> </p>
            </td>
            <td width="40">
                <p> </p>
            </td>
            <td width="41">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="36">
                <p> </p>
            </td>
        </tr>
        <tr>
            <td width="34">
                <p>12</p>
            </td>
            <td width="126">
                <p>Người có công giúp đỡ cách mạng</p>
                <p>- Hưởng trợ cấp hàng tháng</p>
                <p>- Hưởng trợ cấp một lần</p>
            </td>
            <td width="46">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="40">
                <p> </p>
            </td>
            <td width="41">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="45">
                <p> </p>
            </td>
            <td width="40">
                <p> </p>
            </td>
            <td width="41">
                <p> </p>
            </td>
            <td width="44">
                <p> </p>
            </td>
            <td width="36">
                <p> </p>
            </td>
        </tr>
    </tbody>
</table>
<p> </p>
<table>
    <tbody>
        <tr>
            <td style="text-align: center;" width="295">
                <p> </p>
            </td>
            <td style="text-align: center;" width="295">
                <p><strong>GIÁM ĐỐC<br /> </strong><em>(Chữ ký, dấu)<br /> </em><strong>Họ và tên</strong></p>
            </td>
        </tr>
    </tbody>
</table>
<p><strong><em>Ghi chú:</em></strong> Đơn vị có thẩm quyền của Bộ Quốc phòng và Bộ Công an, sửa đổi tiêu đề, nội dung, đối tượng báo cáo cho phù hợp.</p>
<p> </p>