<table style="width: 630px;">
	<tbody>
		<tr style="height: 74px;">
			<td style="text-align: center; width: 250px; height: 74px;">
				&nbsp;UBND TỈNH VĨNH LONG<br>
						<span style="font-weight: 700;">SỞ LAO ĐỘNG</span>
						<br>
							<span style="font-weight: 700;">THƯƠNG BINH VÀ XÃ HỘI</span>
							<br>:line_120:
						</td>
						<td style="text-align: center; width: 380px; height: 74px;">
							<span style="font-weight: 700;">&nbsp;CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</span>
							<br>
								<span style="font-weight: 700;">Độc lập - Tự do - Hạnh phúc</span>
								<br>:line_160:</td>
							</tr>
							<tr style="height: 13px;">
								<td style="text-align: center; width: 250px; height: 13px;">&nbsp;Số: :SoQuyetDinh:/QĐ SLĐTBXH &nbsp;</td>
								<td style="text-align: center; width: 380px; height: 13px;">&nbsp;Vĩnh Long, ngày ...:Now_TN:</td>
							</tr>
							<tr style="height: 13px;">
								<td colspan="2" style="width: 630px; height: 13px;">
									<div style="text-align: center;">
										<span style="font-weight: 700;">QUYẾT ĐỊNH</span><br>
										<span style="font-weight: 700;">Về việc thôi trả trợ cấp tuất thương binh hàng tháng</span>
										<br>:line_160:<br>
											<span style="font-weight: 700;">GIÁM ĐỐC SỞ LAO ĐỘNG ‑ THƯƠNG BINH VÀ XÃ HỘI</span>
										</div>
										<p>
											<span style="font-weight: 700;">&nbsp;</span>
										</p>
										<p>
											<em>&nbsp; &nbsp; &nbsp;Căn cứ Nghị định số 31/2013/NĐ‑CP ngày 09 tháng 4 năm 2013 của Chính phủ quy định chi tiết, hướng dẫn thi hành một số điều của Pháp lệnh ưu đãi người có công với cách mạng;</em>
										</p>
										<p>
											<i>&nbsp; &nbsp; &nbsp;Căn cứ Nghị định số 38/2019/NĐ CP ngày 09 tháng 5 năm 2019 của Chính phủ quy định mức lương cơ sở đối với cán bộ, công chức, viên chức và lực lượng vũ trang</i>
										</p>
										<p>
											<em>&nbsp; &nbsp; &nbsp;Căn cứ Nghị định số 58/2019/NĐ‑CP ngày 01 tháng 7 năm 2019 của Chính phủ quy định mức trợ cấp, phụ cấp ưu đãi đối với người có công với cách mạng;</em>
										</p>
										<p>
											<em>&nbsp; &nbsp; &nbsp;Căn cứ trích lục khai tử số&nbsp;:SoGiayTo(1): ngày&nbsp;:NgayCap(1): của :NoiCap(1):, khai tử ông (bà)&nbsp;<span style="font-weight: 700;">:HoTen:</span>&nbsp;đã từ trần ngày :NgayMat:;</em>
										</p>
										<p>
											<em>&nbsp; &nbsp; &nbsp;Căn cứ hồ sơ Người hoạt động kháng chiến bị địch bắt tù đày&nbsp;của ông (bà)&nbsp;<span style="font-weight: 700;">:HoTen:</span>, số hồ sơ: :SoHoSo:;</em>
										</p>
										<p>
											<em>&nbsp; &nbsp; &nbsp;Theo đề nghị của Trưởng phòng Người có công.</em>
										</p>
										<p style="text-align: center;">
											<span style="font-weight: 700;">QUYẾT ĐỊNH:</span>
										</p>
										<p>
											<span style="font-weight: 700;">Điều 1.</span>
										</p>
										<p style="box-sizing: border-box; margin-top: 0px; margin-bottom: 0px;">1. Trợ cấp mai táng phí đối với ông (bà):&nbsp;<span style="box-sizing: border-box; font-weight: 700;">:NguoiThoCungLietSy:</span>
										</p>
										<p style="box-sizing: border-box; margin-top: 0px; margin-bottom: 0px;">Sinh năm:&nbsp;:NamSinh1:&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Nam/Nữ: :GioiTinh1:</p>
										<p style="box-sizing: border-box; margin-top: 0px; margin-bottom: 0px;">Nguyên quán: :NguyenQuan1:.</p>
										<p style="box-sizing: border-box; margin-top: 0px; margin-bottom: 0px;">Trú quán: :DiaChi1:</p>
										<p style="box-sizing: border-box; margin-top: 0px; margin-bottom: 0px;">Quan hệ với người có công với cách mạng từ trần:&nbsp;<span style="box-sizing: border-box; font-weight: 700;">:QHGiaDinh:</span>
										</p>
										<p style="box-sizing: border-box; margin-top: 0px; margin-bottom: 0px;">Mức trợ cấp: (<em style="box-sizing: border-box;">:TienTroCap(19):&nbsp;đồng</em>).</p>
										<p style="box-sizing: border-box; margin-top: 0px; margin-bottom: 0px;">
											<em style="box-sizing: border-box;">(Bằng chữ: :TienTroCap_Chu(19):)</em>.</p>
										<p style="box-sizing: border-box; margin-top: 0px; margin-bottom: 0px;">2. Trợ cấp một lần đối với ông (bà):&nbsp;<span style="box-sizing: border-box; font-weight: bold;">:NguoiThoCungLietSy:</span>
										</p>
										<p style="box-sizing: border-box; margin-top: 0px; margin-bottom: 0px;">Sinh năm:&nbsp;:NamSinh1:&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Nam/Nữ: :GioiTinh1:</p>
										<p style="box-sizing: border-box; margin-top: 0px; margin-bottom: 0px;">Nguyên quán: :NguyenQuan1:.</p>
										<p style="box-sizing: border-box; margin-top: 0px; margin-bottom: 0px;">Trú quán: :DiaChi1:</p>
										<p style="box-sizing: border-box; margin-top: 0px; margin-bottom: 0px;">Quan hệ với người có công với cách mạng từ trần:&nbsp;<span style="box-sizing: border-box; font-weight: bold;">:QHGiaDinh:</span>
										</p>
										<p style="box-sizing: border-box; margin-top: 0px; margin-bottom: 0px;">Mức trợ cấp: (<em style="box-sizing: border-box;">:TienTroCap(20):&nbsp;đồng</em>).</p>
										<p>
											<em/>
										</p>
										<p style="box-sizing: border-box; margin-top: 0px; margin-bottom: 0px;">
											<em style="box-sizing: border-box;">(Bằng chữ: :TienTroCap_Chu(20):)</em>.</p>
										<p style="box-sizing: border-box; margin-top: 0px; margin-bottom: 0px;">
											<em style="box-sizing: border-box;">
												<span style="box-sizing: border-box; font-weight: 700;">Tổng cộng: (1+2+3) = :TongTroCap(19): đồng + :TongTroCap(20): đồng = Cong(:TongTroCap(20):;:TongTruyLinh(20):) đồng.</span>
											</em>
										</p>
										<p style="box-sizing: border-box; margin-top: 0px; margin-bottom: 0px;">
											<em/>
										</p>
										<p style="box-sizing: border-box; margin-top: 0px; margin-bottom: 0px;">
											<em style="box-sizing: border-box;">
												<span style="box-sizing: border-box; font-weight: 700;">(Bằng chữ: Chu(Cong(:TongTroCap(29):;:TongTroCap(20):)) đồng)</span>
											</em>
										</p>
										<span style="font-weight: 700;">Điều 2.</span>&nbsp;Các ông (bà): Chánh văn phòng, Trưởng phòng Người có công, Trưởng phòng Kế hoạch ‑ Tài chính thuộc Sở Lao động ‑ Thương binh và Xã hội tỉnh Vĩnh Long, Trưởng phòng Lao động ‑ Thương binh và Xã hội :huyen: chịu trách nhiệm thi hành Quyết định này./.</td>
								</tr>
								<tr style="height: 13px;">
									<td style="width: 250px; height: 13px;">
										<p>
											<span style="font-weight: 700;">
												<em>Nơi nhận:</em>
											</span>
										</p>
										<p>
											<em>- Như điều 2;</em>
										</p>
										<p>
											<em>- Lưu HS.</em>
										</p>
										<p>&nbsp;</p>
										<p>&nbsp;</p>
										<p>&nbsp;</p>
									</td>
									<td style="width: 380px; height: 13px;">
										<p style="text-align: center;">
											<span style="font-weight: 700;">KT GIÁM ĐỐC</span>
										</p>
										<p style="text-align: center;">
											<span style="font-weight: 700;">PHÓ GIÁM ĐỐC</span>
										</p>
										<p style="text-align: center;">&nbsp;</p>
										<p style="text-align: center;">&nbsp;</p>
										<p style="text-align: center;">&nbsp;</p>
									</td>
								</tr>
							</tbody>
						</table>
						