<style>
	.no-margin p {
		margin: 0;
	}
</style>
<div class="btn-close-container">
	<button class="btn-close" type="button" mat-mini-fab color="" (click)="closeDialog()" [disabled]="disabledBtn"
			title="Đóng">
		<mat-icon>clear</mat-icon>
	</button>
</div>
<div class="kt-portlet" [ngClass]="{ 'kt-portlet--body-progress kt-portlet--body-progress-overlay' : viewLoading }">
	<div class="kt-portlet__head kt-portlet__head__custom">
		<div class="col-md-{{isZoomSize ? '9' : '7'}} kt-margin-bottom-10-mobile" style="margin-top: 20px;">
			<h3 class="kt-portlet__head-title">Xem trước</h3>
		</div>
		<div class="col-md-{{isZoomSize ? '3' : '5'}} kt-margin-bottom-10-mobile"
			 style="margin-top: 10px; text-align: right;">
			<button style="padding: 0px 20px;" type="button" mat-raised-button color="primary" [matMenuTriggerFor]="menu">
				Tải về
			</button>
			<mat-menu #menu="matMenu">
				<button mat-menu-item (click)="in(3)">
					PDF
				</button>
				<button mat-menu-item (click)="in(1)">
					Word
				</button>
				<button mat-menu-item (click)="in(2)">
					Excel
				</button>
			</mat-menu>
			<button style="padding: 0px 20px;" type="button" mat-raised-button color="primary" printSectionId="print-section-review-export" ngxPrint
					[printStyle]="{p : {'margin': 0}}">
				In
			</button>
		</div>
	</div>
	<!-- end::Header -->
	<kt-portlet-body>
		<div class="kt-portlet__body-progress">
			<mat-spinner [diameter]="20"></mat-spinner>
		</div>
		<div class="form-group kt-form__group row">
			<div class="col-md-12 no-margin" *ngIf="strHtml" id="print-section-review-export">
				<span [innerHtml]="strHtml" style="font-family: 'Times New Roman', Times, serif;"></span>
			</div>
		</div>
	</kt-portlet-body>
	<!-- end::Body -->
</div>
