<p style="text-align: right;">
	<strong style="text-transform: uppercase;">Mẫu HS7</strong>
</p>
<table style="width: 630px;">
	<tbody>
		<tr style="height: 61px;">
			<td style="height: 61px; text-align: center; width: 250px;">
				<strong style="text-transform:uppercase">UBND :Tinh_TP:
					<br>SỞ LAO ĐỘNG
						<br>THƯƠNG BINH VÀ XÃ HỘI
							<br>:line_120:
							</strong>
						</td>
						<td style="height: 61px; text-align: center; width: 380px;">
							<div>
								<strong>CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM
									<br>Độc lập - Tự do - Hạnh phúc
										<br>:line_160:
										</strong>
									</div>
								</td>
							</tr>
							<tr style="height: 35px;">
								<td style="height: 35px; text-align: center; width: 287px;">
									<p>Số: :SoQuyetDinh:/PB-SLĐTBXH</p>
								</td>
								<td style="height: 35px; text-align: center; width: 327px;">
									<p>
										<em>:Tinh_TP:, :NgayHieuLuc_NTN:</em>
									</p>
								</td>
							</tr>
							<tr style="height: 35px;">
								<td style="height: 35px; text-align: center; width: 614px;" colspan="2">
									<p>
										<strong>PHIẾU BÁO DI CHUYỂN HỒ SƠ THƯƠNG BINH</strong>
									</p>
									<p>Kính gửi:Sở lao động - Thương binh và Xã hội</p>
									<p style="text-align: left;">Sở Lao động - Thương binh và Xã hội tỉnh Vĩnh Long di chuyển hồ sơ bệnh binh của Ông(Bà):
										<strong>:HoTen:</strong>
									</p>
									<p style="text-align: left;">Sinh :NgaySinh_NTN:</p>
									<p style="text-align: left;">Nguyên quán: :NguyenQuan:</p>
									<p style="text-align: left;">Nay chuyển đến cư trú tại: :DiaChi:</p>
									<p style="text-align: left;">Số hồ sơ: :SoHoSo:</p>
									<p style="text-align: left;">Các giấy tờ trong hồ sơ: :strGiayTo:</p>
									<p style="text-align: left;"/>
									<p style="text-align: left;">Ông (Bà) :HoTen:.</p>
									<p style="text-align: left;">Mức trợ cấp: :TienTroCap: đồng.</p>
									<p style="text-align: left;">
										<em>(:TienTroCap_Chu:)</em>
									</p>
									<p style="text-align: left;">Các chế độ ưu đãi khác đã được giải quyết như sau:.</p>
									<p style="text-align: left;">…………………………………………………………………………………………..</p>
									<p style="text-align: left;">Đề nghị Sở Lao động - Thương binh và Xã hội tiếp nhận và thực hiện chế độ ưu đãi cho Ông(Bà): :HoTen: kể từ tháng :ChuyenDate:/.</p>
								</td>
							</tr>
							<tr style="height: 35px;">
								<td style="height: 35px; text-align: center; width: 287px;">
									<p style="text-align: left;">
										<strong>
											<em>Nơi nhận:
												<br></em>
										</strong>
										- Như trên;
										<br>- Cục NCC;
											<br>- Ông (Bà) :HoTen: (để biết)
												<br>- Lưu
												</p>
												<p style="text-align: left;"/>
											</td>
											<td style="height: 35px; text-align: center; width: 327px;">
												<strong>KT GIÁM ĐỐC
													<br>PHÓ GIÁM ĐỐC
													</strong>
													<p/>
													<p/>
												</td>
											</tr>
										</tbody>
									</table>
