<p style="text-align: right;">
	<strong style="text-transform: uppercase;">Mẫu HS7</strong>
</p>
<table style="width: 630px;">
	<tbody>
		<tr style="height: 61px;">
			<td style="height: 61px; text-align: center; width: 250px;">
				<strong style="text-transform:uppercase">UBND :Tinh_TP:
					<br>SỞ LAO ĐỘNG
						<br>THƯƠNG BINH VÀ XÃ HỘI
							<br>:line_120:
							</strong>
						</td>
						<td style="height: 61px; text-align: center; width: 380px;">
							<div>
								<strong>CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM
									<br>Độc lập - Tự do - Hạnh phúc
										<br>:line_160:
										</strong>
									</div>
								</td>
							</tr>
							<tr style="height: 35px;">
								<td style="height: 35px; text-align: center; width: 287px;">
									<p>Số: :SoQuyetDinh:/PB‑SLĐTBXH</p>
								</td>
								<td style="height: 35px; text-align: center; width: 327px;">
									<p>
										<em>:Tinh_TP:, :NgayHieuLuc_NTN:</em>
									</p>
								</td>
							</tr>
							<tr style="height: 35px;">
								<td style="height: 35px; width: 614px;" colspan="2">
									<p style="text-align: center;">
										<strong>PHIẾU BÁO TIẾP NHẬN HỒ SƠ DI CHUYỂN ĐẾN</strong>
									</p>
									<p style="text-align: center;">
										<strong>(Bệnh binh: :HoTen:)</strong>
									</p>
									<p style="text-align: center;">
										<strong>Kính gửi: Phòng Lao động - Thương binh và Xã hội huyện :Huyen:</strong>
									</p>
									<p style="text-align: left;">Sở Lao động ‑ Thương binh và Xã hội tỉnh Vĩnh Long tiếp nhận hồ sơ do Sở Lao động - Thương binh và Xã hội chuyển đến cho:</p>
									<p style="text-align: left;">Ông (Bà):
										<strong>:HoTen:&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</strong>
										Sinh năm: :NamSinh:<span style="background-color: transparent; font-weight: 700;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span><span style="background-color: transparent;">&nbsp;</span><span style="background-color: transparent;">Tỉ lệ thương tật: :TiLe:%</span></p>
									<p style="text-align: left;">Hồ sơ chuyển đến: Bản chính</p>
									<p style="text-align: left;">Số hồ sơ: :SoHoSo:</p>
									<p style="text-align: left;">Nguyên quán: :NguyenQuan:</p>
									<p style="text-align: left;">Nơi quản lý hồ sơ trước khi di chuyển: :NguyenQuan:</p>
									<p style="text-align: left;">Nay chuyển đến cư trú tại: :DiaChi:</p>
									<p style="text-align: left;">Các chế độ đã được giải quyết như sau: Ông (Bà) :HoTen:.</p>
									<p style="text-align: left;">Mức trợ cấp, phụ cấp: :TienTroCap: đồng.</p>
									<p style="text-align: left;">Các chế độ đã được thực hiện như sau:.</p>
									<p style="text-align: left;">Các chế độ chưa được thực hiện như sau:.</p>
									<p style="text-align: left;">Đề nghị Sở Lao động - Thương binh và Xã hội :Huyen: đăng ký quản lý và thực hiện chế độ ưu đãi cho Ông(Bà): :HoTen: theo quy định/.</p>
								</td>
							</tr>
							<tr style="height: 35px;">
								<td style="height: 35px; text-align: center; width: 287px;">
									<p style="text-align: left;">
										<strong>
											<em>Nơi nhận:
												<br></em>
										</strong>
										- Như trên;
										<br>- Cục NCC;
											<br>- Ông (Bà) :HoTen: (để biết)
												<br>- Lưu
												</p>
												<p style="text-align: left;">
											</p></td>
											<td style="height: 35px; text-align: center; width: 327px;">
												<strong>KT GIÁM ĐỐC
													<br>PHÓ GIÁM ĐỐC
													</strong>
													<p>
													</p><p>
												</p></td>
											</tr>
										</tbody>
									</table>



