<p style="text-align: right;">
	<strong style="text-transform: uppercase;">Mẫu HS7</strong>
</p>
<table style="width: 630px;">
	<tbody>
		<tr style="height: 61px;">
			<td style="height: 61px; text-align: center; width: 250px;">
				<strong>UBND
					<span  style="text-transform: uppercase;">:Tinh_TP:</span>
					<br>SỞ LAO ĐỘNG
						<br>THƯƠNG BINH VÀ XÃ HỘI
							<br>:line_120:
							</strong>
						</td>
						<td style="height: 61px; text-align: center; width: 380px;">
							<div>
								<strong>CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM
									<br>Độc lập - Tự do - Hạnh phúc
										<br>:line_160:
										</strong>
									</div>
								</td>
							</tr>
							<tr style="height: 35px;">
								<td style="height: 35px; text-align: center; width: 287px;">
									<p>Số: :SoQuyetDinh:/PB‑SLĐTBXH</p>
								</td>
								<td style="height: 35px; text-align: center; width: 327px;">
									<p>
										<em>:Tinh_TP:, :NgayHieuLuc_NTN:</em>
									</p>
								</td>
							</tr>
							<tr style="height: 35px;">
								<td style="height: 35px; width: 614px;" colspan="2">
									<p style="text-align: center;">
										<strong>PHIẾU BÁO DI CHUYỂN HỒ SƠ BỆNH BINH</strong>
									</p>
									<p style="text-align: center;">
										<strong>(Bệnh binh: :HoTen:)</strong>
									</p>
									<p style="text-align: center;">
										<strong>Kính gửi: Phòng Lao động - Thương binh và Xã hội :Huyen:</strong>
									</p>
									<p style="text-align: left;">Sở Lao động ‑ Thương binh và Xã hội tỉnh Vĩnh Long di chuyển hồ sơ của Ông (Bà):
										<strong>:HoTen:</strong>
									</p>
									<p style="text-align: left;">Ông (Bà):
										<strong>:HoTen:&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</strong>
										Năm sinh:
										<strong>:NamSinh:</strong>
									</p>
									<p style="text-align: left;">Nguyên quán: :NguyenQuan:</p>
									<p style="text-align: left;">Nay về cư trú tại: :DiaChi:&nbsp;</p>
									<p>Số hồ sơ: :SoHoSo:</p>
									<p>Ông (Bà): :HoTen: là bệnh binh</p>
									<p style="text-align: left;">Với số tiền trợ cấp: :TienTroCap: VNĐ/tháng (:TienTroCap_Chu:).</p>
									<p style="text-align: left;">Các chế độ ưu đã khác đã được giải quyết như sau:.</p>
									<p style="text-align: left;">Các chế độ chưa được thực hiện như sau:.</p>
									<p style="text-align: left;">Đề nghị Sở Lao động - Thương binh và Xã hội :Huyen: tiếp nhận và thực hiện chế độ ưu đãi cho Ông(Bà): :HoTen: theo quy định/.</p>
								</td>
							</tr>
							<tr style="height: 35px;">
								<td style="height: 35px; text-align: center; width: 287px;">
									<p style="text-align: left;">
										<strong>
											<em>Nơi nhận:
												<br></em>
										</strong>
										- Như kính gửi;
										<br>- Ông (Bà) :HoTen:
											<br>- Lưu HSNCC.
											</p>
											<p style="text-align: left;"/>
										</td>
										<td style="height: 35px; text-align: center; width: 327px;">
											<strong>KT GIÁM ĐỐC
												<br>PHÓ GIÁM ĐỐC
												</strong>
												<p/>
												<p/>
											</td>
										</tr>
									</tbody>
								</table>
