<p style="text-align: right;"><strong>Mẫu AH3</strong></p>
<table>
    <tbody>
        <tr>
            <td style="text-align: center;" width="223">
                <p>UBND TỈNH, THÀNH PHỐ Tinh_TP<strong><br> SỞ LAO ĐỘNG - THƯƠNG BINH VÀ XÃ HỘI<br> --------</strong></p>
            </td>
            <td style="text-align: center;" width="375">
                <p><strong>CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM<br> Độc lập - Tự do - Hạnh phúc<br> ----------------</strong></p>
            </td>
        </tr>
        <tr>
            <td style="text-align: center;" width="223">
                <p>Số: :SoQuyetDinh:</p>
            </td>
            <td style="text-align: center;" width="375">
                <p><em>:Tinh_TP:, :NgayHieuLuc_NTN:</em></p>
                <p style="text-align: right;"><em>Số hồ sơ: :SoHoSo:</em></p>
            </td>
        </tr>
    </tbody>
</table>
$
<p>&nbsp;</p>
<p style="text-align: center;"><strong>QUYẾT ĐỊNH</strong></p>
<p style="text-align: center;"><strong>Về việc trợ cấp hàng tháng đối với Anh hùng lực lượng vũ trang nhân dân, Anh hùng lao động trong thời kỳ kháng chiến</strong></p>
<p style="text-align: center;"><strong>GIÁM ĐỐC SỞ LAO ĐỘNG - THƯƠNG BINH VÀ XÃ HỘI</strong></p>
<p>Căn cứ Nghị định số 31/2013/NĐ-CP ngày 09 tháng 4 năm 2013 của Chính phủ quy định chi tiết, hướng dẫn thi hành một số điều của Pháp lệnh ưu đãi người có công với cách mạng;</p>
<p>Căn cứ Nghị định số ……./NĐ-CP ngày ... tháng ... năm ... của Chính phủ quy định về mức trợ cấp, phụ cấp ưu đãi đối với người có công với cách mạng;</p>
<p>Căn cứ Quyết định số ....ngày ... tháng ... năm ... của Chủ tịch nước về việc phong tặng danh hiệu Anh hùng …………………;</p>
<p>Xét đề nghị của Trưởng phòng Người có công,</p>
<p style="text-align: center;"><strong>QUYẾT ĐỊNH:</strong></p>
<p><strong>Điều 1.</strong></p>
<p>Trợ cấp hàng tháng kể từ :<span style="background-color: transparent;">NgayTroCap_NTN</span><span style="background-color: transparent;">:. đối với ông (bà): :</span><span style="background-color: transparent;">HoTen</span><span style="background-color: transparent;">:</span></p>
<p>Sinh :<span style="background-color: transparent;">NgaySinh_NTN</span><span style="background-color: transparent;">&nbsp;</span><span style="background-color: transparent;">:Nam/Nữ: :</span><span style="background-color: transparent;">GioiTinh</span><span style="background-color: transparent;">:</span></p>
<p>Nguyên quán: :NguyenQuan:&nbsp;&nbsp;</p>
<p>Trú quán: :DiaChi:</p>
<p>Mức: :TienTroCap: đồng/tháng.</p>
<p>(Bằng chữ: :TienTroCap_Chu):</p>
<p><strong>Điều 2.</strong> Các ông (bà) Trưởng phòng Người có công, Trưởng phòng Kế hoạch Tài chính, Trưởng phòng Lao động - Thương binh và Xã hội Tinh_TP và ông (bà) :HoTen: chịu trách nhiệm thi hành Quyết định này./.</p>
<p>&nbsp;</p>
<table>
    <tbody>
        <tr>
            <td width="295">
                <p><strong><em>&nbsp;</em></strong></p>
                <p><strong><em>Nơi nhận:<br> </em></strong>- Như điều 2;<br> - Cục NCC-Bộ LĐTBXH;<br> - ….;<br> - Lưu .</p>
            </td>
            <td width="295">
                <p style="text-align: center;"><strong>GIÁM ĐỐC<br> </strong><em>(Chữ ký, dấu)<br> </em><strong>Họ và tên</strong></p>
            </td>
        </tr>
    </tbody>
</table>

