<table style="width: 630px;">
<tbody>
<tr style="height: 74px;">
<td style="text-align: center; width: 250px; height: 74px;">&nbsp;UBND TỈNH VĨNH LONG<br /><span style="font-weight: bold;">SỞ LAO ĐỘNG</span> <br /><span style="font-weight: bold;">THƯƠNG BINH V&Agrave; X&Atilde; HỘI</span> <br />:line_120:</td>
<td style="text-align: center; width: 380px; height: 74px;"><span style="font-weight: bold;">&nbsp;CỘNG H&Ograve;A X&Atilde; HỘI CHỦ NGHĨA VIỆT NAM</span> <br /><span style="font-weight: bold;">Độc lập - Tự do - Hạnh ph&uacute;c</span> <br />:line_160:</td>
</tr>
<tr style="height: 13px;">
<td style="text-align: center; width: 250px; height: 13px;">&nbsp;Số: :SoQuyetDinh:/QĐ SLĐTBXH &nbsp;</td>
<td style="text-align: center; width: 380px; height: 13px;">&nbsp;Vĩnh Long, ng&agrave;y ...:Now_TN:</td>
</tr>
<tr style="height: 13px;">
<td style="width: 630px; height: 13px;" colspan="2">
<div style="text-align: center;"><span style="font-weight: bold;">QUYẾT ĐỊNH</span><br /><span style="font-weight: bold;">Về việc th&ocirc;i trả trợ cấp t&ugrave; đ&agrave;y h&agrave;ng th&aacute;ng</span> <br />:line_160:<br /><span style="font-weight: bold;">GI&Aacute;M ĐỐC SỞ LAO ĐỘNG ‑ THƯƠNG BINH V&Agrave; X&Atilde; HỘI</span></div>
<p><span style="font-weight: bold;">&nbsp;</span></p>
<p><em>&nbsp; &nbsp; &nbsp;Căn cứ Nghị định số 31/2013/NĐ‑CP ng&agrave;y 09 th&aacute;ng 4 năm 2013 của Ch&iacute;nh phủ quy định chi tiết, hướng dẫn thi h&agrave;nh một số điều của Ph&aacute;p lệnh ưu đ&atilde;i người c&oacute; c&ocirc;ng với c&aacute;ch mạng;</em></p>
<p><em>&nbsp; &nbsp; &nbsp;Căn cứ Nghị định số 58/2019/NĐ‑CP ng&agrave;y 01 th&aacute;ng 7 năm 2019 của Ch&iacute;nh phủ quy định mức trợ cấp, phụ cấp ưu đ&atilde;i đối với người c&oacute; c&ocirc;ng với c&aacute;ch mạng;</em></p>
<p><em>&nbsp; &nbsp; &nbsp;Căn cứ tr&iacute;ch lục khai tử số&nbsp;:SoGiayTo(1): ng&agrave;y&nbsp;:NgayCap(1): của :NoiCap(1):, khai tử &ocirc;ng (b&agrave;)&nbsp;<span style="font-weight: bold;">:HoTen:</span>&nbsp;đ&atilde; từ trần ng&agrave;y :NgayMat:;</em></p>
<p><em>&nbsp; &nbsp; &nbsp;Căn cứ hồ sơ&nbsp;</em> <span style="background-color: transparent;"> <em>Người hoạt động kh&aacute;ng chiến bị địch bắt t&ugrave; đ&agrave;y&nbsp;</em> </span> <em style="background-color: transparent;">của &ocirc;ng (b&agrave;)&nbsp;<span style="font-weight: bold;">:HoTen:</span>, số hồ sơ: :SoHoSo:;</em></p>
<p><em>&nbsp; &nbsp; &nbsp;Theo đề nghị của Trưởng ph&ograve;ng Người c&oacute; c&ocirc;ng.</em></p>
<p style="text-align: center;"><span style="font-weight: bold;">QUYẾT ĐỊNH:</span></p>
<p><span style="font-weight: bold;">Điều 1.</span>&nbsp;Nay th&ocirc;i trả trợ cấp Người hoạt động kh&aacute;ng chiến bị địch bắt t&ugrave; đ&agrave;y h&agrave;ng th&aacute;ng của &ocirc;ng (b&agrave;)&nbsp;<span style="font-weight: bold;">:HoTen:</span></p>
<p>‑ Sinh năm:&nbsp;:NamSinh:</p>
<p>‑ Cư ngụ: :DiaChi_Full:.</p>
<p>‑ Kể từ: :NgayTroCap:.</p>
<p>‑ Số tiền trợ cấp:&nbsp;<span style="font-weight: bold;">:TienTroCap:</span>&nbsp;đồng.</p>
<p>‑&nbsp;<span style="font-weight: bold;"> <em>(Bằng chữ: :TienTroCap_Chu:)</em> </span>.</p>
<p><span style="font-weight: bold;">Điều 2.</span>&nbsp;Ph&ograve;ng Lao động ‑ Thương binh v&agrave; X&atilde; hội&nbsp;:huyen: c&oacute; tr&aacute;ch nhiệm thu hồi số tiền trợ cấp th&aacute;ng :ThangThuHoi:&nbsp;để nộp lại ng&acirc;n s&aacute;ch Nh&agrave; nước theo quy định.</p>
<span style="font-weight: bold;">Điều 3.</span>&nbsp;C&aacute;c &ocirc;ng (b&agrave;): Ch&aacute;nh văn ph&ograve;ng, Trưởng ph&ograve;ng Người c&oacute; c&ocirc;ng, Trưởng ph&ograve;ng Kế hoạch ‑ T&agrave;i ch&iacute;nh thuộc Sở Lao động ‑ Thương binh v&agrave; X&atilde; hội tỉnh Vĩnh Long, Trưởng ph&ograve;ng Lao động ‑ Thương binh v&agrave; X&atilde; hội :huyen: chịu tr&aacute;ch nhiệm thi h&agrave;nh Quyết định n&agrave;y./.</td>
</tr>
<tr style="height: 13px;">
<td style="width: 250px; height: 13px;">
<p><span style="font-weight: bold;"> <em>Nơi nhận:</em> </span></p>
<p><em>- Như điều 3;</em></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</td>
<td style="width: 380px; height: 13px;">
<p style="text-align: center;"><span style="font-weight: bold;">KT GI&Aacute;M ĐỐC</span></p>
<p style="text-align: center;"><span style="font-weight: bold;">PH&Oacute; GI&Aacute;M ĐỐC</span></p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;">&nbsp;</p>
</td>
</tr>
</tbody>
</table>
