<!-- begin:: Content Head -->
<div class="kt-subheader kt-grid__item" [ngClass]="{'kt-container--clear': clear}" [hidden]="subheaderService.disabled$ | async" id="kt_subheader">
    <div class="kt-container" [ngClass]="{'kt-container--fluid': fluid}">
        <div class="kt-subheader__main">
            <div class="group-tab-submenu">
                <div class="tab-submenu">
                    <div class="fa fa-home" aria-hidden="true"></div>
                    <div>Báo cáo thống kê</div>
                </div>
                <div class="tab-submenu active">
                    <div class="fa fa-home " aria-hidden="true"></div>
                    <div>Báo cáo thống kê</div>
                </div>
                <div class="tab-submenu ">
                    <div class="fa fa-home" aria-hidden="true"></div>
                    <div>Báo cáo thống kê</div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end:: Content Head -->