<p style="text-align: right;"><strong>MẪU KC1</strong></p>
<p style="text-align: center;"><strong>CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM<br /> Độc lập - Tự do - Hạnh phúc<br /> ----------------</strong></p>
<p> </p>
$
<p style="text-align: center;"><strong>BẢN KHAI CÁ NHÂN</strong></p>
<p style="text-align: center;"><strong>Dùng cho người hoạt động kháng chiến giải phóng dân tộc, bảo vệ tổ quốc và làm nghĩa vụ quốc tế</strong></p>
<p>Họ và tên: :HoTen:</p>
<p>Sinh :NgaySinh_NTN: Nam/Nữ: :GioiTinh:</p>
<p>Nguyên quán: :NguyenQuan:</p>
<p>Trú quán: :TruQuan:</p>
<p>Tham gia hoạt động kháng chiến từ ngày .. tháng....năm .. đến ngày .. tháng .. năm .</p>
<p>Số năm thực tế tham gia kháng chiến: ..... tháng ........năm.</p>
<p>Đã được khen thưởng (*): ...............................................................................</p>
<p>Theo Quyết định số ....... ngày ... tháng ... năm ... của .....</p>
<p> </p>
<table>
    <tbody>
        <tr>
            <td width="373">
                <p><em>.... ngày... tháng... năm...</em></p>
                <p>Xác nhận của xã, phường .........</p>
                <p>Ông (bà) .........hiện cư trú tại ..............</p>
                <p style="text-align: center;"><strong>TM. UBND<br /> Quyền hạn, chức vụ người ký<br /> </strong> <em>(Chữ ký, dấu)<br /> </em><strong>Họ và tên</strong></p>
            </td>
            <td width="373">
                <p style="text-align: center;"><em>.... ngày ... tháng ... năm ...<br /> </em><strong>Người khai<br /> </strong><em>(Ký, ghi rõ họ và tên)</em></p>
            </td>
        </tr>
    </tbody>
</table>
<p><strong><em>Ghú chú: (*) </em></strong> Ghi rõ hình thức khen thưởng: Huân chương Chiến thắng hạng...; Huy chương Chiến thắng hạng …..; Huân chương Kháng chiến chống Pháp hạng....</p>
<p> </p>