<table style="width: 84.724%;">
<tbody>
<tr>
<td style="text-align: center; width: 47.894%; height: 74px;">
<div><span style="font-size: medium;">&nbsp;UBND TỈNH VĨNH LONG <br /><strong>SỞ LAO ĐỘNG</strong> <br /><strong>THƯƠNG BINH V&Agrave; X&Atilde; HỘI</strong> <br />:line_120: </span></div>
</td>
<td style="text-align: center; width: 47.5606%; height: 74px;"><span style="font-size: medium;"><strong>&nbsp;CỘNG H&Ograve;A X&Atilde; HỘI CHỦ NGHĨA VIỆT NAM</strong> <br /><strong>Độc lập - Tự do - Hạnh ph&uacute;c</strong> <br />:line_160: </span></td>
</tr>
<tr style="height: 13px;">
<td style="text-align: center; width: 47.894%; height: 13px;"><span style="font-size: medium;">&nbsp;Số: :SoQuyetDinh:/QĐ SLĐTBXH &nbsp;</span></td>
<td style="text-align: center; width: 47.5606%; height: 13px;"><span style="font-size: medium;">&nbsp;<em>Vĩnh Long, ng&agrave;y ...:Now_TN:</em></span></td>
</tr>
<tr style="height: 13px;">
<td style="width: 95.4546%; height: 13px;" colspan="2">
<p style="text-align: center;"><span style="font-size: medium;"><strong>QUYẾT ĐỊNH</strong> </span></p>
<div style="text-align: center;"><span style="font-size: medium;"><strong>Về việc th&ocirc;i trả trợ cấp thương binh h&agrave;ng th&aacute;ng</strong> <br />:line_160: </span></div>
<div style="text-align: center;"><span style="font-size: medium;"><strong>GI&Aacute;M ĐỐC SỞ LAO ĐỘNG ‑ THƯƠNG BINH V&Agrave; X&Atilde; HỘI <br />TỈNH VĨNH LONG</strong></span></div>
<div style="text-align: center;">&nbsp;</div>
<p><span style="font-size: medium;"><strong>&nbsp;</strong><em style="background-color: transparent;">&nbsp; &nbsp; &nbsp;Căn cứ Nghị định số 31/2013/NĐ‑CP ng&agrave;y 09 th&aacute;ng 4 năm 2013 của Ch&iacute;nh phủ quy định chi tiết, hướng dẫn thi h&agrave;nh một số điều của Ph&aacute;p lệnh ưu đ&atilde;i người c&oacute; c&ocirc;ng với c&aacute;ch mạng;</em></span></p>
<p><span style="font-size: medium;"><em>&nbsp; &nbsp; &nbsp;Căn cứ Nghị định số 58/2019/NĐ‑CP ng&agrave;y 01 th&aacute;ng 7 năm 2019 của Ch&iacute;nh phủ quy định mức trợ cấp, phụ cấp ưu đ&atilde;i đối với người c&oacute; c&ocirc;ng với c&aacute;ch mạng;</em> </span></p>
<p><span style="font-size: medium;"><em>&nbsp; &nbsp; &nbsp;Căn cứ tr&iacute;ch lục khai tử số&nbsp;:SoGiayTo(1): ng&agrave;y&nbsp;:NgayCap(1): của :NoiCap(1):, khai tử &ocirc;ng (b&agrave;) <strong>:HoTen:</strong> &nbsp;đ&atilde; từ trần ng&agrave;y :NgayMat:; </em> </span></p>
<p><span style="font-size: medium;"><em>&nbsp; &nbsp; &nbsp;Căn cứ hồ sơ thương binh của &ocirc;ng (b&agrave;) <strong>:HoTen:</strong> , số hồ sơ: :SoHoSo:; </em> </span></p>
<p><span style="font-size: medium;"><em>&nbsp; &nbsp; &nbsp;Theo đề nghị của Trưởng ph&ograve;ng Người c&oacute; c&ocirc;ng.</em> </span></p>
<p style="text-align: center; line-height: 1.5;"><span style="font-size: medium;"><strong>QUYẾT ĐỊNH:</strong> </span></p>
<p><span style="font-size: medium;"><strong>Điều 1.</strong> Nay th&ocirc;i trả trợ cấp thương binh h&agrave;ng th&aacute;ng của &ocirc;ng (b&agrave;)&nbsp; <strong>:HoTen:</strong> </span></p>
<p><span style="font-size: medium;">‑ Sinh năm:&nbsp;:NamSinh:</span></p>
<p><span style="font-size: medium;">‑ Cư ngụ: :DiaChi_Full:.</span></p>
<p><span style="font-size: medium;">‑ Kể từ: :NgayTroCap:.</span></p>
<p><span style="font-size: medium;">‑ Số tiền trợ cấp: <strong>:TienTroCap(23):</strong> &nbsp;đồng. </span></p>
<p><span style="font-size: medium;">‑ <strong> <em>(Bằng chữ: :TienTroCap_Chu:)</em> </strong> . </span></p>
<span style="font-size: medium;"><strong>Điều 2.</strong> C&aacute;c &ocirc;ng (b&agrave;): Ch&aacute;nh văn ph&ograve;ng, Trưởng ph&ograve;ng Người c&oacute; c&ocirc;ng, Trưởng ph&ograve;ng Kế hoạch ‑ T&agrave;i ch&iacute;nh thuộc Sở Lao động ‑ Thương binh v&agrave; X&atilde; hội tỉnh Vĩnh Long, Trưởng ph&ograve;ng Lao động ‑ Thương binh v&agrave; X&atilde; hội :huyen: chịu tr&aacute;ch nhiệm thi h&agrave;nh Quyết định n&agrave;y./. </span></td>
</tr>
<tr style="height: 13px;">
<td style="width: 47.894%; height: 13px;">
<p style="text-align: left;"><span style="font-size: medium;"><strong> <em>Nơi nhận:</em> </strong> </span></p>
<p style="text-align: left;"><span style="font-size: medium;"><em>- Như điều 2;</em> </span></p>
<p style="text-align: left;"><span style="font-size: medium;"><em>- Lưu HS.</em> </span></p>
<p style="text-align: left;"><span style="font-size: medium;">&nbsp;</span></p>
<p style="text-align: left;"><span style="font-size: medium;">&nbsp;</span></p>
<p style="text-align: left;"><span style="font-size: medium;">&nbsp;</span></p>
</td>
<td style="width: 47.5606%; height: 13px;">
<p style="text-align: center;"><span style="font-size: medium;"><strong>KT GI&Aacute;M ĐỐC</strong> </span></p>
<p style="text-align: center;"><span style="font-size: medium;"><strong>PH&Oacute; GI&Aacute;M ĐỐC</strong> </span></p>
<p style="text-align: center;"><span style="font-size: medium;">&nbsp;</span></p>
<p style="text-align: center;"><span style="font-size: medium;">&nbsp;</span></p>
<p style="text-align: center;"><span style="font-size: medium;">&nbsp;</span></p>
</td>
</tr>
</tbody>
</table>
