<table style="width: 630px;">
	<tbody>
		<tr>
			<td style="text-align: center; width: 250px;">
				<div style="text-transform: uppercase;">UBND :Huyen:<br>
						<span style="font-weight: 700;">PHÒNG LAO ĐỘNG‑TB&amp;XH</span>
						<br>:line_120:</div>
					</td>
					<td style="text-align: center; width: 380px;">
							<span style="font-weight: 700;">CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</span>
							<br>
								<span style="font-weight: 700;">Độc lập ‑ Tự do ‑ Hạnh phúc</span>
								<br>:line_160:
							</td>
						</tr>
						<tr>
							<td colspan="2" style="width: 630px;">
								<p style="text-align: center;">
									<span style="font-weight: 700;">PHIẾU BÁO GIẢM</span>
								</p>
								<p>Họ và tên người hưởng trợ cấp: :HoTen: ‑ Năm sinh :NamSinh:.</p>
								<p>Nguyên quán: :NguyenQuan:.</p>
								<p>Hộ khẩu thường trú: :DiaChi_Full:.</p>
								<p>Chết :NgayMat_NTN:</p>
								<p>Giấy trích lục khai tử số: :SoGiayTo(1): do :NoiCap(1): cấp ngày :NgayCap(1):.</p>
								<p>Thuộc đối tượng hưởng trợ cấp ưu đãi: (LTCM, TB, BB, TNLS...) TB, người hưởng chính sách như thương binh, TB B từ 21% trở lên.</p>
								<p>Tỷ lệ mất sức lao động:.....</p>
								<p>Số sổ trợ cấp: :SoHoSo:</p>
								<p>Các mức trợ cấp ưu đãi hàng tháng đang hưởng:</p>:TroCapDangHuong:<p>Nay báo cắt giảm trợ cấp của ông/bà: :HoTen: kể từ&nbsp;<span style="font-weight: 700;">:NgayCat_NTN:</span>.</p>
								<p>Các chế độ trợ cấp sau khi từ trần bao gồm:</p>:TroCapSauKhiMat:<p>Ghi chú: .</p>
								<p>‑ Trợ cấp tuất từ trần (nếu có): theo bản khai.</p>
								<p>Xin thông báo để Sở Lao động ‑ Thương binh &amp; Xã hội tỉnh Vĩnh Long làm thủ tục giải quyết chế độ từ trần.</p>
							</td>
						</tr>
						<tr>
							<td style="width: 250px;">&nbsp;</td>
							<td style="width: 380px;">
								<p style="text-align: center;">
									<em>............, :Now_NTN:</em>
								</p>
								<p style="text-align: center;">
									<span style="font-weight: 700;">TRƯỞNG PHÒNG</span>
								</p>
							</td>
						</tr>
					</tbody>
				</table>
				