.mat-table__wrapper .mat-table
{
	min-width:auto;
}
/*.mat-table__wrapper .mat-table .mat-cell, .mat-table__wrapper .mat-table .mat-footer-cell, .mat-table__wrapper .mat-table .mat-header-cell {
	border: solid 1px #d8dce6;
	border-width: 1px;
	padding-left: 10px;
	padding-right: 0px;
}*/
