<p style="text-align: right;"><span style="font-weight: bold; text-transform: uppercase;">MẪU HS7</span></p>
<table style="width: 630px;">
<tbody>
<tr style="height: 61px;">
<td style="height: 61px; text-align: center; width: 250px;"><strong style="text-transform: uppercase;">UBND :Tinh_TP:<br />SỞ LAO ĐỘNG<br />THƯƠNG BINH V&Agrave; X&Atilde; HỘI<br />:line_120:</strong></td>
<td style="height: 61px; text-align: center; width: 380px;">
<p><span style="font-weight: bold;">CỘNG H&Ograve;A X&Atilde; HỘI CHỦ NGHĨA VIỆT NAM<br />Độc lập - Tự do - Hạnh ph&uacute;c<br />:line_160:</span></p>
</td>
</tr>
<tr style="height: 35px;">
<td style="height: 35px; text-align: center; width: 250px;">
<p>Số: :SoQuyetDinh:/PB‑SLĐTBXH</p>
</td>
<td style="height: 35px; text-align: center; width: 380px;">
<p><em>:Tinh_TP:, :NgayHieuLuc_NTN:</em></p>
</td>
</tr>
<tr style="height: 35px;">
<td style="height: 35px; width: 630px;" colspan="2">
<p style="text-align: center;"><span style="font-weight: bold;">PHIẾU B&Aacute;O DI CHUYỂN HỒ SƠ&nbsp;</span><span style="background-color: transparent; text-align: left;"><strong>LIỆT SĨ</strong></span></p>
<p style="text-align: center;"><span style="font-weight: bold;">(Chất độc h&oacute;a học: :HoTen:)</span></p>
<p style="text-align: center;"><span style="font-weight: bold;">&nbsp;</span></p>
<p style="text-align: center;">K&iacute;nh gửi: Ph&ograve;ng Lao động - Thương binh v&agrave; X&atilde; hội :ChuyenTo_huyen:</p>
<p style="text-align: center;">&nbsp;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Sở Lao động ‑ Thương binh v&agrave; X&atilde; hội tỉnh Vĩnh Long di chuyển hồ sơ của &Ocirc;ng (B&agrave;):&nbsp;<span style="font-weight: bold;">:HoTen:</span></p>
<p>&Ocirc;ng (B&agrave;):&nbsp;<span style="font-weight: bold;">:HoTen:&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </span>Năm sinh <span style="font-weight: bold;">:NamSinh:</span></p>
<p>Nguy&ecirc;n qu&aacute;n: :NguyenQuan:</p>
<p>Nay về cư tr&uacute; tại: :DiaChi:&nbsp;</p>
<p>Số hồ sơ: :SoHoSo:</p>
<p>C&aacute;c chết độ đ&atilde; được giải quyết như sau: &Ocirc;ng/B&agrave; :HoTen:</p>
<p>Với số tiền trợ cấp: :TienTroCap: VNĐ/th&aacute;ng (:TienTroCap_Chu:).</p>
<p>C&aacute;c chế độ ưu đ&atilde; kh&aacute;c đ&atilde; được giải quyết như sau::DaGiaiQuyet:.</p>
<p>C&aacute;c chế độ chưa được thực hiện như sau::ChuaGiaiQuyet:.</p>
<p>Đề nghị Sở Lao động - Thương binh v&agrave; X&atilde; hội :huyen: tiếp nhận v&agrave; thực hiện chế độ ưu đ&atilde;i cho &Ocirc;ng(B&agrave;): :HoTen: theo quy định/.</p>
</td>
</tr>
<tr style="height: 35px;">
<td style="height: 35px; text-align: center; width: 250px;">
<p style="text-align: left;"><span style="font-weight: bold;"><em>Nơi nhận:<br /></em></span>- Như k&iacute;nh gửi;<br />- &Ocirc;ng (B&agrave;) :HoTen:<br />- Lưu HSNCC.</p>
<p style="text-align: left;">&nbsp;</p>
</td>
<td style="height: 35px; text-align: center; width: 380px;"><span style="font-weight: bold;">KT GI&Aacute;M ĐỐC<br />PH&Oacute; GI&Aacute;M ĐỐC</span>
<p>&nbsp;</p>
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>
