<p style="text-align: right;"><span style="font-weight: bold; text-transform: uppercase;">MẪU HS7</span></p>
<table style="width: 630px;">
<tbody>
<tr style="height: 61px;">
<td style="height: 61px; text-align: center; width: 250px;"><span style="text-transform: uppercase;">UBND :TINH_TP:</span><span style="font-weight: bold; text-transform: uppercase;"><br />SỞ LAO ĐỘNG<br />THƯƠNG BINH V&Agrave; X&Atilde; HỘI<br />:LINE_120:</span></td>
<td style="height: 61px; width: 380px; text-align: center; vertical-align: top;">
<p><span style="font-weight: bold;">CỘNG H&Ograve;A X&Atilde; HỘI CHỦ NGHĨA VIỆT NAM<br />Độc lập - Tự do - Hạnh ph&uacute;c<br />:line_160:</span></p>
</td>
</tr>
<tr style="height: 35px;">
<td style="height: 35px; text-align: center; width: 250px;">
<p>Số: :SoQuyetDinh:/PB-SLĐTBXH</p>
</td>
<td style="height: 35px; text-align: center; width: 380px;">
<p><em>:Tinh_TP:, :NgayHieuLuc_NTN:</em></p>
</td>
</tr>
<tr style="height: 35px;">
<td style="height: 35px; text-align: center; width: 630px;" colspan="2">
<p><strong>PHIẾU B&Aacute;O TIẾP NHẬN HỒ SƠ DI CHUYỂN ĐẾN</strong></p>
<p><strong>(Liệt sĩ :HoTen:)</strong></p>
<p>K&iacute;nh gửi: Sở lao động - Thương binh v&agrave; X&atilde; hội VietThuong(:ChuyenTo_Huyen:)</p>
<p style="text-align: left;">Sở Lao động - Thương binh v&agrave; X&atilde; hội tỉnh Vĩnh Long tiếp nhận hồ sơ do sở Lao động - Thương binh v&agrave; X&atilde; hội&nbsp;<span style="text-align: center;">VietThuong(</span>:ChuyenFrom_Tinh:) chuyển đến cho:</p>
<p style="text-align: left;">&Ocirc;ng/b&agrave;:&nbsp;<span style="font-weight: bold;">:HoTen:&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span><span>Sinh năm :NamSinh:</span></p>
<p style="text-align: left;"><span>Hồ sơ chuyển đến: Bản ch&iacute;nh</span></p>
<p style="text-align: left;">Số hồ sơ: :SoHoSo:</p>
<p style="text-align: left;">Nguy&ecirc;n qu&aacute;n: :NguyenQuan:</p>
<p style="text-align: left;">Nơi quản l&yacute; hồ sơ trước khi chuyển: :ChuyenFrom_Xa:</p>
<p style="text-align: left;">Nay chuyển đến cư tr&uacute; tại: :ChuyenTo_Full:</p>
<p style="text-align: left;">C&aacute;c chế độ đ&atilde; được giải quyết như sau: &Ocirc;ng/B&agrave; :HoTen:.</p>
<p style="text-align: left;">Mức trợ cấp, phụ cấp: :TongTroPhuCap: đồng.</p>
<p style="text-align: left;"><em>(Bằng chữ: :TongTroPhuCap_Chu:)</em></p>
<p style="text-align: left;">C&aacute;c chế độ đ&atilde; thực hiện như sau: :DaGiaiQuyet:.&nbsp;</p>
<p style="text-align: left;">C&aacute;c chế độ chưa thực hiện như sau: :ChuaGiaiQuyet:.</p>
<p style="text-align: left;">Đề nghị Sở Lao động - Thương binh v&agrave; X&atilde; hội&nbsp;<span style="text-align: center;">VietThuong(:ChuyenTo_Huyen:)</span>&nbsp;đăng k&yacute; tiếp nhận v&agrave; thực hiện chế độ ưu đ&atilde;i cho &Ocirc;ng/B&agrave;: :HoTen: theo quy định./.</p>
</td>
</tr>
<tr style="height: 35px;">
<td style="height: 35px; text-align: center; width: 250px;">
<p style="text-align: left;"><span style="font-weight: bold;"><em>Nơi nhận:<br /></em></span>- Như tr&ecirc;n;<br />- Cục NCC;<br />- &Ocirc;ng (B&agrave;) :HoTen: (để biết);<br />- Lưu</p>
<p style="text-align: left;">&nbsp;</p>
</td>
<td style="height: 35px; width: 380px; vertical-align: top; text-align: right;"><span style="font-weight: bold;">KT GI&Aacute;M ĐỐC<br />PH&Oacute; GI&Aacute;M ĐỐC</span></td>
</tr>
</tbody>
</table>
