<p style="text-align: right;"><strong>MẪU 1B</strong></p>
<p style="text-align: center;"><strong>CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</strong></p>
<p style="text-align: center;"><strong>Độc lập - Tự do - Hạnh phúc</strong></p>
<p style="text-align: center;"><strong>------------------------------</strong></p>
<p style="text-align: center;"><em>Ngày……tháng……năm 20…</em></p>
<p style="text-align: center;"><strong>BẢN KHAI THÂN NHÂN</strong></p>
<p style="text-align: center;"><strong>Đề nghị hưởng chế độ một lần theo Quyết định số 290/2005/QĐ-TTg</strong></p>
<p style="text-align: center;"><strong>ngày 08/11/2005 của Thủ tướng Chính phủ</strong></p>
<p style="text-align: center;"><strong><em>(Đối tượng chưa được hưởng chế độ, chính sách)</em></strong></p>
$
<ol>
    <li><strong> Phần khai về thân nhân của đối tượng:</strong></li>
</ol>
<p>Họ và tên: :HoTen1:     Nam, nữ: :GioiTinh1:</p>
<p>Ngày, tháng, năm sinh: :NgaySinh1:</p>
<p>……………………………………........................</p>
<p>Quê quán: :NguyenQuan1:</p>
<p>Nơi đăng ký hộ khẩu thường trú: :DiaChi1:</p>
<p>Đơn vị, cơ quan công tác hiện nay: :NoiCongTac1:</p>
<p>Quan hệ với đối tượng khai dưới đây là: :QHGiaDinh:</p>
<p>Những người cùng hàng thừa kế gồm:……………… ……………………………</p>
<p>……………………………………………………………………………………………………………………….</p>
<p>……………………………………………………………………………………………………………………….</p>
<p>……………………………………………………………………………………………………………………….</p>
<p><em>(Kèm theo giấy ủy quyền của các thân nhân cùng hàng thừa kế)</em></p>
<ol>
    <li><strong> Phần khai về đối tượng:</strong></li>
</ol>
<p>Họ và tên: :HoTen:       Nam, nữ: :GioiTinh:</p>
<p>Ngày, tháng, năm sinh: :NgaySinh:</p>
<p>Quê quán: :NguyenQuan:</p>
<p>Vào Đảng: :NgayVaoDang: Chính thức: :NgayVaoDang_CT:</p>
<p>Nhập ngũ (hoặc tuyển dụng vào CNVC) :NgayNhapNgu_NTN:</p>
<p>Đơn vị khi nhập ngũ (c, d, e, f…) hoặc cơ quan tuyển dụng: ………………………… ………</p>
<p>Về gia đình từ :NgayXuatNgu_NTN:</p>
<p>Cấp bậc, chức vụ, đơn vị trước khi về gia đình (c, d, e, f…): :CapBac:, :ChucVu:, :NoiCongTac: </p>
<p>Lý do chưa được hưởng chế độ, chính sách của Đảng, Nhà nước……………………………..</p>
<p>……………………………………………………………………………………………………………………….</p>
<p>……………………………………………………………………………………………………………………….</p>
<p>……………………………………………………………………………………………………………………….</p>
<p>Đã từ trần :NgayMat_NTN: tại :DonViKhiMat:</p>
<p>Các giấy tờ của đối tượng còn lưu giữ liên quan đến tham gia kháng chiến chống Mỹ..…………………………...</p>
<p>……………………………………………………………………………………………………………………….</p>
<p>……………………………………………………………………………………………………………………….</p>
<p>……………………………………………………………………………………………………………………….</p>
<p><strong>BẢNG KÊ THỜI GIAN TRỰC TIẾP THAM GIA KHÁNG CHIẾN CHỐNG MỸ CỨU NƯỚC CHO ĐẾN KHI VỀ GIA ĐÌNH</strong></p>
:HoatDong:
<p>Những người biết được quá trình tham gia công tác:</p>
<ol>
    <li>Họ tên:……… ………………..Nơi ở hiện nay………………………………………</li>
</ol>
<p>Lý do biết:………………… ………………………………………………………………</p>
<ol start="2">
    <li>Họ tên:……… ……………..Nơi ở hiện nay………………………………………</li>
</ol>
<p>Lý do biết:………………… …………………………………………………</p>
<p>Khai tại……………………………………………………………………………………….</p>
<p>Tôi xin cam đoan lời khai trên đây là đúng, nếu sai tôi hoàn toàn chịu trách nhiệm trước pháp luật.</p>
<table>
    <tbody>
        <tr>
            <td style="text-align: center;" width="371">
                <p><strong>Xác nhận</strong></p>
            </td>
            <td style="text-align: center;" width="371">
                <p><strong>Người khai</strong></p>
            </td>
        </tr>
        <tr>
            <td style="text-align: center;" width="371">
                <p><strong>của Ủy ban nhân dân xã (phường)</strong></p>
            </td>
            <td style="text-align: center;" width="371">
                <p><em>(Ký, ghi rõ họ, tên)</em></p>
            </td>
        </tr>
        <tr>
            <td style="text-align: center;" width="371">
                <p><em>(Ký tên và đóng dấu)</em></p>
            </td>
            <td style="text-align: center;" width="371">
                <p> </p>
            </td>
        </tr>
    </tbody>
</table>
<p> </p>
$
<table>
    <tbody>
        <tr>
            <td width="92">
                <p><strong>Từ tháng, năm</strong></p>
            </td>
            <td width="104">
                <p><strong>Đến tháng, năm</strong></p>
            </td>
            <td width="104">
                <p><strong>Cấp bậc, Chức vụ</strong></p>
            </td>
            <td width="132">
                <p><strong>Đơn vị (c, d, e, f)</strong></p>
            </td>
            <td width="310">
                <p><strong>Địa bàn hoạt động</strong></p>
            </td>
        </tr>
        {0}
    </tbody>
</table>
^
<tr>
    <td width="92">
        <p><strong>{0} </strong></p>
    </td>
    <td width="104">
        <p><strong> {1}</strong></p>
    </td>
    <td width="104">
        <p><strong>{2} </strong></p>
    </td>
    <td width="132">
        <p><strong>{3} </strong></p>
    </td>
    <td width="310">
        <p><strong>{4} </strong></p>
    </td>
</tr>
^
<tr>
    <td colspan="5" width="742">
        <p><strong>Tổng thời gian được tính hưởng chế độ một lần:</strong> {0} năm {1} tháng</p>
    </td>
</tr>