<p style="text-align: right;"><strong>MẪU AH2</strong></p>
<p style="text-align: center;"><strong>CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM<br /> Độc lập - Tự do - Hạnh phúc<br /> ----------------</strong></p>
<p> </p>
$
<p><strong>BẢN KHAI CÁ NHÂN</strong></p>
<p style="text-align: center;"><strong>Dùng cho thân nhân hoặc người thờ cúng Anh hùng lực lượng vũ trang nhân dân hoặc <br /> Anh hùng lao động trong thời kỳ kháng chiến</strong></p>
<p><strong>1. Phần khai về người có công:</strong></p>
<p>Họ và tên: :HoTen:</p>
<p>Sinh :NgaySinh_NTN: Nam/Nữ: :GioiTinh:</p>
<p>Nguyên quán: :NguyenQuan:</p>
<p>Đã chết :Ngay_NTN:</p>
<p>Được truy tặng danh hiệu Anh hùng ................................................................</p>
<p>Theo Quyết định số ........ ngày ... tháng ... năm ... của Chủ tịch nước.</p>
<p><strong>2. Phần khai cá nhân:</strong></p>
<p>Họ và tên: :HoTen1:</p>
<p>Sinh :NgaySinh1_NTN:</p>
<p>Nguyên quán: :NguyenQuan1:</p>
<p>Trú quán: :DiaChi1:</p>
<p>Mối quan hệ với người có công: :QHGiaDinh: /.</p>
<p> </p>
<table>
    <tbody>
        <tr>
            <td width="373">
                <p><em>.... ngày ... tháng ... năm...</em></p>
                <p>Xác nhận của UBND xã, phường ......</p>
                <p>Ông (bà) ................</p>
                <p>thường trú tại..............</p>
                <p style="text-align: center;"><strong>TM. UBND<br /> Quyền hạn, chức vụ người ký<br /> </strong><em>(Chữ ký, dấu)<br /> </em><strong>Họ và tên</strong></p>
            </td>
            <td width="373">
                <p style="text-align: center;"><em>.... ngày ... tháng ... năm ...<br /> </em><strong>Người khai<br /> </strong><em>(Ký, ghi rõ; họ và tên)</em></p>
            </td>
        </tr>
    </tbody>
</table>
<p> </p>