<p style="text-align: right;"><strong>MẪU BM1</strong></p>
<p style="text-align: center;"><strong>CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM<br /> Độc lập - Tự do - Hạnh phúc<br /> ----------------</strong></p>
<p> </p>
$
<p style="text-align: center;"><strong>BẢN KHAI CÁ NHÂN</strong></p>
<p style="text-align: center;"><strong>Dùng cho Bà mẹ Việt Nam anh hùng</strong></p>
<p>Họ và tên: :HoTen:</p>
<p>Sinh :NgaySinh_NTN:</p>
<p>Nguyên quán: :NguyenQuan:</p>
<p>Trú quán: :TruQuan:</p>
<p>Được phong tặng danh hiệu vinh dự Nhà nước Bà mẹ Việt Nam anh hùng theo Quyết định số ngày ... tháng ... năm ... của Chủ tịch nước./.</p>
<p></p>
<table>
    <tbody>
        <tr>
            <td style="text-align: center;" width="298">
                <p><em>.... ngày... tháng... năm...</em></p>
                <p style="text-align: left;">Xác nhận của xã, phường …………………….<br /> Ông (bà) …………………… hiện cư trú tại …… ……………………………………………</p>
                <p><strong>TM. UBND<br /> Quyền hạn, chức vụ người ký<br /> </strong><em>(Chữ ký, dấu)<br /> </em><strong>Họ và tên</strong></p>
            </td>
            <td style="text-align: center;" width="298">
                <p><em>.... ngày ... tháng ... năm ...<br /> </em><strong>Người khai<br /> </strong><em>(Ký, ghi rõ họ và tên)</em></p>
            </td>
        </tr>
    </tbody>
</table>
<p> </p>