<p style="text-align: right;"><strong>MẪU HS1</strong></p>
<table>
    <tbody>
        <tr>
            <td style="text-align: center;" width="223">
                <p>………..….<strong><br /> TÊN CƠ QUAN, ĐƠN VỊ…<br /> --------</strong></p>
            </td>
            <td style="text-align: center;" width="374">
                <p><strong>CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM<br /> Độc lập - Tự do - Hạnh phúc<br /> ----------------</strong></p>
                <p style="text-align: right;">Số hồ sơ: :SoHoSo:</p>
            </td>
        </tr>
    </tbody>
</table>
$
<p style="text-align: center;"><strong><br />BẢN TRÍCH LỤC HỒ SƠ LIỆT SĨ</strong></p>
<p>Họ và tên: :HoTen:                                             Bí danh: :BiDanh:</p>
<p>Sinh :NgaySinh_NTN:                                       Nam/Nữ: :GioiTinh:</p>
<p>Nguyên quán: :NguyenQuan:</p>
<p>Trú quán (khi nhập ngũ hoặc tham gia CM): :TruQuan:</p>
<p>Nhập ngũ, tham gia cách mạng :NgayNhapNgu_NTN:</p>
<p>Hy sinh :Ngay_NTN:</p>
<p>Cấp bậc: :CapBac:                                                    Chức vụ: :ChucVu:</p>
<p>Đơn vị khi hy sinh: :NoiCongTac:</p>
<p>Nơi hy sinh: :Noi_:</p>
<p>Trường hợp hy sinh: :TruongHop_:</p>
<p>Giấy báo tử số: …………………. ngày ... tháng ... năm ... của ……………………………..</p>
<p>Số Bằng TQGC:....Quyết định cấp bằng số: ……………. ngày ... tháng ... năm ...</p>
<p>Thuộc đối tượng (QN, TNXP, CNVC, đối tượng khác): ……………………………………</p>
<p>Mộ an táng (Nghĩa trang/Gia đình quản lý/Không có thông tin): :Mo:.</p>
<p><strong>THÂN NHÂN CHỦ YẾU CỦA LIỆT SĨ</strong></p>
:ThanNhan:
<p><strong>Người được ủy quyền thờ cúng liệt sĩ:</strong></p>
<p>Họ và tên: :NguoiThoCungLietSy:.</p>
<p>Sinh :NgaySinh1_NTN:                                           Nam/Nữ: :GioiTinh1:</p>
<p>Mối quan hệ với liệt sĩ: :QHGiaDinh:</p>
<p>Trú quán: :DiaChi1:</p>
<p>Hồ sơ được lưu tại Sở Lao động - Thương binh và Xã hội tỉnh</p>
<p> </p>
<table>
    <tbody>
        <tr>
            <td style="text-align: center;" width="295">
                <p> </p>
            </td>
            <td style="text-align: center;" width="295">
                <p><em>…., ngày … tháng …. năm ....</em><strong><br /> GIÁM ĐỐC<br /></strong><em>(Chữ ký, dấu)<br /></em><strong>Họ và tên</strong></p>
            </td>
        </tr>
    </tbody>
</table>
<p> </p>
$
$
<table border="1">
    <tbody>
        <tr>
            <td width="43">
                <p>Số TT</p>
            </td>
            <td width="140">
                <p>Họ và tên</p>
            </td>
            <td width="122">
                <p>Năm sinh</p>
            </td>
            <td width="97">
                <p>Quan hệ với liệt sĩ</p>
            </td>
            <td width="194">
                <p>Chỗ ở hiện nay</p>
            </td>
        </tr>
        {0}
    </tbody>
</table>
^
<tr>
    <td width="43">{0}</td>
    <td width="140">{1}</td>
    <td width="122">{2}</td>
    <td width="97">{3}</td>
    <td width="194">{4}</td>
</tr>