<table>
    <tbody>
        <tr>
            <td width="223">
                <p style="text-align: center;">………..….<strong><br /> TÊN CƠ QUAN, ĐƠN VỊ…<br /> --------</strong></p>
            </td>
            <td width="374">
                <p style="text-align: center;"><strong>CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM<br /> Độc lập - Tự do - Hạnh phúc<br /> ----------------</strong></p>
                <p style="text-align: right;">Số hồ sơ: :SoHoSo:</p>
            </td>
        </tr>
    </tbody>
</table>
$
<p style="text-align: center;"><strong>BẢN TRÍCH LỤC HỒ SƠ THƯƠNG BINH</strong></p>
<p>Họ và tên: :HoTen:</p>
<p>Sinh :NgaySinh_NTN:                                                                           Nam/Nữ: :GioiTinh:</p>
<p>Nguyên quán: :NguyenQuan:</p>
<p>Trú quán: :TruQuan:</p>
<p>Chỗ ở hiện nay: :DiaChi:</p>
<p>Nhập ngũ, tham gia công tác :NgayNhapNgu_NTN:</p>
<p>Cơ quan, đơn vị: :NoiCongTac:</p>
<p>Bị thương :Ngay_NTN:</p>
<p>Cấp bậc, chức vụ khi bị thương: :CapBac:</p>
<p>Cơ quan, đơn vị khi bị thương: :CoQuan_:</p>
<p>Nơi bị thương: :Noi_:</p>
<p>Loại đối tượng QN, TNXP, CNVC, đối tượng khác: :DoiTuong:</p>
<p>Trường hợp bị thương: :TruongHop_:</p>
<p>Giấy chứng nhận bị thương số ……….. ngày ... tháng ... năm ... của .....................................................................</p>
<p>Tình trạng thương tật: .......................................................................................................................................................</p>
<p>Biên bản giám định thương tật số: …………………… ngày ... tháng ... năm ... của Hội đồng giám định y khoa:        </p>
<p>Tỷ lệ thương tật: ………………………… (Ghi rõ vĩnh viễn hoặc tạm thời).</p>
<p>Quyết định cấp giấy chứng nhận và trợ cấp số: ……………….. ngày ... tháng ... năm ... của …….. ………………………. được xác nhận là: ................................................................................................................................................................................  </p>
<p>Hưởng trợ cấp từ ngày ... tháng ... năm ...</p>
<p>Mức trợ cấp: hàng tháng …………………………………. Một lần: ………………….</p>
<p>Khám lại thương tật ngày ... tháng ... năm ... tại Hội đồng GĐYK …………………………………</p>
<p>Kết luận tỷ lệ thương tật: ………………………………………….</p>
<p>Phụ cấp khác (nếu có): …………………………………………</p>
<p>Các chế độ khác đang hưởng: …………………………………….</p>
<p>Hồ sơ được lưu tại Sở Lao động - Thương binh và Xã hội tỉnh ……………………….</p>
<p> </p>
<table>
    <tbody>
        <tr>
            <td width="295">
                <p style="text-align: center;"> </p>
            </td>
            <td style="text-align: center;" width="295">
                <p><em>…., ngày … tháng …. năm .........</em><strong><br /> THỦ TRƯỞNG CƠ QUAN, ĐƠN VỊ<br /> </strong><em>(Chữ ký, dấu)<br /> </em><strong>Họ và tên</strong></p>
            </td>
        </tr>
    </tbody>
</table>