<p style="text-align: right;"><strong>MẪU TĐ2</strong></p>
<p style="text-align: center;"><strong>CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM <br /> Độc lập - Tự do - Hạnh phúc<br /> ----------------</strong></p>
<p> </p>
$
<p><strong>BẢN KHAI CÁ NHÂN</strong></p>
<p><strong>Dùng cho người hoạt động cách mạng, hoạt động kháng chiến bị địch bắt tù, đày</strong></p>
<p><strong>1. Phần khai về bản thân</strong></p>
<p>Họ và tên: HoTen</p>
<p>Sinh: :NgaySinh: năm :NamSinh: Nam/Nữ: :GioiTinh:</p>
<p>Nguyên quán: :NguyenQuan:</p>
<p>Trú quán: :TruQuan:</p>
<p><strong>2. Quá trình tham gia hoạt động cách mạng</strong></p>
<table>
    <tbody>
        <tr>
            <td width="194">
                <p><strong>Thời gian</strong></p>
            </td>
            <td width="158">
                <p><strong>Đơn vị</strong></p>
            </td>
            <td width="193">
                <p><strong>Cấp bậc, chức vụ</strong></p>
            </td>
            <td width="201">
                <p><strong>Địa bàn hoạt động</strong></p>
            </td>
        </tr>
        <tr>
            <td width="194">
                <p>Từ tháng ... năm....<br /> đến tháng ... năm ...</p>
            </td>
            <td width="158"> </td>
            <td width="193"> </td>
            <td width="201"> </td>
        </tr>
        <tr>
            <td width="194"> </td>
            <td width="158"> </td>
            <td width="193"> </td>
            <td width="201"> </td>
        </tr>
    </tbody>
</table>
<p><strong>3. Quá trình bị địch bắt tù, đày</strong></p>
<table>
    <tbody>
        <tr>
            <td width="103">
                <p><strong> </strong></p>
            </td>
            <td width="216">
                <p><strong>Thời gian bị tù, đày</strong></p>
            </td>
            <td width="215">
                <p><strong>Nơi bị tù, đày</strong></p>
            </td>
            <td width="212">
                <p><strong>Đơn vị hoạt động trước khi bị tù, đày</strong></p>
            </td>
        </tr>
        <tr>
            <td width="103">
                <p>Lần 1</p>
            </td>
            <td width="216">
                <p>Từ tháng ... năm ...<br /> đến tháng ... năm ....</p>
            </td>
            <td width="215">
                <p> </p>
            </td>
            <td width="212">
                <p> </p>
            </td>
        </tr>
        <tr>
            <td width="103">
                <p>Lần 2</p>
            </td>
            <td width="216"> </td>
            <td width="215">
                <p> </p>
            </td>
            <td width="212">
                <p> </p>
            </td>
        </tr>
        <tr>
            <td width="103">
                <p>...</p>
            </td>
            <td width="216"> </td>
            <td width="215"> </td>
            <td width="212"> </td>
        </tr>
    </tbody>
</table>
<p> </p>
<table>
    <tbody>
        <tr>
            <td width="373">
                <p><em>.... ngày... tháng... năm...</em></p>
                <p>Xá;c nhận của xã, phường ......................</p>
                <p>Ông (bà) ....................... hiện cư trú tại .......................</p>
                <p style="text-align: center;"><strong>TM. UBND<br /> Quyền hạn, chức vụ người ký<br /> </strong> <em>(Chữ ký, dấu)<br /> </em><strong>Họ và tên</strong></p>
            </td>
            <td width="373">
                <p><em>.... ngày ... tháng ... năm ...<br /> </em><strong>Người khai<br /> </strong><em>(Ký, ghi rõ họ và tên)</em></p>
            </td>
        </tr>
    </tbody>
</table>
<p> </p>