<p style="text-align: right;"><span style="font-weight: bold; text-transform: uppercase;">MẪU HS7</span></p>
<table style="width: 630px;">
<tbody>
<tr style="height: 61px;">
<td style="height: 61px; text-align: center; width: 250px;"><span style="text-transform: uppercase;">UBND :Tinh_TP:</span><strong style="text-transform: uppercase;"><br />SỞ LAO ĐỘNG<br />THƯƠNG BINH V&Agrave; X&Atilde; HỘI<br />:line_120:</strong></td>
<td style="height: 61px; width: 380px; text-align: center; vertical-align: top;"><span style="font-weight: bold;">CỘNG H&Ograve;A X&Atilde; HỘI CHỦ NGHĨA VIỆT NAM<br />Độc lập - Tự do - Hạnh ph&uacute;c<br />:line_160:</span></td>
</tr>
<tr style="height: 35px;">
<td style="height: 35px; text-align: center; width: 250px;">
<p>Số: :SoQuyetDinh:/PB‑SLĐTBXH</p>
</td>
<td style="height: 35px; text-align: center; width: 380px;">
<p><em>:Tinh_TP:, :NgayHieuLuc_NTN:</em></p>
</td>
</tr>
<tr style="height: 35px;">
<td style="height: 35px; width: 630px;" colspan="2">
<p style="text-align: center;"><strong>PHIẾU B&Aacute;O DI CHUYỂN HỒ SƠ&nbsp;</strong></p>
<p style="text-align: center;"><strong>Theo quyết định 290/2005/QĐ TTg</strong></p>
<p style="text-align: center;"><strong>của &ocirc;ng ( b&agrave; )&nbsp;</strong> <span style="background-color: transparent; font-weight: bold;">:HoTen:</span></p>
<p style="text-align: center;">K&iacute;nh gửi: Ph&ograve;ng Lao động - Thương binh v&agrave; X&atilde; hội :huyen:</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Sở Lao động ‑ Thương binh v&agrave; X&atilde; hội tỉnh Vĩnh Long di chuyển hồ sơ của &Ocirc;ng (B&agrave;):&nbsp;<span style="font-weight: bold;">:HoTen:</span></p>
<p>Năm sinh: <span style="font-weight: bold;">:NamSinh:</span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Nam/Nữ: :GioiTinh:</p>
<p>Nguy&ecirc;n qu&aacute;n: :NguyenQuan:</p>
<p>Nay về cư tr&uacute; tại: :ChuyenTo_Full:&nbsp;</p>
<p>Nơi quản l&yacute; BHYT đối tượng trước khi di chuyển: :ChuyenFrom_Xa:</p>
<p>Số hồ sơ: :SoHoSo:</p>
<p>C&aacute;c giấy tờ trong hồ sơ: :strGiayTo:</p>
<p>&Ocirc;ng (B&agrave;) :HoTen: .</p>
<p>Mức trợ cấp: :TienTroCap: đồng.</p>
<p><em>( :TienTroCap_Chu: )</em></p>
<p>C&aacute;c chế độ đ&atilde; được giải quyết như sau: :DaGiaiQuyet:.</p>
<p>C&aacute;c chế độ chưa được giải quyết như sau: :ChuaGiaiQuyet:.</p>
<p>Đề nghị Sở Lao động - Thương binh v&agrave; X&atilde; hội :ChuyenTo_Huyen: tiếp nhận v&agrave; thực hiện chế độ ưu đ&atilde;i cho &Ocirc;ng (B&agrave;) :HoTen: kể từ th&aacute;ng :ChuyenDate:</p>
</td>
</tr>
<tr style="height: 35px;">
<td style="height: 35px; text-align: center; width: 250px; vertical-align: top;">
<p style="text-align: left; line-height: 1.4;"><span style="font-weight: bold;"> <em>Nơi nhận:<br /></em> </span>- Như tr&ecirc;n;</p>
<p style="text-align: left; line-height: 1.4;">- Cục NCC;<br />- &Ocirc;ng (B&agrave;) :HoTen:<br />- Lưu HSNCC.</p>
<p style="text-align: left;">&nbsp;</p>
</td>
<td style="height: 35px; text-align: center; width: 380px; vertical-align: top;"><span style="font-weight: bold;">KT GI&Aacute;M ĐỐC<br />PH&Oacute; GI&Aacute;M ĐỐC</span>
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>
