<p style="text-align: right;"><strong>Mẫu TB3</strong></p>
<table>
<tbody>
<tr>
<td style="text-align: center;" width="223">
<p>………..….<strong><br /> TÊN CƠ QUAN, ĐƠN VỊ…<br /> --------</strong></p>
</td>
<td style="text-align: center;" width="375">
<p><strong>CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM<br /> Độc lập - Tự do - Hạnh phúc<br /> ----------------</strong></p>
</td>
</tr>
<tr>
<td style="text-align: center;" width="223">
<p>Số: …../….</p>
</td>
<td style="text-align: center;" width="375">
<p><em>…., ngày … tháng … năm .....</em></p>
<p style="text-align: right;"><em>Số hồ sơ: ……/…………..</em></p>
</td>
</tr>
</tbody>
</table>
$
<p style="text-align: center;"><strong>QUYẾT ĐỊNH</strong></p>
<p style="text-align: center;"><strong>Về việc cấp giấy chứng nhận thương binh hoặc người hưởng chính sách như thương binh và trợ cấp, phụ cấp hàng tháng</strong></p>
<p style="text-align: center;"><strong>THỦ TRƯỞNG CƠ QUAN, ĐƠN VỊ</strong></p>
<p>Căn cứ Nghị định số 31/2013/NĐ-CP ngày 09 tháng 4 năm 2013 của Chính phủ quy định chi tiết, hướng dẫn thi hành một số điều của Pháp lệnh ưu đãi người có công với cách mạng;</p>
<p>Căn cứ Nghị định số …./NĐ-CP ngày ... tháng ... năm ... của Chính phủ quy định về mức trợ cấp, phụ cấp ưu đãi đối với người có công với cách mạng;</p>
<p>Căn cứ Biên bản Giám định y khoa số ………… ngày ... tháng ... năm ... của Hội đồng giám định y khoa …………………………………………………………………….;</p>
<p>Xét đề nghị của ………………………………………………………..,</p>
<p style="text-align: center;"><strong>QUYẾT ĐỊNH:</strong></p>
<p><strong>Điều 1.</strong> Cấp giấy chứng nhận ….(1)…... đối với ông (bà): …………………………..</p>
<p>Sinh ngày ... tháng ... năm ………… Nam/Nữ: …………..</p>
<p>Nguyên quán: …………………………………………………………………………..</p>
<p>Trú quán: ……………………………………………………………………………….</p>
<p>Bị thương ngày ... tháng .... năm …………</p>
<p>Giấy chứng nhận bị thương số: ………….ngày …. tháng ….. năm …… của …………</p>
<p>Tỷ lệ suy giảm khả năng lao động: …………………….%</p>
<p>(<em>Bằng chữ</em> …………………………………..%)</p>
<p><strong>Điều 2.</strong> Ông (bà) ……………………………. được hưởng trợ cấp, phụ cấp như sau:</p>
<ol>
<li>Trợ cấp, phụ cấp hàng tháng kể từ tháng ….. năm....</li>
</ol>
<table border="1">
<tbody>
<tr>
<td width="444">
<p>- Trợ cấp thương tật: ………………………………….</p>
</td>
<td width="152">
<p>…… đồng/tháng</p>
</td>
</tr>
<tr>
<td width="444">
<p>- Phụ cấp thương tật nặng hoặc đặc biệt nặng/Trợ cấp người phục vụ/Phụ cấp khu vực (nếu có)</p>
</td>
<td width="152">
<p>…… đồng/tháng</p>
</td>
</tr>
<tr>
<td width="444">
<p>Cộng:</p>
</td>
<td width="152">
<p>…… đồng/tháng</p>
</td>
</tr>
<tr>
<td width="444">
<p>(Bằng chữ ………………….)</p>
</td>
<td width="152">
<p>…… đồng/tháng</p>
</td>
</tr>
</tbody>
</table>
<ol start="2">
<li>Trợ cấp, phụ cấp được truy lĩnh (nếu có) …….(1)……</li>
</ol>
<p><strong>Điều 3.</strong> Các ông (bà) Trưởng phòng ……(2)…….. và ông (bà) ………………. chịu trách nhiệm thi hành Quyết định này./.</p>
<p> </p>
<table>
<tbody>
<tr>
<td width="295">
<p><strong><em> </em></strong></p>
<p><strong><em>Nơi nhận:<br /> </em></strong>- Như điều 3;<br /> - ….;<br /> - Lưu .</p>
</td>
<td width="295">
<p style="text-align: center;"><strong>THỦ TRƯỞNG CƠ QUAN, ĐƠN VỊ<br /> </strong><em>(Chữ ký, dấu)<br /> </em><strong>Họ và tên</strong></p>
</td>
</tr>
</tbody>
</table>
<p><strong><em>Ghi chú:</em></strong> (1) Ghi rõ các loại trợ cấp, phụ cấp hàng tháng được truy lĩnh, thời gian, mức trợ cấp theo quy định tại từng thời điểm, tổng số tiền.</p>
<p>(2) Ghi chức vụ phù hợp.</p>