<p style="text-align: right;"><strong>Mẫu BB3</strong></p>
<table>
<tbody>
<tr>
<td style="text-align: center;" width="223">
<p>………..….<strong><br /> TÊN CƠ QUAN, ĐƠN VỊ…<br /> --------</strong></p>
</td>
<td style="text-align: center;" width="375">
<p><strong>CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM<br /> Độc lập - Tự do - Hạnh phúc<br /> ----------------</strong></p>
</td>
</tr>
<tr>
<td style="text-align: center;" width="223">
<p>Số: :SoQuyetDinh: </p>
</td>
<td style="text-align: center;" width="375">
<p><em>:Tinh_TP:, :NgayHieuLuc_NTN:</em></p>
<p style="text-align: right;"><em>Số hồ sơ: :SoHoSo:</em></p>
</td>
</tr>
</tbody>
</table>
$
<p style="text-align: center;"><strong>QUYẾT ĐỊNH</strong></p>
<p style="text-align: center;"><strong>Về việc cấp giấy chứng nhận bệnh binh và trợ cấp, phụ cấp</strong></p>
<p style="text-align: center;"><strong>THỦ TRƯỞNG CƠ QUAN, ĐƠN VỊ</strong></p>
<p>Căn cứ Nghị định số 31/2013/NĐ-CP ngày 09 tháng 4 năm 2013 của Chính phủ quy định chi tiết, hướng dẫn thi hành một số điều của Pháp lệnh ưu đãi người có công với cách mạng;</p>
<p>Căn cứ Nghị định số ……/NĐ-CP ngày ... tháng ... năm ... của Chính phủ quy định về mức trợ cấp, phụ cấp ưu đãi đối với người có công với cách mạng;</p>
<p>Căn cứ Biên bản giám định y khoa số ………..ngày ... tháng ... năm ... của Hội đồng giám định y khoa ………………………………………….;</p>
<p>Xét đề nghị của :HoTen:,</p>
<p style="text-align: center;"><strong>QUYẾT ĐỊNH:</strong></p>
<p><strong>Điều 1.</strong> Cấp giấy chứng nhận bệnh binh số :SoHoSo: đối với ông (bà): :HoTen:</p>
<p>Sinh :NgaySinh_NTN: Nam/Nữ: :GioiTinh: </p>
<p>Nguyên quán: :NguyenQuan:</p>
<p>Trú quán: :TruQuan:</p>
<p>Chức vụ: :ChucVu: Cấp bậc: :CapBac:  </p>
<p>Đơn vị công tác: :NoiCongTac:</p>
<p>Nhập ngũ :NgayNhapNgu_NTN:</p>
<p>Thời gian phục vụ trong quân đội/công an là …. năm …. tháng.</p>
<p>Trong đó có ….. năm ….. tháng ở địa bàn có điều kiện kinh tế - xã hội đặc biệt khó khăn.</p>
<p>Tỷ lệ suy giảm khả năng lao động: ………………………….%</p>
<p><strong>Điều 2.</strong> Ông (bà): :HoTen: được hưởng trợ cấp, phụ cấp hàng tháng kể từ ngày ... tháng ... năm ...</p>
<p>Trợ cấp hàng tháng: ………………………………………………….. đồng</p>
<p>Phụ cấp hoặc phụ cấp đặc biệt hàng tháng/phụ cấp khu vực/trợ cấp người phục vụ (nếu có): …… ………………………………… đồng.</p>
<p>Cộng: = ……………………………………………………đồng.</p>
<p>(Bằng chữ: ………………………………………………………………..).</p>
<p>Trợ cấp, phụ cấp được truy lĩnh (nếu có) ……………………(1)…………. đồng</p>
<p>(Bằng chữ: ……………………………………………………………….)</p>
<p><strong>Điều 3.</strong> Các ông (bà) Trưởng phòng …………(2)……………………. và ông (bà): ………………. chịu trách nhiệm thi hành Quyết định này./.</p>
<p> </p>
<table>
<tbody>
<tr>
<td width="295">
<p><strong><em> </em></strong></p>
<p><strong><em>Nơi nhận:<br /> </em></strong>- Như điều 3;<br /> - ….;<br /> - Lưu .</p>
</td>
<td width="295">
<p style="text-align: center;"><strong>QUYỀN HẠN, CHỨC VỤ<br /> CỦA NGƯỜI KÝ<br /> </strong><em>(Chữ ký, dấu)<br /> </em><strong>Họ và tên</strong></p>
</td>
</tr>
</tbody>
</table>
<p><strong><em>Ghi chú: </em></strong>(1) Ghi rõ các loại trợ cấp, phụ cấp hàng tháng được truy lĩnh, thời gian, mức trợ cấp theo quy định tại từng thời điểm, tổng số tiền</p>
<p>(2) Ghi rõ chức vụ phù hợp</p>