<p style="text-align: right;"><strong>MẪU 1A</strong></p>
<p style="text-align: center;"><strong>CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</strong></p>
<p style="text-align: center;"><strong>Độc lập - Tự do - Hạnh phúc</strong></p>
<p style="text-align: center;"><strong>------------------------------</strong></p>
<p style="text-align: center;"><em>Ngày……tháng……năm 20…</em></p>
<p style="text-align: center;"><strong>BẢN KHAI CÁ NHÂN</strong></p>
<p style="text-align: center;"><strong>Đề nghị hưởng chế độ một lần theo Quyết định số 290/2005/QĐ-TTg</strong></p>
<p style="text-align: center;"><strong>ngày 08/11/2005 của Thủ tướng Chính phủ</strong></p>
<p style="text-align: center;"><strong><em>(Đối tượng chưa được hưởng chế độ, chính sách)</em></strong></p>
$
<p>Họ và tên: :HoTen:       Bí danh: :BiDanh:         Nam, nữ: :GioiTinh:</p>
<p>Thuộc đối tượng nguyên là (QN, CAND, CNVC):…………… ……………………………….</p>
<p>Ngày, tháng, năm sinh: :NgaySinh:</p>
<p>Quê quán: :NguyenQuan:</p>
<p>Nơi đăng ký hộ khẩu thường trú: :DiaChi:</p>
<p>Vào Đảng: NgayVaoDang Chính thức: :NgayVaoDang_CT: </p>
<p>Nhập ngũ (hoặc tuyển dụng vào CNVC) :NgayNhapNgu_NTN:</p>
<p>Đơn vị khi nhập ngũ (c, d, e, f…) hoặc cơ quan tuyển dụng:………………………… …………Về gia đình từ :NgayXuatNgu_NTN:</p>
<p>Cấp bậc, chức vụ, đơn vị trước khi về gia đình (c, d, e, f…): :CapBac:, :ChucVu:, :NoiCongTac:</p>
<p>Nghề nghiệp sau khi về gia đình:……………………………………………………………….</p>
<p>Đã được khen thưởng trong chiến đấu, phục vụ chiến đấu:……………………… …………</p>
<p>………………………………………………………………….</p>
<p>Lý do chưa được hưởng chế độ, chính sách của Đảng, Nhà nước………………………..</p>
<p>………………………………………………………………………………………………………………….………………………………………….</p>
<p>……………………………………………………………………………………….</p>
<p>Các giấy tờ liên quan đến tham gia kháng chiến chống Mỹ còn lưu giữ:………… ……………...…………………………………………………………………………………</p>
<p>…………………………………………………………………………………………………</p>
<p>…………………………………………………………………………………………………</p>
<p><strong> </strong></p>
<p><strong>BẢNG KÊ THỜI GIAN TRỰC TIẾP THAM GIA KHÁNG CHIẾN CHỐNG MỸ CỨU NƯỚC CHO ĐẾN KHI VỀ GIA ĐÌNH</strong></p>
:HoatDong:
<p><strong> </strong></p>
<p>Những người biết được quá trình tham gia công tác:</p>
<ol>
    <li>Họ tên:………… …………..Nơi ở hiện nay………………………………………</li>
</ol>
<p>Lý do biết:…………………… ……………………………………………</p>
<ol start="2">
    <li>Họ tên:…… ………………..Nơi ở hiện nay……………………………………</li>
</ol>
<p>Lý do biết:……………………… …………………………………………………</p>
<p>Khai tại………………………………………………………………………………………….</p>
<p>Tôi xin cam đoan lời khai trên đây là đúng, nếu sai tôi hoàn toàn chịu trách nhiệm trước pháp luật.</p>
<table>
    <tbody>
        <tr>
            <td style="text-align: center;" width="371">
                <p><strong>Xác nhận</strong></p>
            </td>
            <td style="text-align: center;" width="371">
                <p><strong>Người khai</strong></p>
            </td>
        </tr>
        <tr>
            <td style="text-align: center;" width="371">
                <p><strong>của Ủy ban nhân dân xã (phường)</strong></p>
            </td>
            <td style="text-align: center;" width="371">
                <p><em>(Ký, ghi rõ họ, tên)</em></p>
            </td>
        </tr>
        <tr>
            <td style="text-align: center;" width="371">
                <p><em>(Ký tên và đóng dấu)</em></p>
            </td>
            <td style="text-align: center;" width="371">
                <p> </p>
            </td>
        </tr>
    </tbody>
</table>