<table style="width: 630px; height: 113px;">
<tbody>
<tr style="height: 74px;">
<td style="text-align: center; width: 250px; height: 74px;">
<div>&nbsp;UBND TỈNH VĨNH LONG <br /><strong>SỞ LAO ĐỘNG</strong> <br /><strong>THƯƠNG BINH V&Agrave; X&Atilde; HỘI</strong> <br />:line_120:</div>
</td>
<td style="width: 380px; height: 74px; text-align: center; vertical-align: top;"><strong>&nbsp;CỘNG H&Ograve;A X&Atilde; HỘI CHỦ NGHĨA VIỆT NAM</strong> <br /><strong>Độc lập - Tự do - Hạnh ph&uacute;c</strong> <br />:line_160:</td>
</tr>
<tr style="height: 13px;">
<td style="width: 250px; height: 13px; text-align: center;">&nbsp;Số: :SoQuyetDinh:/QĐ SLĐTBXH&nbsp;</td>
<td style="text-align: center; width: 380px; height: 13px;">&nbsp;Vĩnh Long, ng&agrave;y ...:Now_TN:</td>
</tr>
<tr style="height: 13px;">
<td style="width: 630px; height: 13px;" colspan="2">
<p style="text-align: center;"><strong>QUYẾT ĐỊNH</strong></p>
<p style="text-align: center;"><strong>Về việc trợ cấp đối với th&acirc;n nh&acirc;n của người c&oacute; c&ocirc;ng với c&aacute;ch mạng từ trần</strong></p>
<p style="text-align: center;"><strong>GI&Aacute;M ĐỐC SỞ LAO ĐỘNG ‑ THƯƠNG BINH V&Agrave; X&Atilde; HỘI</strong></p>
<p style="text-align: center;"><span style="font-weight: bold;">TỈNH VĨNH LONG</span></p>
<p style="font-weight: bold;"><strong>&nbsp;</strong></p>
<p><em><strong>&nbsp; &nbsp; </strong>&nbsp;Căn cứ Nghị định số 31/2013/NĐ‑CP ng&agrave;y 09 th&aacute;ng 4 năm 2013 của Ch&iacute;nh phủ quy định chi tiết, hướng dẫn thi h&agrave;nh một số điều của Ph&aacute;p lệnh ưu đ&atilde;i người c&oacute; c&ocirc;ng với c&aacute;ch mạng;</em></p>
<p><em>&nbsp; &nbsp; &nbsp;Căn cứ Nghị định số 58/2019/NĐ‑CP ng&agrave;y 01 th&aacute;ng 7 năm 2019 của Ch&iacute;nh phủ quy định mức trợ cấp, phụ cấp ưu đ&atilde;i đối với người c&oacute; c&ocirc;ng với c&aacute;ch mạng;</em></p>
<p><em>&nbsp; &nbsp; &nbsp;Căn cứ tr&iacute;ch lục khai tử số&nbsp;:SoGiayTo(1): ng&agrave;y&nbsp;:NgayCap(1): của :NoiCap(1):, khai tử &ocirc;ng (b&agrave;) :HoTen: &nbsp;đ&atilde; từ trần ng&agrave;y :NgayMat:; </em></p>
<p><em>&nbsp; &nbsp; &nbsp;Căn cứ hồ sơ bệnh binh của &ocirc;ng (b&agrave;) :HoTen: , số hồ sơ: :SoHoSo:; </em></p>
<p><em>&nbsp; &nbsp; &nbsp;Theo đề nghị của Trưởng ph&ograve;ng Người c&oacute; c&ocirc;ng.</em></p>
<p style="font-weight: bold; text-align: center;"><strong>QUYẾT ĐỊNH:</strong></p>
<p style="font-weight: bold;"><strong>Điều 1.</strong> &nbsp;</p>
<p>1. Trợ cấp mai t&aacute;ng ph&iacute; đối với &ocirc;ng (b&agrave;): :NguoiThoCungLietSy:</p>
<p>Sinh năm:&nbsp;:NamSinh:&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Nam/Nữ: :GioiTinh1:</p>
<p>Nguy&ecirc;n qu&aacute;n: :NguyenQuan1:.</p>
<p>Tr&uacute; qu&aacute;n: :DiaChi1:</p>
<p>Quan hệ với người c&oacute; c&ocirc;ng với c&aacute;ch mạng từ trần::QHGiaDinh:</p>
<p>Mức trợ cấp: ( <em>:TienTroCap(19):&nbsp;đồng</em> ).</p>
<p><em>(Bằng chữ: :TienTroCap_Chu(19):)</em> .</p>
<p>2. Trợ cấp một lần đối với &ocirc;ng (b&agrave;): :NguoiThoCungLietSy:</p>
<p>Sinh năm:&nbsp;:NamSinh:&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Nam/Nữ: :GioiTinh1:</p>
<p>Nguy&ecirc;n qu&aacute;n: :NguyenQuan1:.</p>
<p>Tr&uacute; qu&aacute;n: :DiaChi1:</p>
<p>Quan hệ với người c&oacute; c&ocirc;ng với c&aacute;ch mạng từ trần:&nbsp;:QHGiaDinh:</p>
<p>Mức trợ cấp: ( <em>:TienTroCap(20):&nbsp;đồng</em> ).</p>
<p><em>(Bằng chữ: :TienTroCap_Chu(20):)</em> .</p>
<p><em>Tổng cộng: (1+2) =&nbsp;</em> <em>:TienTroCap(19):</em> <em>đồng +</em> <em>:TienTroCap(20):</em> <em>&nbsp;đồng = Cong(:TienTroCap(19):;:TienTroCap(20):)đồng.</em></p>
<p><em> (Bằng chữ: Chu(Cong(:TienTroCap(19):;:TienTroCap(20):)) đồng) </em></p>
<strong style="font-weight: bold;">Điều 2.</strong> C&aacute;c &ocirc;ng (b&agrave;): Ch&aacute;nh văn ph&ograve;ng, Trưởng ph&ograve;ng Người c&oacute; c&ocirc;ng, Trưởng ph&ograve;ng Kế hoạch ‑ T&agrave;i ch&iacute;nh thuộc Sở Lao động ‑ Thương binh v&agrave; X&atilde; hội tỉnh Vĩnh Long, Trưởng ph&ograve;ng Lao động ‑ Thương binh v&agrave; X&atilde; hội :huyen: v&agrave; &ocirc;ng (b&agrave;) :NguoiThoCungLietSy: chịu tr&aacute;ch nhiệm thi h&agrave;nh Quyết định n&agrave;y./.</td>
</tr>
<tr style="height: 13px;">
<td style="width: 250px; height: 13px; vertical-align: top;">
<p style="text-align: left;"><strong> <em>Nơi nhận:</em> </strong></p>
<p style="text-align: left;"><em>- Như điều 2;</em></p>
<p style="text-align: left;"><em>- Lưu HS</em></p>
</td>
<td style="width: 380px; height: 13px; vertical-align: top;">
<p style="text-align: center;"><strong>KT GI&Aacute;M ĐỐC</strong></p>
<p style="text-align: center;"><strong>PH&Oacute; GI&Aacute;M ĐỐC</strong></p>
</td>
</tr>
</tbody>
</table>
