<p style="text-align: right;"><strong>Mẫu TB4</strong></p>
<table>
<tbody>
<tr>
<td style="text-align: center; vertical-align: top;" width="223">
<p>UBND TỈNH, TH&Agrave;NH PHỐ <br />:TINH_TP:<strong><br />SỞ LAO ĐỘNG - THƯƠNG BINH V&Agrave; X&Atilde; HỘI<br />--------</strong></p>
</td>
<td style="text-align: center; vertical-align: top;" width="375">
<p><strong>CỘNG H&Ograve;A X&Atilde; HỘI CHỦ NGHĨA VIỆT NAM<br />Độc lập - Tự do - Hạnh ph&uacute;c<br />----------------</strong></p>
</td>
</tr>
<tr>
<td style="text-align: center;" width="223">
<p>Số: :SoQuyetDinh:</p>
</td>
<td style="text-align: center;" width="375">
<p><em>:Tinh_TP:, :NgayHieuLuc_NTN:</em></p>
<p style="text-align: right;"><em>Số hồ sơ: :SoHoSo:</em></p>
</td>
</tr>
</tbody>
</table>
<p>$</p>
<p>&nbsp;</p>
<p style="text-align: center;"><strong>QUYẾT ĐỊNH</strong></p>
<p style="text-align: center;"><strong>Về việc trợ cấp thương tật một lần</strong></p>
<p style="text-align: center;"><strong>THỦ TRƯỞNG, CƠ QUAN ĐƠN VỊ</strong></p>
<p>Căn cứ Nghị định số 31/2013/NĐ-CP ng&agrave;y 09 th&aacute;ng 4 năm 2013 của Ch&iacute;nh phủ quy định chi tiết, hướng dẫn thi h&agrave;nh một số điều của Ph&aacute;p lệnh ưu đ&atilde;i người c&oacute; c&ocirc;ng với c&aacute;ch mạng;</p>
<p>Căn cứ Nghị định số 58/2019/NĐ‑CP ng&agrave;y 01 th&aacute;ng 7 năm 2019 của Ch&iacute;nh phủ quy định mức trợ cấp, phụ cấp ưu đ&atilde;i đối với người c&oacute; c&ocirc;ng với c&aacute;ch mạng;</p>
<p>Căn cứ Bi&ecirc;n bản Gi&aacute;m định y khoa số :SoGiayTo(10): :NgayCap_NTN(10): của Hội đồng gi&aacute;m định y khoa :NoiCap(10):;</p>
<p>X&eacute;t đề nghị của :HoTen: .</p>
<p style="text-align: center;"><strong>QUYẾT ĐỊNH:</strong></p>
<p><strong>Điều 1.</strong> Trợ cấp thương tật một lần đối với:</p>
<p>&Ocirc;ng (b&agrave;): :HoTen:</p>
<p>Sinh: :NgaySinh_NTN: Nam/Nữ: :GioiTinh:</p>
<p>Nguy&ecirc;n qu&aacute;n: :NguyenQuan:</p>
<p>Tr&uacute; qu&aacute;n: :DiaChi:</p>
<p>Cơ quan, đơn vị khi bị thương: :Noi_:</p>
<p>Bị thương :Ngay_NTN:</p>
<p>Giấy chứng nhận bị thương số: :SoGiayTo(11): :NgayCap_NTN(11): của :NoiCap(11):</p>
<p>Tỷ lệ suy giảm khả năng lao động: :TiLe:% (bằng chữ :TiLe_Chu:)</p>
<p>Mức trợ cấp 1 lần bằng: :TienTroCap(20): đồng x :SoThangTroCap(20): th&aacute;ng = Nhan(:TienTroCap(20):;:SoThangTroCap(20):) đồng.</p>
<p>(Bằng chữ: Chu(Nhan(:TienTroCap(20):;:SoThangTroCap(20):)))</p>
<p><strong>Điều 2.</strong> C&aacute;c &ocirc;ng (b&agrave;): Ch&aacute;nh văn ph&ograve;ng, Trưởng ph&ograve;ng Người c&oacute; c&ocirc;ng, Trưởng ph&ograve;ng Kế hoạch ‑ T&agrave;i ch&iacute;nh thuộc Sở Lao động ‑ Thương binh v&agrave; X&atilde; hội tỉnh Vĩnh Long, Trưởng ph&ograve;ng Lao động ‑ Thương binh v&agrave; X&atilde; hội :huyen: v&agrave; &ocirc;ng (b&agrave;) :HoTen: chịu tr&aacute;ch nhiệm thi h&agrave;nh Quyết định n&agrave;y./.</p>
<p>&nbsp;</p>
<table>
<tbody>
<tr>
<td style="width: 295px; vertical-align: top;" width="295">
<p><strong><em>&nbsp;</em></strong><strong><em>Nơi nhận:<br /></em></strong>- Như điều 2;<br />- Cục NCC-Bộ LĐTBXH<br />- &hellip;.;<br />- Lưu .</p>
</td>
<td style="width: 295px; vertical-align: top;" width="295">
<p style="text-align: center;"><strong>THỦ TRƯỞNG CƠ QUAN, ĐƠN VỊ<br /></strong><em>(Chữ k&yacute;, dấu)<br /></em><strong>Họ v&agrave; t&ecirc;n</strong></p>
</td>
</tr>
</tbody>
</table>
<p><strong><em>Ghi ch&uacute;:</em></strong> (*) Ghi chức vụ ph&ugrave; hợp.</p>
