<p style="text-align: right;"><strong>Mẫu TB4</strong></p>
<table>
    <tbody>
        <tr>
            <td style="text-align: center;" width="223">
                <p>UBND TỈNH, THÀNH PHỐ <br/>:TINH_TP:<strong><br /> SỞ LAO ĐỘNG - THƯƠNG BINH VÀ XÃ HỘI<br /> --------</strong></p>
            </td>
            <td style="text-align: center;" width="375">
                <p><strong>CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM<br /> Độc lập - Tự do - Hạnh phúc<br /> ----------------</strong></p>
            </td>
        </tr>
        <tr>
            <td style="text-align: center;" width="223">
                <p>Số: :SoQuyetDinh:</p>
            </td>
            <td style="text-align: center;" width="375">
                <p><em>:Tinh_TP:, :NgayHieuLuc_NTN:</em></p>
                <p style="text-align: right;"><em>Số hồ sơ: :SoHoSo:</em></p>
            </td>
        </tr>
    </tbody>
</table>
$
<p> </p>
<p style="text-align: center;"><strong>QUYẾT ĐỊNH</strong></p>
<p style="text-align: center;"><strong>Về việc trợ cấp thương tật một lần</strong></p>
<p style="text-align: center;"><strong>THỦ TRƯỞNG, CƠ QUAN ĐƠN VỊ</strong></p>
<p>Căn cứ Nghị định số 31/2013/NĐ-CP ngày 09 tháng 4 năm 2013 của Chính phủ quy định chi tiết, hướng dẫn thi hành một số điều của Pháp lệnh ưu đãi người có công với cách mạng;</p>
<p>Căn cứ Nghị định số ….../NĐ-CP ngày ... tháng ... năm ....của Chính phủ quy định về mức trợ cấp, phụ cấp ưu đãi đối với người có công với cách mạng;</p>
<p>Căn cứ Biên bản Giám định y khoa số :SoGiayTo(10): :NgayCap_NTN(10): của Hội đồng giám định y khoa :NoiCap(10):;</p>
<p>Xét đề nghị của :HoTen: .</p>
<p style="text-align: center;"><strong>QUYẾT ĐỊNH:</strong></p>
<p><strong>Điều 1.</strong> Trợ cấp thương tật một lần đối với:</p>
<p>Ông (bà): :HoTen:</p>
<p>Sinh: :NgaySinh_NTN: Nam/Nữ: :GioiTinh:</p>
<p>Nguyên quán: :NguyenQuan:</p>
<p>Trú quán: :DiaChi:</p>
<p>Cơ quan, đơn vị khi bị thương: :Noi_:</p>
<p>Bị thương :Ngay_NTN:</p>
<p>Giấy chứng nhận bị thương số: :SoGiayTo(11): :NgayCap_NTN(11): của :NoiCap(11):</p>
<p>Tỷ lệ suy giảm khả năng lao động: :TiLe:% (bằng chữ :TiLe_Chu:)</p>
<p>Mức trợ cấp 1 lần bằng: :TienTroCap(20): đồng x :SoThangTroCap(20): tháng = Nhan(:TienTroCap(20):;:SoThangTroCap(20):) đồng.</p>
<p>(Bằng chữ: Chu(Nhan(:TienTroCap(20):;:SoThangTroCap(20):)))</p>
<p><strong>Điều 2.</strong> Các ông (bà) Trưởng phòng ……….. (*) …………………………………………………….và ông (bà) HoTen chịu trách nhiệm thi hành Quyết định này./.</p>
<p> </p>
<table>
    <tbody>
        <tr>
            <td width="295">
                <p><strong><em> </em></strong></p>
                <p><strong><em>Nơi nhận:<br /> </em></strong>- Như điều 2;<br /> - Cục NCC-Bộ LĐTBXH<br /> - ….;<br /> - Lưu .</p>
            </td>
            <td width="295">
                <p style="text-align: center;"><strong>THỦ TRƯỞNG CƠ QUAN, ĐƠN VỊ<br /> </strong><em>(Chữ ký, dấu)<br /> </em><strong>Họ và tên</strong></p>
            </td>
        </tr>
    </tbody>
</table>
<p><strong><em>Ghi chú:</em></strong> (*) Ghi chức vụ phù hợp.</p>