<p style="text-align: right;"><strong>Mẫu HS5</strong></p>
<p style="text-align: center;"><strong>CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM<br /> Độc lập - Tự do - Hạnh phúc<br /> ----------------</strong></p>
<p style="text-align: center;"><strong> </strong></p>
<p style="text-align: center;"><strong>ĐƠN ĐỀ NGHỊ ĐÍNH CHÍNH THÔNG TIN TRONG HỒ SƠ</strong></p>
<p style="text-align: center;">:TenHS:</p>
<p style="text-align: center;"><strong>Kính gửi: </strong>:CQTiepNhan:</p>
<p>Họ và tên: :HoTen:.</p>
<p>Sinh :NgaySinh:. Nam/nữ: :GioiTinh:.</p>
<p>Nguyên quán: :NguyenQuan:.</p>
<p>Trú quán: :TruQuan:</p>
<p>Thuộc diện người có công: :DoiTuong:.</p>
<p>Thông tin ghi trong hồ sơ: :GiaTriCu:</p>
<p>Thông tin đề nghị đính chính: :GiaTriMoi:.</p>
<p>Các giấy tờ kèm theo có liên quan đến việc đính chính thông tin: :FileDinhKem:</p>
<p> </p>
<table>
    <tbody>
        <tr>
            <td style="text-align: center;" width="298">
                <p><em>.... ngày... tháng... năm...</em></p>
                <p style="text-align: left;">Xác nhận của xã, phường :CQTiepNhan:.<br /> Ông (bà) :HoTen: hiện cư trú tại :TruQuan:</p>
                <p><strong>TM. UBND<br /> Quyền hạn, chức vụ người ký<br /> </strong><em>(Chữ ký, dấu)<br /> </em><strong>Họ và tên</strong></p>
            </td>
            <td style="text-align: center;" width="298">
                <p><em>.... ngày ... tháng ... năm ...<br /> </em><strong>Người khai<br /> </strong><em>(Ký, ghi rõ họ và tên)</em></p>
            </td>
        </tr>
    </tbody>
</table>
<p><strong><em>Ghi chú:</em></strong></p>
<p>(1) Tên hồ sơ.</p>
<p>(2) Cơ quan đang trực tiếp thực hiện chế độ chính sách.</p>
<p>(3) Trường hợp không phải là người có công phải ghi rõ mối quan hệ với người có công.</p>