<p style="text-align: right;">
	<span style="font-weight: 700; text-transform: uppercase;">MẪU HS7</span>
</p>
<table style="width: 630px;">
	<tbody>
		<tr style="height: 61px;">
			<td style="height: 61px; text-align: center; width: 250px;">
				<span style="text-transform: uppercase; font-weight: 700;">UBND :TINH_TP:<br>SỞ LAO ĐỘNG<br>THƯƠNG BINH VÀ XÃ HỘI<br>:LINE_120:</span>
						</td>
						<td style="height: 61px; text-align: center; width: 380px;">
								<span style="font-weight: 700;">CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM<br>Độc lập - Tự do - Hạnh phúc<br>:line_160:</span>
								</td>
							</tr>
							<tr style="height: 35px;">
								<td style="height: 35px; text-align: center; width: 250px;">
									<p>Số: :SoQuyetDinh:/PB‑SLĐTBXH</p>
								</td>
								<td style="height: 35px; text-align: center; width: 380px;">
									<p>
										<em>:Tinh_TP:, :NgayHieuLuc_NTN:</em>
									</p>
								</td>
							</tr>
							<tr style="height: 35px;">
								<td colspan="2" style="height: 35px; width: 630px;">
									<div style="text-align: center;">
										<b>PHIẾU BÁO DI CHUYỂN HỒ SƠ&nbsp;</b><br>
										<b>Theo quyết định 290/2005/QĐ TTg</b><br>
										<b>của ông ( bà ) :HoTen:</b>
									</div>
									<p style="text-align: center;">Kính gửi: Phòng Lao động - Thương binh và Xã hội huyện :Huyen:</p>
									<p>Sở Lao động ‑ Thương binh và Xã hội tỉnh Vĩnh Long di chuyển hồ sơ của Ông/Bà:&nbsp;<span style="font-weight: 700;">:HoTen:</span>
									</p>
									<p>Sinh :NgaySinh_NTN:&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Nam/Nữ::GioiTinh:</p>
									<p>Nguyên quán: :NguyenQuan:</p>
									<p>Nay chuyển đến cư trú tại: :DiaChi:</p>
									<p>Nơi quản lý BHYT đối tượng trước khi di chuyển: :ChuyenFrom_Xa:<br>
										</p>
										<p>Số hồ sơ: :SoHoSo:</p>
										<p>Các giấy tờ trong hồ sơ: :strGiayTo:</p>
										<p/>
										<p>Ông (Bà) :HoTen:.</p>
										<p>Mức trợ cấp: :TienTroCap: đồng.</p>
										<p>
											<em>(:TienTroCap_Chu:)</em>
										</p>
										<p>Các chế độ đã được giải quyết như sau:.</p>
										<p>Các chế độ chưa được giải quyết như sau:</p>
										<p>Đề nghị Sở Lao động - Thương binh và Xã hội tiếp nhận và thực hiện chế độ ưu đãi cho Ông(Bà): :HoTen: kể từ tháng :ChuyenDate:/.</p>
									</td>
								</tr>
								<tr style="height: 35px;">
									<td style="height: 35px; text-align: center; width: 250px;">
										<p style="text-align: left;">
											<span style="font-weight: 700;">
												<em>Nơi nhận:<br>
													</em>
												</span>- Như trên;<br>- Cục NCC;<br>- Ông (Bà) :HoTen: (để biết)<br>- Lưu</p>
														<p style="text-align: left;"/>
													</td>
													<td style="height: 35px; text-align: center; width: 380px;">
														<span style="font-weight: 700;">KT GIÁM ĐỐC<br>PHÓ GIÁM ĐỐC</span>
															<p/>
														</td>
													</tr>
												</tbody>
											</table>

											