<p style="text-align: right;"><strong>Mẫu TT2</strong></p>
<table>
    <tbody>
        <tr>
            <td style="text-align: center;" width="223">
                <p>UBND TỈNH, THÀNH PHỐ :Tinh_TP:<strong><br /> SỞ LAO ĐỘNG - THƯƠNG BINH VÀ XÃ HỘI<br /> --------</strong></p>
            </td>
            <td style="text-align: center;" width="375">
                <p><strong>CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM<br /> Độc lập - Tự do - Hạnh phúc<br /> ----------------</strong></p>
            </td>
        </tr>
        <tr>
            <td style="text-align: center;" width="223">
                <p>Số: :SoQuyetDinh:</p>
            </td>
            <td style="text-align: center;" width="375">
                <p><em>:Tinh_TP:, :NgayHieuLuc_NTN:</em></p>
                <p style="text-align: right;"><em>Số hồ sơ: :SoHoSo:</em></p>
            </td>
        </tr>
    </tbody>
</table>
$
<p style="text-align: center;"><strong>QUYẾT ĐỊNH</strong></p>
<p style="text-align: center;"><strong>Về việc trợ cấp đối với thân nhân của người có công với cách mạng từ trần</strong></p>
<p style="text-align: center;"><strong>GIÁM ĐỐC SỞ LAO ĐỘNG - THƯƠNG BINH VÀ XÃ HỘI</strong></p>
<p>Căn cứ Nghị định số 31/2013/NĐ-CP ngày 09 tháng 4 năm 2013 của Chính phủ quy định chi tiết, hướng dẫn thi hành một số điều của Pháp lệnh ưu đãi người có công với cách mạng;</p>
<p>Căn cứ Nghị định số .../NĐ-CP ngày ... tháng ... năm ... của Chính phủ quy định về mức trợ cấp, phụ cấp ưu đãi đối với người có công với cách mạng;</p>
<p>Xét đề nghị của Trưởng phòng Người có công,</p>
<p style="text-align: center;"><strong>QUYẾT ĐỊNH:</strong></p>
<p><strong>Điều 1.</strong></p>
<ol>
    <li>Trợ cấp mai táng phí đối với ông (bà): :HoTen1:</li>
</ol>
<p>Sinh: :NgaySinh1_NTN: Nam/Nữ: :GioiTinh1:</p>
<p>Nguyên quán: :NguyenQuan1:</p>
<p>Trú quán: :DiaChi1:</p>
<p>Quan hệ với người có công với cách mạng từ trần: :HoTen:</p>
<p>Múc trợ cấp: :TienTroCap:</p>
<p>(Bằng chữ: :TienTroCap_Chu:)</p>
<ol start="2">
    <li>Trợ cấp một lần đối với ông (bà): :HoTen1:</li>
</ol>
<p>Sinh: :NgaySinh1_NTN: Nam/Nữ: :GioiTinh1:</p>
<p>Nguyên quán: :NguyenQuan:</p>
<p>Trú quán: :DiaChi1:</p>
<p>Quan hệ với người có công với cách mạng từ trần: :HoTen:</p>
<p>Mức trợ cấp :TienTroCap:</p>
<p>(Bằng chữ :TienTroCap_Chu:)</p>
<ol start="3">
    <li>Trợ cấp tiền tuất hàng tháng cho những thân nhân có tên dưới đây kể từ :NgayTroCap_NTN: như sau:</li>
</ol>
<table>
    <tbody>
        <tr style="text-align: center">
            <td rowspan="2" width="35" style="border: solid 1px;border-bottom:none; text-align: center">
                <p>TT</p>
            </td>
            <td rowspan="2" width="108" style="border: solid 1px; border-left: none;border-bottom:none;">
                <p>Họ tên</p>
            </td>
            <td rowspan="2" width="46" style="border: solid 1px; border-left: none;border-bottom:none;">
                <p>Năm sinh</p>
            </td>
            <td rowspan="2" width="87" style="border: solid 1px; border-left: none;border-bottom:none;">
                <p>Mối quan hệ với NCC</p>
            </td>
            <td colspan="3" width="221" style="border: solid 1px; border-left: none;border-right: none">
                <p>Mức trợ cấp</p>
            </td>
            <td rowspan="2" width="99" style="border: solid 1px; border-bottom:none;">
                <p>Thời điểm hưởng</p>
            </td>
        </tr>
        <tr>
            <td width="59" style="border:solid 1px;border-top: none; border-bottom: none;border-left:none">
                <p>Tiền tuất</p>
            </td>
            <td width="94" style="border:solid 1px;border-top: none; border-bottom: none;border-left:none">
                <p>Tuất nuôi dưỡng</p>
            </td>
            <td width="68" style="border:solid 1px; border-top: none; border-bottom: none;border-left:none;border-right: none">
                <p>Tổng cộng</p>
            </td>
        </tr>
        <tr>
            <td width="35" style="border: solid 1px; border-bottom:none;text-align: center">
                <p>1</p>
            </td>
            <td width="108" style="border: solid 1px; border-left: none;border-bottom:none;">
                <p> </p>
            </td>
            <td width="46" style="border: solid 1px; border-left: none;border-bottom:none;">
                <p> </p>
            </td>
            <td width="87" style="border: solid 1px; border-left: none;border-bottom:none;">
                <p> </p>
            </td>
            <td width="59" style="border: solid 1px; border-left: none;border-bottom:none;">
                <p> </p>
            </td>
            <td width="94" style="border: solid 1px; border-left: none;border-bottom:none;">
                <p> </p>
            </td>
            <td width="68" style="border: solid 1px; border-left: none;border-bottom:none;text-align: center">
                <p> </p>
            </td>
            <td width="99" style="border: solid 1px; border-left: none;border-bottom:none;">
                <p> </p>
            </td>
        </tr>
        <tr>
            <td width="35" style="border: solid 1px;border-bottom:none;text-align: center">
                <p>2</p>
            </td>
            <td width="108" style="border: solid 1px; border-left: none;border-bottom:none;">
                <p> </p>
            </td>
            <td width="46" style="border: solid 1px; border-left: none;border-bottom:none;">
                <p> </p>
            </td>
            <td width="87" style="border: solid 1px; border-left: none;border-bottom:none;">
                <p> </p>
            </td>
            <td width="59" style="border: solid 1px; border-left: none;border-bottom:none;">
                <p> </p>
            </td>
            <td width="94" style="border: solid 1px; border-left: none;border-bottom:none;">
                <p> </p>
            </td>
            <td width="68" style="border: solid 1px; border-left: none;border-bottom:none;text-align: center">
                <p> </p>
            </td>
            <td width="99" style="border: solid 1px; border-left: none;border-bottom:none;">
                <p> </p>
            </td>
        </tr>
        <tr>
            <td width="35" style="border: solid 1px; text-align: center">
                <p>3</p>
            </td>
            <td width="108" style="border: solid 1px; border-left: none;">
                <p> </p>
            </td>
            <td width="46" style="border: solid 1px; border-left: none;">
                <p> </p>
            </td>
            <td width="87" style="border: solid 1px; border-left: none;">
                <p> </p>
            </td>
            <td width="59" style="border: solid 1px; border-left: none;">
                <p> </p>
            </td>
            <td width="94" style="border: solid 1px; border-left: none;">
                <p> </p>
            </td>
            <td width="68" style="border: solid 1px; border-left: none; text-align: center">
                <p> </p>
            </td>
            <td width="99" style="border: solid 1px; border-left: none;">
                <p> </p>
            </td>
        </tr>
    </tbody>
</table>
<p>Trợ cấp được truy lĩnh (nếu có) (*) :TongTruyLinh: đồng</p>
<p>(Bằng chữ: :TongTruyLinh_Chu:)</p>
<p><strong>Điều 2.</strong> Các ông (bà) Trưởng phòng Người có công, Trưởng phòng Kế hoạch Tài chính, Trưởng phòng Lao động - Thương binh và Xã hội :Tinh_TP: và ông (bà) :HoTen1: chịu trách nhiệm thi hành Quyết định này./.</p>
<p> </p>
<table>
    <tbody>
        <tr>
            <td width="295">
                <p><strong><em> </em></strong></p>
                <p><strong><em>Nơi nhận:<br /> </em></strong>- Như Điều 2;<br /> - Cục NCC-Bộ LĐTBXH;<br /> - …….;<br /> - Lưu VT.</p>
            </td>
            <td width="295">
                <p style="text-align: center;"><strong>GIÁM ĐỐC<br /> </strong><em>(Chữ ký, dấu)<br /> </em><strong>Họ và tên</strong></p>
            </td>
        </tr>
    </tbody>
</table>
<p><strong><em>Ghi chú:</em></strong> (*) Ghi rõ thời gian, mức trợ cấp theo quy định tại từng thời điểm.</p>
<p> </p>
<p> </p>