<table style="width: 630px;">
<tbody>
<tr style="height: 74px;">
<td style="text-align: center; width: 250px; height: 74px; vertical-align: top;">UBND TỈNH VĨNH LONG<br /><span style="font-weight: bold;">SỞ LAO ĐỘNG</span> <br /><span style="font-weight: bold;">THƯƠNG BINH V&Agrave; X&Atilde; HỘI</span> <br />:line_120:</td>
<td style="text-align: center; width: 380px; height: 74px; vertical-align: top;"><span style="font-weight: bold;">&nbsp;CỘNG H&Ograve;A X&Atilde; HỘI CHỦ NGHĨA VIỆT NAM</span> <br /><span style="font-weight: bold;">Độc lập - Tự do - Hạnh ph&uacute;c</span> <br />:line_160:</td>
</tr>
<tr style="height: 13px;">
<td style="width: 250px; height: 13px; text-align: center; vertical-align: top;">&nbsp;Số: :SoQuyetDinh:/QĐ SLĐTBXH &nbsp;</td>
<td style="text-align: center; width: 380px; height: 13px; vertical-align: top;">&nbsp;Vĩnh Long, ng&agrave;y ...:Now_TN:</td>
</tr>
<tr style="height: 13px;">
<td style="width: 630px; height: 13px;" colspan="2">
<p style="text-align: center;"><span style="font-weight: bold;">QUYẾT ĐỊNH</span></p>
<p>&nbsp;</p>
<div style="text-align: center;"><strong>Thực hiện chế độ mai t&aacute;ng ph&iacute; đối với đối tượng tham gia chiến tranh bảo vệ tổ quốc,&nbsp;</strong> <br /><strong>l&agrave;m nghĩa vụ quốc tế ở Campuchia, gi&uacute;p bạn L&agrave;o sau ng&agrave;y 30/4/1975&nbsp;</strong> <br /><strong>đ&atilde; phục vi&ecirc;n, xuất ngũ, th&ocirc;i việc theo Quyết định số 62/2011/QĐ TTg</strong> <br /><strong>Ng&agrave;y 9 th&aacute;ng 11 năm 2011 của Thủ tướng ch&iacute;nh phủ</strong></div>
<p style="text-align: center;"><span style="font-weight: bold;">GI&Aacute;M ĐỐC SỞ LAO ĐỘNG ‑ THƯƠNG BINH V&Agrave; X&Atilde; HỘI</span></p>
<p style="text-align: left;"><em>&nbsp; &nbsp; &nbsp;</em> <span style="background-color: transparent;"> <em>Căn cứ Luật Bảo hiểm x&atilde; hội số 58/2014/QH13 ng&agrave;y 20/11/2014;</em> </span></p>
<p style="text-align: left;"><em>&nbsp; &nbsp; &nbsp;Căn cứ Quyết định số 49/2015/QĐ TTg ng&agrave;y 14/10/2015 của Thủ tướng Ch&iacute;nh phủ&nbsp;</em></p>
<p style="text-align: left;"><em>&nbsp; &nbsp; &nbsp;Căn cứ Nghị định số 38/2019/NĐ CP ng&agrave;y 09 th&aacute;ng 5 năm 2019 của Ch&iacute;nh phủ quy định mức lương cơ sở đối với c&aacute;n bộ c&ocirc;ng chức, vi&ecirc;n chức v&agrave; lực lượng vũ trang;</em></p>
<p style="text-align: left;"><em>&nbsp; &nbsp; &nbsp;Căn cứ Th&ocirc;ng tư Li&ecirc;n tịch số 138/2015/TTLT BQP BLĐTBXH BTC Ng&agrave;y 16 th&aacute;ng 12 năm 2015 của Li&ecirc;n Bộ quốc ph&ograve;ng - Bộ Lao động - Thương binh v&agrave; X&atilde; hội - Bộ T&agrave;i ch&iacute;nh;</em></p>
<p style="text-align: left;"><em>&nbsp; &nbsp; &nbsp;Căn cứ Quyết định số 417/QĐ UBND ng&agrave;y 06/03/2018 của Uỷ ban Nh&acirc;n d&acirc;n tỉnh Vĩnh Long về việc uỷ quyền quyết định mai t&aacute;ng ph&iacute; đối với c&aacute;c trường hợp được hưởng trợ cấp mai t&aacute;ng ph&iacute; theo Quyết định số 62/2011/QĐ TTg, Quyết định số 49/2015/QĐ TTg</em></p>
<p style="text-align: left;"><em>&nbsp; &nbsp; &nbsp;Căn cứ tr&iacute;ch lục khai tử số&nbsp;:SoGiayTo(1): ng&agrave;y&nbsp;:NgayCap(1): của :NoiCap(1):, khai tử &ocirc;ng(b&agrave;)&nbsp;<span style="font-weight: bold;">:HoTen:</span>&nbsp;đ&atilde; từ trần ng&agrave;y :NgayMat:;</em></p>
<p style="text-align: left;"><em>&nbsp; &nbsp; &nbsp;Căn cứ hồ sơ mai t&aacute;ng ph&iacute; đối tượng tham gia chiến tranh bảo vệ Tổ quốc, l&agrave;m nghĩa vụ quốc tế ở Campuchia, gi&uacute;p bạn L&agrave;o sau ng&agrave;y 30/4/1975 đ&atilde; phục vi&ecirc;n, xuất ngũ, th&ocirc;i việc&nbsp;của &Ocirc;ng ( B&agrave; )&nbsp;<span style="font-weight: bold;">:HoTen:</span>, sinh năm :NamSinh:;</em></p>
<p style="text-align: left;"><em>&nbsp; &nbsp; &nbsp;Theo đề nghị của Trưởng ph&ograve;ng Người c&oacute; c&ocirc;ng.</em></p>
<p style="text-align: center;"><span style="font-weight: bold;">QUYẾT ĐỊNH:</span></p>
<p style="text-align: left;"><span style="font-weight: bold;">Điều 1.</span>&nbsp;Nay t<span style="background-color: transparent;">rợ cấp tiền mai t&aacute;ng ph&iacute; cho &ocirc;ng (b&agrave;):</span>&nbsp;<span style="background-color: transparent; font-weight: bold;">:NguoiThoCungLietSy:</span></p>
<p style="text-align: left;">Sinh năm:&nbsp;:NamSinh1:</p>
<p style="text-align: left;">Hiện cư ngụ: :DiaChi1:</p>
<p style="text-align: left;">L&agrave;&nbsp;<span style="font-weight: bold;">:QHGiaDinh:&nbsp;</span> <span style="text-align: center; background-color: transparent;">v&agrave; l&agrave; người tổ chức mai t&aacute;ng cho &Ocirc;ng ( B&agrave; ):<span style="font-weight: bold;">&nbsp;:HoTen:</span> </span></p>
<p style="text-align: left;"><span style="background-color: transparent;">Số tiền trợ cấp mai t&aacute;ng ph&iacute; l&agrave;: </span><strong><span style="background-color: transparent;">:TienTroCap(16): đồng</span></strong></p>
<p style="text-align: left;">(Bằng chữ:&nbsp;<em>:TienTroCap_Chu(16):</em>).</p>
<div style="text-align: left;"><strong><span style="background-color: transparent;">Điều 2.</span> </strong><span style="background-color: transparent; font-weight: 300;">C&aacute;c &ocirc;ng (b&agrave;): Ch&aacute;nh văn ph&ograve;ng, Trưởng ph&ograve;ng Người c&oacute; c&ocirc;ng, Trưởng ph&ograve;ng Kế hoạch ‑ T&agrave;i ch&iacute;nh thuộc Sở Lao động ‑ Thương binh v&agrave; X&atilde; hội tỉnh Vĩnh Long, Trưởng ph&ograve;ng Lao động ‑ Thương binh v&agrave; X&atilde; hội :huyen: v&agrave; &ocirc;ng (b&agrave;)</span><span style="background-color: transparent;"><strong>&nbsp;:NguoiThoCungLietSy:</strong> </span><span style="background-color: transparent; font-weight: 300;">chịu tr&aacute;ch nhiệm thi h&agrave;nh Quyết định n&agrave;y./.</span></div>
</td>
</tr>
<tr style="height: 13px;">
<td style="width: 250px; height: 13px; vertical-align: top;">
<p><span style="font-weight: bold;"> <em>Nơi nhận:</em> </span></p>
<p><em>- Như điều 2;</em></p>
<p><em>- Lưu HS</em></p>
</td>
<td style="width: 380px; height: 13px; vertical-align: top;">
<p style="text-align: center;"><span style="font-weight: bold;">KT GI&Aacute;M ĐỐC</span></p>
<p style="text-align: center;"><span style="font-weight: bold;">PH&Oacute; GI&Aacute;M ĐỐC</span></p>
</td>
</tr>
</tbody>
</table>
