<table style="width: 630px;">
<tbody>
<tr>
<td style="text-align: center; width: 250px;"><span style="text-transform: uppercase;">UBND :huyen:<br /><span style="font-weight: bold;">PH&Ograve;NG LAO ĐỘNG‑TB&amp;XH</span> <br />:line_120:</span></td>
<td style="text-align: center; width: 380px;"><span style="font-weight: bold;">CỘNG H&Ograve;A X&Atilde; HỘI CHỦ NGHĨA VIỆT NAM</span> <br /><span style="font-weight: bold;">Độc lập ‑ Tự do ‑ Hạnh ph&uacute;c</span> <br />:line_160:</td>
</tr>
<tr>
<td style="width: 250px;" colspan="2">
<p style="text-align: center;"><span style="font-weight: bold;">PHIẾU B&Aacute;O GIẢM</span></p>
</td>
</tr>
</tbody>
</table>
<table style="width: 630px;">
<tbody>
<tr>
<td style="width: 630px;" colspan="2">
<p>Họ v&agrave; t&ecirc;n người hưởng trợ cấp: :HoTen: ‑ Năm sinh :NamSinh:.</p>
<p>Nguy&ecirc;n qu&aacute;n: :NguyenQuan:.</p>
<p>Hộ khẩu thường tr&uacute;: :DiaChi_Full:.</p>
<p>Chết :NgayMat_NTN:</p>
<p>Giấy tr&iacute;ch lục khai tử số: :SoGiayTo(1): do :NoiCap(1): cấp ng&agrave;y :NgayCap(1):.</p>
<p>Thuộc đối tượng hưởng trợ cấp ưu đ&atilde;i: (LTCM, TB, BB, TNLS...) TB, người hưởng ch&iacute;nh s&aacute;ch như thương binh, TB B từ 21% trở l&ecirc;n.</p>
<p>Tỷ lệ mất sức lao động: :TiLe:%</p>
<p>Số sổ trợ cấp: :SoHoSo:</p>
<p>C&aacute;c mức trợ cấp ưu đ&atilde;i h&agrave;ng th&aacute;ng đang hưởng:</p>
:TroCapDangHuong:
<p>Nay b&aacute;o cắt giảm trợ cấp của &ocirc;ng/b&agrave;: :HoTen: kể từ&nbsp;<span style="font-weight: bold;">:NgayCat_NTN:</span>.</p>
<p>C&aacute;c chế độ trợ cấp sau khi từ trần bao gồm:</p>
:TroCapSauKhiMat:
<p>Ghi ch&uacute;: .</p>
<p>‑ Trợ cấp tuất từ trần (nếu c&oacute;): theo bản khai.</p>
<p>Xin th&ocirc;ng b&aacute;o để Sở Lao động ‑ Thương binh &amp; X&atilde; hội tỉnh Vĩnh Long l&agrave;m thủ tục giải quyết chế độ từ trần.</p>
</td>
</tr>
<tr>
<td style="width: 250px;">&nbsp;</td>
<td style="width: 380px;">
<p style="text-align: center;"><em>............, :Now_NTN:</em></p>
<p style="text-align: center;"><span style="font-weight: bold;">TRƯỞNG PH&Ograve;NG</span></p>
</td>
</tr>
</tbody>
</table>
