<div ngbDropdown placement="bottom" autoClose="outside" class="kt-header__topbar-item">
	<div ngbDropdownToggle class="kt-header__topbar-wrapper">
		<span class="kt-header__topbar-icon notification"
			[ngClass]="{'kt-pulse kt-pulse--brand': pulse, 'kt-pulse--light' : pulseLight, 'kt-header__topbar-icon--success' : iconType === 'success'	}"
			matBadge="{{ThongBao.Total.Total}}" matBadgeColor="warn">
			<i *ngIf="!useSVG" [ngClass]="icon"></i>
			<span *ngIf="useSVG" class="kt-svg-icon" [ngClass]="{'kt-svg-icon--success' : iconType === 'success'}"
				[inlineSVG]="icon"></span>
			<span class="kt-pulse__ring" [hidden]="!pulse"></span>
		</span>
		<span class="kt-badge kt-badge--dot kt-badge--notify kt-badge--sm kt-badge--brand notification"
			[hidden]="!dot"></span>
	</div>

	<div ngbDropdownMenu
		class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-top-unround dropdown-menu-lg">
		<form>
			<!--begin: Head -->
			<div class="kt-head kt-head--skin-{{skin}} kt-head--fit-x kt-head--fit-b"
				[ngStyle]="{'background-image': backGroundStyle() }">
				<h3 class="kt-head__title">
					Thông báo&nbsp;
					<a [routerLink]="['/profile/notification']">
						<span class="btn btn-{{ type }} btn-sm btn-bold btn-font-md">
							{{ThongBao.Total.Total}} thông báo mới
						</span>
					</a>
				</h3>
				<ul ktTabClickEvent
					class="nav nav-tabs nav-tabs-line nav-tabs-bold nav-tabs-line-3x nav-tabs-line-{{ type }} kt-notification-item-padding-x"
					role="tablist">
					<!-- <li class="nav-item" *ngFor="let item of LoaiThongBao;let i=index">
						<a (click)="tab.select('tab-id-'+i)" class="nav-link" [ngClass]="{'active show':i==0}" data-toggle="tab" href="javascript:;" role="tab" aria-selected="true" matBadge="{{ThongBao.Total[item.Key]}}" matBadgeColor="warn">{{item.Name}}</a>
					</li> -->
					<li class="nav-item">
						<a (click)="tab.select('tab-id-1')" class="nav-link active show" data-toggle="tab" href="javascript:;"
							role="tab" aria-selected="false" matBadge="{{ThongBao.Total.ThongBao}}"
							matBadgeColor="warn">Thông báo</a>
					</li>
				</ul>
			</div>
			<!--end: Head -->

			<ngb-tabset #tab="ngbTabset"> 
				<!-- <ngb-tab id="tab-id-{{i}}" *ngFor="let item of LoaiThongBao;let i=index">
					<ng-template ngbTabContent>
						<div (scroll)="scrollViewHandler($event, item)" #scrollView  [perfectScrollbar]="{wheelPropagation: false}" [ngStyle]="{'max-height': '40vh', 'position': 'relative'}" class="kt-notification kt-margin-t-10 kt-margin-b-10">
							<a href="javascript:;" *ngFor="let tb of ThongBao[item.Key]" class="kt-notification__item"  (click)="view(item.Key, tb)">
								<div class="kt-notification__item-icon">
								</div>
								<div class="kt-notification__item-details">
									<div class="kt-notification__item-title" [ngClass]="{'text-unread':!tb.IsRead}">
										{{tb.ThongBao}}
									</div>
									<div class="kt-notification__item-time"> 
										{{tb.CreatedDate}}
									</div>
								</div>
							</a>	
						</div>					
					</ng-template>
				</ngb-tab> -->
				<ngb-tab id="tab-id-1">
					<ng-template ngbTabContent>
						<div (scroll)="scrollViewHandler($event, 'ThongBao')" #scrollViewTB
							[perfectScrollbar]="{wheelPropagation: false}"
							[ngStyle]="{'max-height': '40vh', 'position': 'relative'}"
							class="kt-notification kt-margin-t-10 kt-margin-b-10">
							<a href="javascript:;" *ngFor="let tb of ThongBao.ThongBao" class="kt-notification__item"
								(click)="view('ThongBao', tb)">
								<div class="kt-notification__item-icon">
									<!--<i class="flaticon2-line-chart kt-font-success"></i>-->
								</div>
								<div class="kt-notification__item-details">
									<div class="kt-notification__item-title" [ngClass]="{'text-unread':!tb.IsRead}">
										{{tb.ThongBao}}
									</div>
									<div class="kt-notification__item-time">
										{{tb.CreatedDate}}
									</div>
								</div>
							</a>
						</div>
					</ng-template>
				</ngb-tab>
			</ngb-tabset>
		</form>
	</div>
</div>
