<table style="width: 630px;">
	<tbody>
		<tr style="height: 74px;">
			<td style="text-align: center; width: 250px; height: 74px;">
				<div>&nbsp;UBND TỈNH VĨNH LONG
					<br>
						<strong>SỞ LAO ĐỘNG</strong>
						<br>
							<strong>THƯƠNG BINH VÀ XÃ HỘI</strong>
							<br>:line_120:
							</div>
						</td>
						<td style="text-align: center; width: 380px; height: 74px;">
							<strong>&nbsp;CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</strong>
							<br>
								<strong>Độc lập - Tự do - Hạnh phúc</strong>
								<br>:line_160:
								</td>
							</tr>
							<tr style="height: 13px;">
								<td style="text-align: center; width: 250px; height: 13px;">&nbsp;Số: :SoQuyetDinh:/QĐ SLĐTBXH &nbsp;</td>
								<td style="text-align: center; width: 380px; height: 13px;">&nbsp;Vĩnh Long, ngày ...:Now_TN:</td>
							</tr>
							<tr style="height: 13px;">
								<td style="width: 630px; height: 13px;" colspan="2">
									<p style="text-align: center;">
										<strong>QUYẾT ĐỊNH</strong>
									</p>
									<div style="text-align: center;">
										<strong>Về việc thôi trả trợ cấp thương binh hàng tháng</strong>
										<br>:line_160:
										</div>
										<div style="text-align: center;">
											<strong>GIÁM ĐỐC SỞ LAO ĐỘNG ‑ THƯƠNG BINH VÀ XÃ HỘI
												<br>TỈNH VĨNH LONG
												</strong>
											</div>
											<p>
												<strong>&nbsp;</strong>
											</p>
											<p>
												<em>&nbsp; &nbsp; &nbsp;Căn cứ Nghị định số 31/2013/NĐ‑CP ngày 09 tháng 4 năm 2013 của Chính phủ quy định chi tiết, hướng dẫn thi hành một số điều của Pháp lệnh ưu đãi người có công với cách mạng;</em>
											</p>
											<p>
												<em>&nbsp; &nbsp; &nbsp;Căn cứ Nghị định số 58/2019/NĐ‑CP ngày 01 tháng 7 năm 2019 của Chính phủ quy định mức trợ cấp, phụ cấp ưu đãi đối với người có công với cách mạng;</em>
											</p>
											<p>
												<em>&nbsp; &nbsp; &nbsp;Căn cứ trích lục khai tử số&nbsp;:SoGiayTo(1): ngày&nbsp;:NgayCap(1): của :NoiCap(1):, khai tử ông (bà)
													<strong>:HoTen:</strong>
													&nbsp;đã từ trần ngày :NgayMat:;
												</em>
											</p>
											<p>
												<em>&nbsp; &nbsp; &nbsp;Căn cứ hồ sơ thương binh của ông (bà)
													<strong>:HoTen:</strong>
													, số hồ sơ: :SoHoSo:;
												</em>
											</p>
											<p>
												<em>&nbsp; &nbsp; &nbsp;Theo đề nghị của Trưởng phòng Người có công.</em>
											</p>
											<p style="text-align: center;">
												<strong>QUYẾT ĐỊNH:</strong>
											</p>
											<p>
												<strong>Điều 1.</strong>
												Nay thôi trả trợ cấp thương binh hàng tháng của ông (bà)&nbsp;
												<strong>:HoTen:</strong>
											</p>
											<p>‑ Sinh năm:&nbsp;:NamSinh:</p>
											<p>‑ Cư ngụ: :DiaChi_Full:.</p>
											<p>‑ Kể từ: :NgayTroCap:.</p>
											<p>‑ Số tiền trợ cấp:
												<strong>:TienTroCap:</strong>
												&nbsp;đồng.
											</p>
											<p>‑
												<strong>
													<em>(Bằng chữ: :TienTroCap_Chu:)</em>
												</strong>
												.
											</p>
											<strong>Điều 2.</strong>
											Các ông (bà): Chánh văn phòng, Trưởng phòng Người có công, Trưởng phòng Kế hoạch ‑ Tài chính thuộc Sở Lao động ‑ Thương binh và Xã hội tỉnh Vĩnh Long, Trưởng phòng Lao động ‑ Thương binh và Xã hội :huyen: chịu trách nhiệm thi hành Quyết định này./.
										</td>
									</tr>
									<tr style="height: 13px;">
										<td style="width: 250px; height: 13px;">
											<p style="text-align: left;">
												<strong>
													<em>Nơi nhận:</em>
												</strong>
											</p>
											<p style="text-align: left;">
												<em>- Như điều 2;</em>
											</p>
											<p style="text-align: left;">
												<em>- Lưu HS.</em>
											</p>
											<p style="text-align: left;">&nbsp;</p>
											<p style="text-align: left;">&nbsp;</p>
											<p style="text-align: left;">&nbsp;</p>
										</td>
										<td style="width: 380px; height: 13px;">
											<p style="text-align: center;">
												<strong>KT GIÁM ĐỐC</strong>
											</p>
											<p style="text-align: center;">
												<strong>PHÓ GIÁM ĐỐC</strong>
											</p>
											<p style="text-align: center;">&nbsp;</p>
											<p style="text-align: center;">&nbsp;</p>
											<p style="text-align: center;">&nbsp;</p>
										</td>
									</tr>
								</tbody>
							</table>

