<table style="width: 630px" class="pdf-table">
    <tbody>
        <tr style="height: 35px;">
            <td style="height: 35px; width: 250px;" width="250px"> </td>
            <td style="height: 35px; width: 450px;" width="450px">
                <p style="text-align: right;"><strong>Mẫu số 03</strong></p>
            </td>
        </tr>
        <tr style="height: 85px;">
            <td style="text-align: center; height: 85px;">
                :huyen:<br />
                <table width="120px" style="display:inline-block;"><tr><th style="width:120px; border:solid 1px;border-right: none;border-left: none;border-bottom: none"></th></tr></table>

            </td>
            <td style="text-align: center; height: 85px; ">
                <span><strong>CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM<br /> Độc lập - Tự do - Hạnh phúc</strong></span><br />
                <table width="190px" style="display:inline-block;"><tr><th style="width:190px; border:solid 1px;border-right: none;border-left: none;border-bottom: none"></th></tr></table>

            </td>
        </tr>
        <tr style="height: 35px;">
            <td style="height: 35px; ">
                <p style="text-align: center;">Số:……/TNHS</p>
            </td>
            <td style="height: 35px;">
                <p style="text-align: center;"><em>:Tinh:, ngày @ngay tháng @thang năm @nam</em></p>
            </td>
        </tr>
        <tr style="height: 35px;">
            <td style="height: 35px;" colspan="2">
                <p style="text-align: center;"><strong>GIẤY TIẾP NHẬN HỒ SƠ VÀ HẸN TRẢ KẾT QUẢ</strong></p>
                <p style="text-align: center;"><strong></strong><strong>Mã hồ sơ: </strong>:SoHoSo:<br /><em>(Liên: Lưu/giao khách hàng)</em></p>
            </td>
        </tr>
        <tr style="height: 35px;">
            <td style="height: 35px; " colspan="2">
                <p>Bộ phận tiếp nhận và trả kết quả: :DonViNhan:</p>
                <p>Tiếp nhận hồ sơ của :HoTen:</p>
                <p>Địa chỉ: :DiaChi:</p>
                <p>Số điện thoại: :SDT: Email: :Email:</p>
                <p>Nội dung yêu cầu giải quyết: :DoiTuong::of::HoTen2:</p>
                <p>1. Thành phần hồ sơ nộp gồm:</p>
                :DSGiayTo:
                <p>2. Số lượng hồ sơ: :SL:(bộ)</p>
                <p>3. Thời gian giải quyết hồ sơ theo quy định là: :SoNgay:</p>
                <p>4. Thời gian nhận hồ sơ: :NgayGui:</p>
                <p>5. Thời gian trả kết quả giải quyết hồ sơ: :Deadline:</p>
                <p>6. Đăng ký nhận kết quả tại:……………</p>
                <p>Vào Sổ theo dõi hồ sơ, Quyển số:………………… Số thứ tự……………</p>
            </td>
        </tr>
        <tr style="height: 35px;">
            <td style="height: 35px;text-align: center;">
                <p><strong>NGƯỜI NỘP HỒ SƠ</strong><em><br />(Ký và ghi rõ họ tên)</em></p>
                <p> </p>
                <p> </p>
            </td>
            <td style="height: 35px; text-align: center;">
                <p><strong>NGƯỜI TIẾP NHẬN HỒ SƠ</strong><em><br /> (Ký và ghi rõ họ tên)</em></p>
                <p> </p>
                <p> </p>
            </td>
        </tr>
        <tr style="height: 35px;">
            <td style="height: 35px;" colspan="2">
                <strong><em>Ghi chú:</em></strong>
                <p>- Giấy tiếp nhận và hẹn trả kết quả được lập thành 2 liên; một liên chuyển kèm theo Phiếu kiểm soát quá trình giải quyết hồ sơ và được lưu tại Bộ phận tiếp nhận và trả kết quả; một liên giao cho cá nhân, tổ chức nộp hồ sơ;</p>
                <p>- Cá nhân, tổ chức có thể đăng ký nhận kết quả tại Bộ phận tiếp nhận và trả kết quả hoặc tại nhà (trụ sở tổ chức) qua dịch vụ bưu chính.</p>
            </td>
        </tr>
    </tbody>
</table>