<table border="1">
    <tbody>
        <tr>
            <td width="55" rowspan="2" style="vertical-align: middle; text-align: center;">
                <p><strong>STT</strong></p>
            </td>
            <td width="240" colspan="2" style="vertical-align: middle; text-align: center;">
                <p><strong>THÔNG TIN GHI TRONG HỒ SƠ</strong></p>
            </td>
            <td width="240" colspan="2" style="vertical-align: middle; text-align: center;">
                <p><strong>THÔNG TIN ĐÍNH CHÍNH</strong></p>
            </td>
            <td width="85" rowspan="2" style="vertical-align: middle; text-align: center;">
                <p><strong>GHI CHÚ</strong></p>
            </td>
        </tr>
        <tr>
            <td width="170" style="text-align: center;">
                <p><strong>HỌ VÀ TÊN</strong></p>
            </td>
            <td width="70" style="text-align: center;">
                <p><strong>NĂM SINH</strong></p>
            </td>
            <td width="170" style="text-align: center;">
                <p><strong>HỌ VÀ TÊN</strong></p>
            </td>
            <td width="70" style="text-align: center;">
                <p><strong>NĂM SINH</strong></p>
            </td>
        </tr>
        {0}
    </tbody>
</table>
^
<tr>
    <td width="55" style="text-align: center;">{0}</td>
    <td width="160" style="text-align: center;">{1}</td>
    <td width="70" style="text-align: center;">{2}</td>
    <td width="160" style="text-align: center;">{3}</td>
    <td width="70" style="text-align: center;">{4}</td>
    <td width="85" style="text-align: center;">{5}</td>
</tr>