<p style="text-align: right;font-size: 12pt;"><strong>Mẫu số 04/BMAH</strong></p>
<p style="text-align: center; font-size: 12pt;"> 
    <span><strong>CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM<br /> <u>Độc lập - Tự do - Hạnh phúc</u> </strong></span>
</p>
<br />
<p style="text-align: center; font-size: 12pt;"><strong>DANH SÁCH<br /> 
    ĐỀ NGHỊ TRUY TẶNG DANH HIỆU VINH DỰ NHÀ NƯỚC "BÀ MẸ VIỆT NAM ANH HÙNG" </strong><br />
    (Kèm theo Tờ trình số .../TTr-UBND @ngay của UBND @ubnd)
</p>
<table style="width: 950px; font-size: 12pt">
    <tbody>
        <tr style="text-align: center; height:26.25pt;">
            <td rowspan="3" style="width:1px;border:solid 1px;border-right:none;"><strong>Số TT</strong></td>
            <td colspan="6" style="width:1px;border:solid 1px;border-right:none;"><strong>THÔNG TIN VỀ BÀ MẸ</strong></td>
            <td colspan="2" style="width:1px;border:solid 1px;border-right:none;"><strong>THÔNG TIN VỀ LIỆT SỸ, THƯƠNG BINH</strong></td>
            <td colspan="3" rowspan="2" style="width:1px;border:solid 1px;border-right:none;"><strong>QUAN HỆ</strong></td>
            <td rowspan="2" style="width:1px;border:solid 1px;border-right:none;"><strong>Số Bằng TQGC</strong></td>
            <td rowspan="3" style="width:1px;border:solid 1px;border-right:none;"><strong>Số GCNTB</strong></td>
            <td rowspan="3" style="width:1px;border:solid 1px;border-right:none;"><strong>Tỷ lệ TT</strong></td>
            <td colspan="2" style="width:1px;border:solid 1px;border-right:none;"><strong>Phần thân nhân mẹ</strong></td>
            <td rowspan="3" style="width:1px;border:solid 1px;"><strong>GHI CHÚ</strong></td>
        </tr>
        <tr style="text-align: center; height:76.5pt">
            <td rowspan="2" style="width:1px;border:solid 1px;border-right:none;border-top: none"><strong>HỌ TÊN BÀ MẸ</strong></td>
            <td rowspan="2" style="width:1px;border:solid 1px;border-right:none;border-top: none"><strong>Năm sinh</strong></td>
            <td rowspan="2" style="width:1px;border:solid 1px;border-right:none;border-top: none"><strong>Tình hình hiện nay</strong></td>
            <td rowspan="2" style="width:1px;border:solid 1px;border-right:none;border-top: none"><strong>Dân tộc</strong></td>
            <td rowspan="2" style="width:1px;border:solid 1px;border-right:none;border-top: none"><strong>Tôn giáo</strong></td>
            <td rowspan="2" style="width:1px;border:solid 1px;border-right:none;border-top: none"><strong>Nguyên quán <br /> Nơi đăng ký hồ sơ</strong></td>
            <td rowspan="2" style="width:1px;border:solid 1px;border-right:none;border-top: none"><strong>Tổng số LS, TB</strong></td>
            <td rowspan="2" style="width:1px;border:solid 1px;border-right:none;border-top: none"><strong>Họ và Tên Liệt sỹ</strong></td>
            <td rowspan="2" style="width:1px;border:solid 1px;border-right:none;border-top: none"><strong>Họ tên người khai</strong></td>
            <td rowspan="2" style="width:1px;border:solid 1px;border-right:none;border-top: none"><strong>Mối quan hệ với bà mẹ</strong></td>
        </tr>
        <tr style="text-align: center;height:50.7pt">
            <td style="width:1px;border:solid 1px;border-right:none;border-top: none"><strong>Chồng</strong></td>
            <td style="width:1px;border:solid 1px;border-right:none;border-top: none"><strong>Con đẻ</strong></td>
            <td style="width:1px;border:solid 1px;border-right:none;border-top: none"><strong>Con nuôi</strong></td>
            <td style="width:1px;border:solid 1px;border-right:none;border-top: none"><strong>(Số h/sơ)</strong></td>
        </tr>
        <tr style="text-align: center;">
            <td style="width:1px;border:solid 1px;border-right:none;border-top: none">(1)</td>
            <td style="width:1px;border:solid 1px;border-right:none;border-top: none">(2)</td>
            <td style="width:1px;border:solid 1px;border-right:none;border-top: none">(3)</td>
            <td style="width:1px;border:solid 1px;border-right:none;border-top: none">(4)</td>
            <td style="width:1px;border:solid 1px;border-right:none;border-top: none">(5)</td>
            <td style="width:1px;border:solid 1px;border-right:none;border-top: none">(6)</td>
            <td style="width:1px;border:solid 1px;border-right:none;border-top: none">(7)</td>
            <td style="width:1px;border:solid 1px;border-right:none;border-top: none">(8)</td>
            <td style="width:1px;border:solid 1px;border-right:none;border-top: none">(9)</td>
            <td style="width:1px;border:solid 1px;border-right:none;border-top: none">(10)</td>
            <td style="width:1px;border:solid 1px;border-right:none;border-top: none">(11)</td>
            <td style="width:1px;border:solid 1px;border-right:none;border-top: none">(12)</td>
            <td style="width:1px;border:solid 1px;border-right:none;border-top: none">(13)</td>
            <td style="width:1px;border:solid 1px;border-right:none;border-top: none">(14)</td>
            <td style="width:1px;border:solid 1px;border-right:none;border-top: none">(15)</td>
            <td style="width:1px;border:solid 1px;border-right:none;border-top: none"></td>
            <td style="width:1px;border:solid 1px;border-right:none;border-top: none"></td>
            <td style="width:1px;border:solid 1px;border-top: none">(16)</td>
        </tr>
        {0}
    </tbody>
</table>
<p style="text-align: left; padding-left: 10px; font-size: 12pt;"><strong>&nbsp;&nbsp;&nbsp; Tổng cộng: @sum</strong>
    <br />* Ghi chú: Mục (4) ghi tình hình bà mẹ: Còn sống, từ trần, liệt sỹ.</p>
<p style="text-align: right; padding-right: 10px; font-size: 12pt;">@Ngay <br />@footer</p>
^
<tr style="text-align: center;">
    <td style="width:1px;border:solid 1px;border-right:none; border-top: none">{0}</td>
    <td style="width:1px;border:solid 1px;border-right:none; border-top: none">{1}</td>
    <td style="width:1px;border:solid 1px;border-right:none; border-top: none">{2}</td>
    <td style="width:1px;border:solid 1px;border-right:none; border-top: none">{3}</td>
    <td style="width:1px;border:solid 1px;border-right:none; border-top: none">{4}</td>
    <td style="width:1px;border:solid 1px;border-right:none; border-top: none">{5}</td>
    <td style="width:1px;border:solid 1px;border-right:none; border-top: none">{6}</td>
    <td style="width:1px;border:solid 1px;border-right:none; border-top: none">{7}</td>
    <td style="width:1px;border:solid 1px;border-right:none; border-top: none">{8}</td>
    <td style="width:1px;border:solid 1px;border-right:none; border-top: none">{9}</td>
    <td style="width:1px;border:solid 1px;border-right:none; border-top: none">{10}</td>
    <td style="width:1px;border:solid 1px;border-right:none; border-top: none">{11}</td>
    <td style="width:1px;border:solid 1px;border-right:none; border-top: none">{12}</td>
    <td style="width:1px;border:solid 1px;border-right:none; border-top: none">{13}</td>
    <td style="width:1px;border:solid 1px;border-right:none; border-top: none">{14}</td>
    <td style="width:1px;border:solid 1px;border-right:none; border-top: none">{15}</td>
    <td style="width:1px;border:solid 1px;border-right:none; border-top: none">{16}</td>
    <td style="width:1px;border:solid 1px;border-top: none">{17}</td>
</tr>
^
<tr style="text-align: center;">
    <td rowspan="{18}" style="width:1px;border:solid 1px;border-right:none; border-top: none">{0}</td>
    <td rowspan="{18}" style="width:1px;border:solid 1px;border-right:none; border-top: none">{1}</td>
    <td rowspan="{18}" style="width:1px;border:solid 1px;border-right:none; border-top: none">{2}</td>
    <td rowspan="{18}" style="width:1px;border:solid 1px;border-right:none; border-top: none">{3}</td>
    <td rowspan="{18}" style="width:1px;border:solid 1px;border-right:none; border-top: none">{4}</td>
    <td rowspan="{18}" style="width:1px;border:solid 1px;border-right:none; border-top: none">{5}</td>
    <td rowspan="{18}" style="width:1px;border:solid 1px;border-right:none; border-top: none">{6}</td>
    <td style="width:1px;border:solid 1px;border-right:none; border-top: none">{7}</td>
    <td style="width:1px;border:solid 1px;border-right:none; border-top: none">{8}</td>
    <td style="width:1px;border:solid 1px;border-right:none; border-top: none">{9}</td>
    <td style="width:1px;border:solid 1px;border-right:none; border-top: none">{10}</td>
    <td style="width:1px;border:solid 1px;border-right:none; border-top: none">{11}</td>
    <td style="width:1px;border:solid 1px;border-right:none; border-top: none">{12}</td>
    <td style="width:1px;border:solid 1px;border-right:none; border-top: none">{13}</td>
    <td style="width:1px;border:solid 1px;border-right:none; border-top: none">{14}</td>
    <td rowspan="{18}" style="width:1px;border:solid 1px;border-right:none; border-top: none">{15}</td>
    <td rowspan="{18}" style="width:1px;border:solid 1px;border-right:none; border-top: none">{16}</td>
    <td rowspan="{18}" style="width:1px;border:solid 1px;border-top: none">{17}</td>
</tr>
^
<tr style="text-align: center;">
    <td style="width:1px;border:solid 1px;border-right:none; border-top: none">{0}</td>
    <td style="width:1px;border:solid 1px;border-right:none; border-top: none">{1}</td>
    <td style="width:1px;border:solid 1px;border-right:none; border-top: none">{2}</td>
    <td style="width:1px;border:solid 1px;border-right:none; border-top: none">{3}</td>
    <td style="width:1px;border:solid 1px;border-right:none; border-top: none">{4}</td>
    <td style="width:1px;border:solid 1px;border-right:none; border-top: none">{5}</td>
    <td style="width:1px;border:solid 1px;border-right:none; border-top: none">{6}</td>
    <td style="width:1px;border:solid 1px;border-top: none">{7}</td>
</tr>