<table style="width: 630px; font-size: 13pt;">
    <tbody>
        <tr style="width: 240px;text-align: center;">
            <td style="text-align: center; height: 85px;">
                UBND TỈNH VĨNH LONG<br /> <strong style="margin-bottom: 0px;">SỞ LAO ĐỘNG <br /> THƯƠ<u>NG BINH VÀ X</u>Ã HỘI</strong>
            </td>
            <td style="width: 390px;text-align: center;">
                <span><strong>CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM<br /> <u>Độc lập - Tự do - Hạnh phúc</u> </strong></span><br />
                <br />
            </td>
        </tr>
    </tbody>
</table>
<p style="text-align: center; font-size: 13pt;"><strong>:title:</strong></p>
<table style="width: 630px; font-size: 13pt;">
    <tbody>
        <tr style="text-align: center;">
            <td style="width:5%;border:solid 1px;border-right:none;"><strong>STT</strong></td>
            <td style="width:30%;border:solid 1px;border-right:none;"><strong>HỌ VÀ TÊN</strong></td>
            <td style="width:5%;border:solid 1px;border-right:none;"><strong>NĂM SINH</strong></td>
            <td style="width:15%;border:solid 1px;border-right:none;"><strong>SỐ CMND, NGÀY CẤP, NƠI CẤP</strong></td>
            <td style="width:20%;border:solid 1px;border-right:none;"><strong>TRÚ QUÁN</strong></td>
            <td style="width:20%;border:solid 1px;border-right:none;"><strong>BỆNH TẬT</strong></td>
            <td style="width:5%;border:solid 1px;"><strong>GHI CHÚ</strong></td>
        </tr>
        :list:
    </tbody>
</table>
<br>
<table style="width: 630px; font-size: 13pt;">
    <tbody>
        <tr style="height: 35px;">
            <td style="height: 35px;text-align: center;">
                <p><strong>LẬP BẢNG</strong></p>
                <p> </p>
                <p> </p>
                <p> </p>
            </td>
            <td style="height: 35px;text-align: center;">
                <p><strong>T.TÂM GĐYK <br /> TỈNH VĨNH LONG <br/> GIÁM ĐỐC</strong></p>
                <p> </p>
                <p> </p>
            </td>
            <td style="height: 35px; text-align: center;">
                <p><strong>SỞ LAO ĐỘNG - TBXH <br /> TỈNH VĨNH LONG <br/> GIÁM ĐỐC  </strong></p>
                <p> </p>
                <p> </p>
            </td>
        </tr>
    </tbody>
</table>
^
<tr>
    <td style="width:5%;border:solid 1px;border-right:none; border-top: none">{0}</td>
    <td style="width:30%;border:solid 1px;border-right:none; border-top: none">{1}</td>
    <td style="width:5%;border:solid 1px;border-right:none; border-top: none">{2}</td>
    <td style="width:15%;border:solid 1px;border-right:none; border-top: none">{3}</td>
    <td style="width:20%;border:solid 1px;border-right:none; border-top: none">{4}</td>
    <td style="width:20%;border:solid 1px;border-right:none; border-top: none">{5}</td>
    <td style="width:5%;border:solid 1px;border-top: none">{6}</td>
</tr>