<table style="width: 950px; font-size: 13pt">
    <tbody>
        <tr style="width: 350px;text-align: center;">
            <td style="text-align: center; height: 85px;">
                :huyen:<br />
            </td>
            <td style="width: 600px;text-align: center;">
                <span><strong>CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM<br /> <u>Độc lập - Tự do - Hạnh phúc</u> </strong></span><br />
				<br />
			</td>
        </tr>
    </tbody>
</table>
<p style="text-align: center;"><strong>DANNH SÁCH ĐỀ NGHỊ GIẢI QUYẾT TRỢ CẤP THỜ CÚNG</strong></p>
<table style="width: 950px; font-size: 10pt">
    <tbody>
        <tr style="text-align: center;">
            <td style="width:1px;border:solid 1px;border-right:none;"><strong>STT</strong></td>
            <td style="width:209px;border:solid 1px;border-right:none;"><strong>Họ tên liệt sỹ</strong></td>
            <td style="width:1px;border:solid 1px;border-right:none;"><strong>SHS</strong></td>
            <td style="width:1px;border:solid 1px;border-right:none;"><strong>Số bằng TQGC</strong></td>
            <td style="width:1px;border:solid 1px;border-right:none;"><strong>Số QĐ</strong></td>
            <td style="width:1px;border:solid 1px;border-right:none;"><strong>Ngày cấp</strong></td>
            <td style="width:140px;border:solid 1px;border-right:none;"><strong>Họ tên người thờ cúng</strong></td>
            <td style="width:20px;border:solid 1px;border-right:none;"><strong>Năm sinh</strong></td>
            <td style="width:120px;border:solid 1px;border-right:none;"><strong>Nguyên quán</strong></td>
            <td style="width:120px;border:solid 1px;border-right:none;"><strong>Cư trú</strong></td>
            <td style="width:30px;border:solid 1px;border-right:none;"><strong>Số tiền trợ cấp thờ cúng</strong></td>
            <td style="width:70px;border:solid 1px;border-right:none;"><strong>Thời gian thực hiện chế độ trợ cấp thờ cúng liệt sĩ kể từ</strong></td>
            <td style="width:140px;border:solid 1px;border-right:none;" ><strong>Tên người thờ cúng cũ (nếu thay đổi thờ cúng)</strong></td>
            <td style="width:100px;border:solid 1px;"><strong>Ghi chú</strong></td>
        </tr>
        :list:
    </tbody>
</table>
<br>
<table style="width: 950px; font-size: 13pt">
    <tbody>
        <tr style="height: 35px;">
            <td style="height: 35px;text-align: center;">
                <p><br /><strong>NGƯỜI LẬP DANH SÁCH  </strong></p>
                <p> </p>
                <p> </p>
                <p> </p>
            </td>
            <td style="height: 35px; text-align: center;">
                <p><strong>:ngay:</strong><br> <strong style="padding-top: 1px;">:footer:</strong> </p>
                <p> </p>
                <p> </p>
                <p> </p>
            </td>
        </tr>
    </tbody>
</table>
^
<tr>
    <td style="width:1px;border:solid 1px;border-right:none; border-top: none">{0}</td>
    <td style="width:209px;border:solid 1px;border-right:none; border-top: none">{1}</td>
    <td style="width:1px;border:solid 1px;border-right:none; border-top: none">{2}</td>
    <td style="width:1px;border:solid 1px;border-right:none; border-top: none">{3}</td>
    <td style="width:1px;border:solid 1px;border-right:none; border-top: none">{4}</td>
    <td style="width:1px;border:solid 1px;border-right:none; border-top: none">{5}</td>
    <td style="width:140px;border:solid 1px;border-right:none; border-top: none">{6}</td>
    <td style="width:20px;border:solid 1px;border-right:none; border-top: none">{7}</td>
    <td style="width:120px;border:solid 1px;border-right:none; border-top: none">{8}</td>
    <td style="width:120px;border:solid 1px;border-right:none; border-top: none">{9}</td>
    <td style="width:30px;border:solid 1px;border-right:none; border-top: none">{10}</td>
    <td style="width:70px;border:solid 1px;border-right:none; border-top: none">{11}</td>
    <td style="width:140px;border:solid 1px;border-right:none; border-top: none">{12}</td>
    <td style="width:100px;border:solid 1px;border-top: none">{13}</td>
</tr>