<table>
    <tbody>
        <tr>
            <td width="92">
                <p><strong>Từ tháng, năm</strong></p>
            </td>
            <td width="104">
                <p><strong>Đến tháng, năm</strong></p>
            </td>
            <td width="104">
                <p><strong>Cấp bậc, Chức vụ</strong></p>
            </td>
            <td width="132">
                <p><strong>Đơn vị (c, d, e, f)</strong></p>
            </td>
            <td width="310">
                <p><strong>Địa bàn hoạt động</strong></p>
            </td>
        </tr>
        {0}
    </tbody>
</table>
^
<tr>
    <td width="92">
        <p><strong>{0} </strong></p>
    </td>
    <td width="104">
        <p><strong> {1}</strong></p>
    </td>
    <td width="104">
        <p><strong>{2} </strong></p>
    </td>
    <td width="132">
        <p><strong>{3} </strong></p>
    </td>
    <td width="310">
        <p><strong>{4} </strong></p>
    </td>
</tr>
^
<tr>
    <td colspan="5" width="742">
        <p><strong>Tổng thời gian được tính hưởng chế độ một lần:</strong> {0} năm {1} tháng</p>
    </td>
</tr>