<div class="custom-font-size">
    <table width="700px">
        <tbody>
            <tr style="height: 85px;">
                <td style="text-align: center; height: 85px;width:268px">
                    <span>SỞ LAO ĐỘNG<br /> THƯƠNG BINH VÀ XÃ HỘI <br /><strong>PHÒNG NGƯỜI CÓ CÔNG</strong></span><br />
                    <table width="120px" style="display:inline-block;"><tr><th style="width:120px; border:solid 1px;border-right: none;border-left: none;border-bottom: none"></th></tr></table>
                </td>
                <td style="text-align: center; height: 85px;width:432px">
                    <strong>CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</strong><br /> <strong>Độc lập – Tự do – Hạnh phúc</strong><br />
                    <table width="160px" style="display:inline-block;"><tr><th style="width:160px; border:solid 1px;border-right: none;border-left: none;border-bottom: none"></th></tr></table>
                </td>
            </tr>
            <tr style="height: 13px;">
                <td style="text-align: center; height: 13px;"> </td>
                <td style="text-align: right; height: 13px;"><em>Vĩnh Long, :ngay_tao_NTN:</em></td>
            </tr>
            <tr style="height: 23px;">
                <td style="text-align: center; font-size: 14pt; height: 23px;" colspan="2"><strong>PHIẾU HƯỚNG DẪN HOÀN THIỆN HỒ SƠ</strong></td>
            </tr>
        </tbody>
    </table>
    <div style="width: 700px;">
        <p style="text-align: center;">Kính gởi: Phòng Lao động - Thương binh và Xã hội :huyen:</p>
        <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nội dung yêu cầu giải quyết: :NoiDung:<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Họ và tên: Hồ sơ của :HoTen:<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Địa chỉ: :DiaChi:<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Số điện thoại: :SDT1:<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <strong>Yêu cầu hoàn thiện hồ sơ gồm những nội dung sau:</strong><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        :MoTa:<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Trong quá trình hoàn thiện hồ sơ nếu có vướng mắc, Phòng Lao động liên hệ cán bộ phụ trách số điện thoại :SDT: để được hướng dẫn. Đề nghị huyện không đưa phiếu hướng dẫn này cho đối tượng và kèm theo phiếu hướng dẫn khi trình lại hồ sơ./.</div>
    </div>
    <table width="700px">
        <tbody>
            <tr>
                <td style="font-size: 11pt;" width="310"> </td>
                <td style="text-align: center;" width="310">
                    <p><strong>NGƯỜI HƯỚNG DẪN</strong><br /><br /></p>
                    <p> </p>
                    <p><strong>:nguoi_tao:</strong></p>
                </td>
            </tr>
        </tbody>
    </table>
</div>