<p style="text-align: right;"><strong>Mẫu HS7</strong></p>
<table>
    <tbody>
        <tr style="height: 61px;">
            <td style="height: 61px; text-align: center;" width="223">
                <p><strong><br /> TÊN CƠ QUAN, ĐƠN VỊ :Tinh_TP:<br /> --------</strong></p>
            </td>
            <td style="height: 61px; text-align: center;" width="375">
                <p><strong>CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM<br /> Độc lập - Tự do - Hạnh phúc<br /> ----------------</strong></p>
            </td>
        </tr>
        <tr style="height: 35px;">
            <td style="height: 35px; text-align: center;" width="223">
                <p>Số: :SoQuyetDinh:</p>
            </td>
            <td style="height: 35px; text-align: center;" width="375">
                <p><em>:Tinh_TP:, :NgayHieuLuc_NTN:</em></p>
            </td>
        </tr>
    </tbody>
</table>
$
<p style="text-align: center;"><strong>PHIẾU BÁO DI CHUYỂN HỒ SƠ :DoiTuong:</strong></p>
<p style="text-align: center;"><strong>Kính gửi:</strong> …………………………………</p>
<p>:ChuyenFrom: di chuyển hồ sơ của ông/bà: :HoTen:</p>
<p>Sinh: :NgaySinh_NTN: Nam/nữ :GioiTinh:</p>
<p>Nguyên quán: :NguyenQuan:</p>
<p>Nay chuyển đến cư trú tại: :DiaChi: </p>
<p>Số hồ sơ: :SoHoSo:</p>
<p>Các giấy tờ trong hồ sơ: :strGiayTo:</p>
<p>Ông/bà :HoTen: đã nhận trợ cấp, phụ cấp hàng tháng đến hết :NgayTroCap_NTN::</p>
<p>Trợ cấp: :TienTroCap: đồng</p>
<p>Phụ cấp: :TienPhuCap: đồng</p>
<p>Cộng = :TongTroPhuCap: đồng</p>
<p>Các chế độ ưu đãi khác đã được giải quyết như sau:</p>
<p>…………………………………………………………………………………………..</p>
<p>Đề nghị Sở Lao động - Thương binh và Xã hội tỉnh, thành phố: :ChuyenTo: tiếp nhận và thực hiện chế độ ưu đãi đối với ông/bà: :HoTen: kể từ :ChuyenDate:/.</p>
<p> </p>
<table>
    <tbody>
        <tr>
            <td width="295">
                <p><strong><em> </em></strong></p>
                <p><strong><em>Nơi nhận:<br /> </em></strong>- Như trên;<br /> - Cục NCC;<br /> - Ông/bà HoTen (để biết)<br /> - Lưu</p>
            </td>
            <td width="295">
                <p style="text-align: center;"><em>…., ngày   tháng   năm   </em><strong><br /> THỦ TRƯỞNG CƠ QUAN, ĐƠN VỊ<br /> </strong><em>(Chữ ký, dấu)<br /> </em><strong>Họ và tên</strong></p>
            </td>
        </tr>
    </tbody>
</table>
<p><strong><em>Ghi chú:</em></strong></p>
<p>(1) Loại hồ sơ</p>
<p>(2) Tên cơ quan, đơn vị chuyển hồ sơ</p>
<p>(3) Liệt kê các loại giấy tờ có trong hồ sơ.</p>