<table border="1">
    <tbody>
        <tr>
            <td width="43">
                <p>Số TT</p>
            </td>
            <td width="140">
                <p>Họ và tên</p>
            </td>
            <td width="122">
                <p>Năm sinh</p>
            </td>
            <td width="97">
                <p>Quan hệ với liệt sĩ</p>
            </td>
            <td width="194">
                <p>Chỗ ở hiện nay</p>
            </td>
        </tr>
        {0}
    </tbody>
</table>
^
<tr>
    <td width="43">{0}</td>
    <td width="140">{1}</td>
    <td width="122">{2}</td>
    <td width="97">{3}</td>
    <td width="194">{4}</td>
</tr>
