<div class="btn-close-container">
	<button class="btn-close" type="button" mat-mini-fab color="" (click)="closeDialog()" [disabled]="disabledBtn" title="Đóng">
		<mat-icon>clear</mat-icon>
	</button>
</div>
<div class="kt-portlet" [ngClass]="{ 'kt-portlet--body-progress kt-portlet--body-progress-overlay' : viewLoading }">
	<div class="kt-portlet__head kt-portlet__head__custom">

		<div class="col-md-{{isZoomSize ? '9' : '7'}} kt-margin-bottom-10-mobile"
			 style="margin-top: 20px;">
			<h3 class="kt-portlet__head-title">Chọn vai trò</h3>
		</div>
		<div class="col-md-{{isZoomSize ? '3' : '5'}} kt-margin-bottom-10-mobile" style="margin-top: 10px; text-align: right;">
			<button style="padding: 0px 20px;" type="button" mat-raised-button color="primary" (click)="onSubmit()" *ngIf="multi">
				<!--<mat-icon  style="margin-top: 2%" class="mat-Icon-update">check_circle</mat-icon>-->
				Lưu
			</button>&nbsp;
			<!--<button style="padding: 0px 10px;" type="button" color="accent" mat-raised-button (click)="resizeDialog()">
				{{isZoomSize ? 'Thu nhỏ' : 'Phóng to'}}
			</button>-->
		</div>
	</div>
	<!-- end::Header -->
	<kt-portlet-body>
		<div class="kt-portlet__body-progress">
			<mat-spinner [diameter]="20"></mat-spinner>
		</div>
		<!-- start::FILTERS -->
		<div class="kt-form__filtration">
			<div class="row align-items-center">
				<div class="col-md-6 kt-margin-bottom-10-mobile">
					<mat-form-field class="mat-form-field-fluid">
						<input matInput placeholder="Mã" [(ngModel)]="Ma" type="text" (ngModelChange)="loadVaiTro(true)">
					</mat-form-field>
				</div>
				<div class="col-md-6 kt-margin-bottom-10-mobile" hidden>
					<m-dropdown-tree [data]="datatree" [FieldTitle]="'title'" [FieldId]="'id'" [FieldChildren]="'data'" [DropdownTitle]="'Đơn vị'" (SelectedItemTree)="GetValueNode($event)" [formControl]="donvi" [disabled]="disabledDV"></m-dropdown-tree>
				</div>
			</div>
		</div>
		<!-- end::FILTERS -->
		<!-- MATERIAL TABLE | Binded to datasources -->
		<div class="mat-table__wrapper" style="overflow-x:auto">
			<!-- Checkbox Column -->
			<table mat-table class="lmat-elevation-z8" #table [dataSource]="dataSource" matSort #sort1="matSort" matSortActive="GroupName" matSortDirection="asc" matSortDisableClear cdkDropListGroup style="min-width:auto;">
				<ng-container matColumnDef="select" *ngIf="multi">
					<th mat-header-cell *matHeaderCellDef class="mat-column-checkbox" style="padding-right: 20px;">
						<mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()" [color]="'primary'">
						</mat-checkbox>
					</th>
					<td mat-cell *matCellDef="let row" class="mat-column-checkbox" style="padding-right: 20px;">
						<mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)" [color]="'primary'">
						</mat-checkbox>
					</td>
				</ng-container>

				<ng-container matColumnDef="STT">
					<th mat-header-cell *matHeaderCellDef class="stt-cell">STT</th>
					<td mat-cell class="stt-cell" *matCellDef="let item;let i=index">
						{{i + 1}}
					</td>
				</ng-container>
				<ng-container matColumnDef="GroupName">
					<th mat-header-cell *matHeaderCellDef matSortHeader>
						Tên vai trò
					</th>
					<td mat-cell class="m--padding-10" *matCellDef="let item">
						{{item.GroupName}}
					</td>
				</ng-container>
				<ng-container matColumnDef="Ma">
					<th mat-header-cell *matHeaderCellDef matSortHeader>
						Mã vai trò
					</th>
					<td mat-cell class="m--padding-10" *matCellDef="let item">
						{{item.Ma}}
					</td>
				</ng-container>
				<!--<ng-container matColumnDef="DonVi" matSortHeader>
					<th mat-header-cell *matHeaderCellDef>
						Đơn vị
					</th>
					<td mat-cell class="m--padding-10" *matCellDef="let item">
						{{item.DonVi}}
					</td>
				</ng-container>-->
				<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
				<tr mat-row *matRowDef="let row; columns: displayedColumns" style="cursor:pointer" (click)="select(row)"></tr>
			</table>
			<div class="mat-table__message" *ngIf="!dataSource.hasItems">{{'COMMON.NO_RECORD_FOUND'|translate}}</div>
		</div>

		<!-- start: BOTTOM -->
		<div class="mat-table__bottom exist-flt" >
			<div class="flt-page">
				<mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
				<mat-paginator [pageSize]="10" [pageSizeOptions]="[5,10,20]" [length]="dataSource.paginatorTotal$ | async" [showFirstLastButtons]="true"></mat-paginator>
			</div>
		</div>
		<!-- end: BOTTOM -->
	</kt-portlet-body>
	<!-- end::Body -->
</div>

