<style>
	::ng-deep .no-margin p {
		margin: 0;
	}
</style>
<div class="btn-close-container">
	<button class="btn-close" type="button" mat-mini-fab color="" (click)="close()" [disabled]="disabledBtn" title="Đóng">
		<mat-icon>clear</mat-icon>
	</button>
</div>
<div class="kt-portlet" [ngClass]="{ 'kt-portlet--body-progress' : viewLoading, 'kt-portlet--body-progress-overlay' : loadingAfterSubmit }">
	<div class="kt-portlet__head kt-portlet__head__custom">
		<div class="col-md-{{item.Id == 0 ? (isZoomSize ? '7' : '5') : (isZoomSize ? '9' : '7')}} kt-margin-bottom-10-mobile"
			 style="margin-top: 20px;">
			<h3 class="kt-portlet__head-title">{{getTitle()}}</h3>
		</div>
		<div class="col-md-{{item.Id == 0 ? (isZoomSize ? '5' : '7') : (isZoomSize ? '3' : '5')}} kt-margin-bottom-10-mobile" style="margin-top: 10px; text-align: right;">

			<button class="show-view-sm float-right" mat-raised-button [matMenuTriggerFor]="chucnang" color="primary">
				Chức năng
			</button>
			<mat-menu #chucnang="matMenu">
				<ng-container *ngIf="allowEdit">
					<button mat-menu-item type="button" color="accent" (click)="onSubmit(true)" [disabled]="disabledBtn" matTooltip="{{'COMMON.LUU_DONG' | translate}}">
						<span translate="COMMON.LUU_DONG"></span>&nbsp;&nbsp;<div *ngIf="disabledBtn" class="spinner-button-pad"></div>
					</button>
					<button mat-menu-item color="primary" (click)="onSubmit(false)" [disabled]="disabledBtn" *ngIf="item.Id == 0" matTooltip="{{'COMMON.LUU_THEMMOI' | translate}}">
						<span translate="COMMON.LUU_TIEPTUC"></span>&nbsp;&nbsp;<div *ngIf="disabledBtn" class="spinner-button-pad"></div>
					</button>
				</ng-container>
			</mat-menu>

			<div class="hide-view-sm">
				<ng-container *ngIf="allowEdit">
					<button type="button" mat-raised-button color="accent" (click)="onSubmit(true)" [disabled]="disabledBtn" matTooltip="{{'COMMON.LUU_DONG' | translate}}">
						<span translate="COMMON.LUU_DONG"></span>&nbsp;&nbsp;<div *ngIf="disabledBtn" class="spinner-button-pad"></div>
					</button>
					<button mat-raised-button color="primary" (click)="onSubmit(false)" [disabled]="disabledBtn" *ngIf="item.Id == 0" matTooltip="{{'COMMON.LUU_THEMMOI' | translate}}">
						<span translate="COMMON.LUU_TIEPTUC"></span>&nbsp;&nbsp;<div *ngIf="disabledBtn" class="spinner-button-pad"></div>
					</button>
				</ng-container>
			</div>

		</div>
	</div>
	<form class="kt-form" [formGroup]="itemForm">
		<div class="kt-portlet__body">
			<div class="row">
				<div class="col-lg-{{isZoomSize?8:12}}">
					<div class="row">
						<div class="col-lg-6 m--margin-bottom-20-mobile">
							<mat-form-field class="mat-form-field-fluid ">
								<input matInput placeholder="Hướng dẫn" formControlName="TenHuongDan" class="require" required #focusInput />
								<mat-error *ngIf="itemForm.controls['TenHuongDan'].errors">
									Hướng dẫn
									<strong> bắt buộc nhập</strong>
								</mat-error>
							</mat-form-field>
						</div>
						<div class="col-lg-2 m--margin-bottom-20-mobile" style="padding-top: 20px;" [hidden]="!allowEdit">
							<mat-checkbox formControlName="IsUp" [disabled]="Id==0">
								<span *ngIf="Id==0">Thêm file</span>
								<span *ngIf="Id!=0">Cập nhật file mới</span>
							</mat-checkbox>
						</div>
						<div class="col-md-6 kt-margin-bottom-10-mobile" [hidden]="!itemForm.controls['IsUp'].value">
							<dl-image-control formControlName="fileDinhKem" nameButton="Chọn file nội dung" [multiple]="false" [disabled]="!allowEdit" type=".docx">
							</dl-image-control>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
