<style>
	.red {
		color: red;
	}
</style>
<kt-portlet [options]="{headLarge: true}" [ngClass]="{ 'kt-portlet--body-progress' : viewLoading}">
	<mat-progress-bar mode="indeterminate"></mat-progress-bar>
	<kt-portlet-header [sticky]="true" [title]="_name" [class]="'kt-portlet__head--lg'" [viewLoading$]="loading$">
		<ng-container ktPortletTools>
			<!--<button (click)="AddWorkplace()" mat-raised-button matTooltip="{{ 'COMMON.CREATE' | translate }}" *ngIf="chucvuService1.ReadOnlyControl" color="accent" type="button">
				<span translate="COMMON.CREATE"></span>
			</button>-->
		</ng-container>
	</kt-portlet-header>
	<div class="kt-portlet-body overflow-auto">
		<div class="row">
			<div class="col-lg-12 m--margin-bottom-20-mobile">
				<cdk-tree [dataSource]="dataSource" [treeControl]="treeControl" class="dl-tree-dropdown">
					<cdk-nested-tree-node *cdkTreeNodeDef="let node" class="example-tree-node">
						<div class="dl-cover-tree-node">
							<div class="dl-name-node">
								<div class="name-txt">
									<div class="cover-drag-item" [id]="node.ID" draggable="true"
										(dragstart)="handleDragStart($event, node);"
										(dragover)="handleDragOver($event, node);" (drop)="handleDrop($event, node);"
										(dragend)="handleDragEnd($event);">
										<!-- <span dndHandle class="flaticon-more-v5"></span>   -->
										<span style="padding-left: 5px;" [ngClass]="{'drop-above': dragNodeExpandOverArea === 'above' && dragNodeExpandOverNode === node,
                                            'drop-below': dragNodeExpandOverArea === 'below' && dragNodeExpandOverNode === node,
                                            'drop-center': dragNodeExpandOverArea === 'center' && dragNodeExpandOverNode === node,
                                            'selected-node' : __selectedNode === node
                                        }" innerHTML='{{node.Name}}'></span>
										<button mat-icon-button *ngIf="Visible" [matMenuTriggerFor]="menu">
											<mat-icon>more_vert</mat-icon>
										</button>
									</div>
									<!-- <span (click)="selectedItem(node)" [id]="node.RowID" [ngClass]="{'drop-above': dragNodeExpandOverArea === 'above' && dragNodeExpandOverNode === node,
									'drop-below': dragNodeExpandOverArea === 'below' && dragNodeExpandOverNode === node,
									'drop-center': dragNodeExpandOverArea === 'center' && dragNodeExpandOverNode === node,
									'selected-node' : __selectedNode === node}" draggable="true" (dragstart)="handleDragStart($event, node);" (dragover)="handleDragOver($event, node);" (drop)="handleDrop($event, node);" (dragend)="handleDragEnd($event);"
										innerHTML='{{node.Name}}' style="padding-left: 5px;"></span> -->

									<mat-menu #menu="matMenu">
										<button mat-menu-item *ngIf="Visible" (click)="addNewItem(node)"
											style="color: blue">
											<mat-icon style="color: darkgreen !important;">add</mat-icon>
											<span>
												<span style="font-size: 9pt; color: darkgreen !important;"
													translate="SO_DO_TO_CHUC.themchucdanhnhohonchucdanhchon"></span>
											</span>
										</button>
										<button mat-menu-item (click)="removeItem(node)" color="warn">
											<mat-icon style="color: red !important;">clear</mat-icon>
											<span>
												<span style="font-size: 9pt; color: red !important;"
													translate="SO_DO_TO_CHUC.xoachucdanhchon"></span>
											</span>
										</button>
										<button mat-menu-item (click)="CapNhatThongTinChucVu(node.ID)" color="primary">
											<mat-icon style="color: darkorange !important;">create</mat-icon>
											<span>
												<span style="font-size: 9pt; color: darkorange !important;"
													translate="SO_DO_TO_CHUC.capnhatthongtinchucvu"></span>
											</span>
										</button>
										<button mat-menu-item color="accent">
											<mat-icon style="color: darkblue !important;">arrow_forward</mat-icon>
											<a [routerLink]="['./drawchart', node.ID]" mat-icon-button color="accent">
												<span>
													<span style="font-size: 9pt; color: darkblue !important;"
														translate="SO_DO_TO_CHUC.vesodotochuc"></span>
												</span>
											</a>
										</button>
									</mat-menu>
								</div>
							</div>
						</div>
					</cdk-nested-tree-node>
					<cdk-nested-tree-node *cdkTreeNodeDef="let node; when: hasChild" class="example-tree-node">
						<div class="dl-cover-tree-node">
							<div class="dl-name-node">
								<div class="name-txt">
									<div class="cover-drag-item" [id]="node.ID" draggable="true"
										(dragstart)="handleDragStart($event, node);"
										(dragover)="handleDragOver($event, node);" (drop)="handleDrop($event, node);"
										(dragend)="handleDragEnd($event);">
										<button mat-icon-button [attr.aria-label]="'toggle ' + node.Name"
											cdkTreeNodeToggle>
											<img src="/assets/images/_plus.png" *ngIf="!treeControl.isExpanded(node)">
											<img src="/assets/images/_sub.png" *ngIf="treeControl.isExpanded(node)">
										</button>
										<!-- <span dndHandle class="flaticon-more-v5"></span>   -->
										<span style="padding-left: 5px;" [ngClass]="{'drop-above': dragNodeExpandOverArea === 'above' && dragNodeExpandOverNode === node,
                                                'drop-below': dragNodeExpandOverArea === 'below' && dragNodeExpandOverNode === node,
                                                'drop-center': dragNodeExpandOverArea === 'center' && dragNodeExpandOverNode === node,
                                                'selected-node' : __selectedNode === node
                                            }" innerHTML='{{node.Name}}'></span>
										<button mat-icon-button *ngIf="Visible" [matMenuTriggerFor]="menu">
											<mat-icon>more_vert</mat-icon>
										</button>
									</div>

									<!-- <span (click)="selectedItem(node)" [ngClass]="{'drop-above': dragNodeExpandOverArea === 'above' && dragNodeExpandOverNode === node,
									'drop-below': dragNodeExpandOverArea === 'below' && dragNodeExpandOverNode === node,
									'drop-center': dragNodeExpandOverArea === 'center' && dragNodeExpandOverNode === node,
									'selected-node' : __selectedNode === node}" draggable="true" (dragstart)="handleDragStart($event, node);" (dragover)="handleDragOver($event, node);" (drop)="handleDrop($event, node);" (dragend)="handleDragEnd($event);"
										innerHTML='{{node.Name}}' style="padding-left: 5px;"></span> -->
									<!-- <button mat-icon-button *ngIf="Visible" [matMenuTriggerFor]="menu">
										<mat-icon>more_vert</mat-icon>
									</button> -->
									<mat-menu #menu="matMenu">
										<button mat-menu-item *ngIf="Visible" (click)="addNewItem(node)"
											style="color: blue">
											<mat-icon style="color: darkgreen !important;">add</mat-icon>
											<span>
												<span style="font-size: 9pt; color: darkgreen !important;"
													translate="SO_DO_TO_CHUC.themchucdanhnhohonchucdanhchon"></span>
											</span>
										</button>
										<button mat-menu-item (click)="removeItem(node)" color="warn">
											<mat-icon style="color: red !important;">clear</mat-icon>
											<span>
												<span style="font-size: 9pt; color: red !important;"
													translate="SO_DO_TO_CHUC.xoachucdanhchon"></span>
											</span>
										</button>
										<button mat-menu-item (click)="CapNhatThongTinChucVu(node.ID)" color="primary">
											<mat-icon style="color: darkorange !important;">create</mat-icon>
											<span>
												<span style="font-size: 9pt; color: darkorange !important;"
													translate="SO_DO_TO_CHUC.capnhatthongtinchucvu"></span>
											</span>
										</button>
										<button mat-menu-item color="accent">
											<mat-icon style="color: darkblue !important;">arrow_forward</mat-icon>
											<a [routerLink]="['./drawchart', node.ID]" mat-icon-button color="accent">
												<span>
													<span style="font-size: 9pt; color: darkblue !important;"
														translate="SO_DO_TO_CHUC.vesodotochuc"></span>
												</span>
											</a>
										</button>
									</mat-menu>
								</div>
							</div>
						</div>
						<div [class.example-tree-invisible]="!treeControl.isExpanded(node)" class="dl-out-let">
							<ng-container cdkTreeNodeOutlet></ng-container>
						</div>
					</cdk-nested-tree-node>
				</cdk-tree>
			</div>
		</div>
	</div>
</kt-portlet>
