.btn.btn-outline-primary.dl-drop-tree-custom-css {
    color: #5867dd;
    padding-left: 0;
    // margin-right: 12px;
    border: none;
    border-radius: 0;
    // border-color: unset;
    // border-bottom: 1px solid #5867dd;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    background-color: transparent;
    width: 100%;
}

.drop-above {
    border: 1px dashed black;
    border-top: 10px solid transparent;
    margin-top: -10px;
    // top: -15px;
    // background-color: aqua;
    /* position: relative;
  margin: 0;
  padding: 0;
  min-height: 20px;
  line-height: 20px; */
}

.drop-below {
    // top: 10px;
    border-bottom: 10px solid transparent;
    margin-bottom: -10px;
}

// .drop-center {
//     background-color: blue;
//     color: #fff;
// }
.selected-node {
    font-weight: bold;
}

.angular-ui-tree-empty,
.angular-ui-tree-dropzone {
    border: 1px dashed #bbb;
    min-height: 100px;
    background-color: #e5e5e5;
    background-image: -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image: -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image: linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
}

.angular-ui-tree-empty {
    pointer-events: none;
}

.angular-ui-tree-nodes {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn.btn-outline-primary.dl-drop-tree-custom-css .mat-form-field {
    border: none;
}

// .btn-outline-primary.dl-drop-tree-custom-css.focus,
// .btn-outline-primary.dl-drop-tree-custom-css:focus,
// .btn-outline-primary.dl-drop-tree-custom-css:hover,
// .btn.btn-outline-primary.dl-drop-tree-custom-css.active {
// }
.btn.btn-outline-primary.dl-drop-tree-custom-css.active,
.btn.btn-outline-primary.dl-drop-tree-custom-css.focus,
.btn.btn-outline-primary.dl-drop-tree-custom-css:focus,
.btn.btn-outline-primary.dl-drop-tree-custom-css:hover:not(:disabled),
.btn-outline-primary.dl-drop-tree-custom-css:not(:disabled):not(.disabled):active,
.btn-outline-primary.dl-drop-tree-custom-css:not(:disabled):not(.disabled).active,
.show>.btn-outline-primary.dl-drop-tree-custom-css.dropdown-toggle {
    color: #5867dd!important;
    background-color: transparent;
    // border-bottom: 2px solid #5867dd;
}

// .btn.dl-drop-tree-custom-css.dropdown-toggle::after {
//     // display: none;
// }
// .btn.dl-drop-tree-custom-css.dropdown-toggle .mat-form-field::after {
//     position: absolute;
//     right: 10px;
//     top: 50%;
//     width: 0;
//     height: 0;
//     border-left: 5px solid transparent;
//     border-right: 5px solid transparent;
//     border-top: 5px solid;
//     margin: 0 4px;
//     content: "";
//     margin-top: -2.5px;
// }

.btn.dl-drop-tree-custom-css.dropdown-toggle::after {
    display: none;
}

.btn.dl-drop-tree-custom-css.dropdown-toggle .mat-form-field-invalid.mat-form-field::after {
    color: #f4516c;
}

.btn.dl-drop-tree-custom-css.dropdown-toggle {
    .drp-clear {
        color: #000;
        position: absolute;
        right: 18px;
        font-size: 10px;
        top: 50%;
        margin-top: -5px;
        display: none;
    }
    &:hover {
        .drp-clear {
            display: block;
        }
    }
}

.example-tree-invisible {
    display: none;
}

.example-tree ul,
.example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
}

.example-tree-node {
    display: block;
    white-space: nowrap
}

.example-tree-node .example-tree-node {
    padding-left: 40px;
}

.example-tree-node .example-tree-node .dl-out-let {
    background: url(/assets/images/dot.png) repeat-y;
    background-position: 9px;
}

.dl-tree-dropdown .dl-out-let .example-tree-node:last-child .mat-icon-button {
    background-repeat: no-repeat;
}

html .m-body .m-content {
    min-height: 100%;
}

.dl-drop-menu-tree.dropdown-menu {
    padding: 0;
    min-width: 100%;
    border-radius: unset;
}

.dl-tree-dropdown .example-tree-node[aria-expanded='true'] .dl-leaf-node {
    background-position: -34px -4px;
}

.dl-tree-dropdown .dl-out-let .example-tree-node[aria-expanded='true'] .dl-leaf-node {
    background-position: -31px -4px;
}

.dl-tree-dropdown .example-tree-node .dl-name-node .mat-icon-button {
    width: auto;
    height: auto;
    line-height: 30px;
    border-radius: unset;
}

.dl-tree-dropdown .example-tree-node[aria-expanded='false'] .dl-leaf-node {
    background-position: -99px -4px;
}

.dl-tree-dropdown .dl-out-let .example-tree-node .mat-icon-button {
    width: auto;
    height: auto;
    // background: url(/assets/images/light.png) repeat-y top center;
    // line-height: 22px;
}

// .dl-cover-tree-node .mat-icon-button:first-child {
//     background-image: unset;
// }
.dl-tree-dropdown .example-tree-node .dl-leaf-icon {
    background-position: -67px -4px;
    vertical-align: middle;
}

.dl-tree-dropdown .example-tree-node .icon-check {
    color: #0ebb0e;
}

.dl-tree-dropdown .example-tree-node .dl-name-node {
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;
    // padding-right: 20px;
    padding-left: 15px;
    width: 100%;
    background: url(/assets/images/dot.png) repeat-x center;
    margin-left: 9px;
    display: flex;
    position: relative;
}

.dl-tree-dropdown .example-tree-node .dl-name-node .name-txt {
    background: #fff;
    width: 100%;
    padding-right: 15px;
    font-size: 14px;
    line-height: 3em;
}

.dl-tree-dropdown .example-tree-node .dl-cover-tree-node {
    background: url(/assets/images/dot.png) repeat-y;
    display: flex;
    line-height: 30px;
    background-position: 9px;
    cursor: pointer;
}

.dl-tree-dropdown .dl-out-let .example-tree-node:last-child>.dl-cover-tree-node {
    background-image: linear-gradient(to top, white 50%, black 50%);
    background-size: 1px 100%;
}

.dl-tree-dropdown .dl-out-let .example-tree-node:last-child>.dl-cover-tree-node~.dl-out-let {
    background: none;
}

.dl-tree-dropdown .example-tree-node .dl-cover-tree-node.active .dl-name-node .name-txt {
    background-color: #f5f5f5
}

.dl-tree-dropdown .example-tree-node .dl-cover-tree-node.active .dl-name-node {
    color: #5867dd;
}

.dl-tree-dropdown .example-tree-node .dl-cover-tree-node:hover .dl-name-node .name-txt {
    background-color: #f5f5f5
}

.cdk-tree>cdk-nested-tree-node.example-tree-node.cdk-tree-node.cdk-nested-tree-node>.dl-out-let {
    background: url(/assets/images/dot.png) repeat-y;
    background-position: 9px;
}

.cdk-tree>cdk-nested-tree-node.example-tree-node.cdk-tree-node.cdk-nested-tree-node:last-child>.dl-out-let {
    background: none;
}

.cdk-tree>cdk-nested-tree-node.example-tree-node.cdk-tree-node.cdk-nested-tree-node:last-child>.dl-cover-tree-node {
    background-image: linear-gradient(to top, white 50%, black 50%);
    background-size: 1px 100%;
}

.btn.btn-outline-primary.dl-drop-tree-custom-css .input-tree {
    border: none;
    text-overflow: ellipsis;
    outline: none;
    cursor: pointer;
    width: 100%;
    background-color: transparent;
    padding-right: 25px;
}

// .mat-form-field-appearance-legacy.mat-form-field-can-float .mat-input-server:focus + .mat-form-field-label-wrapper .mat-form-field-label, .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
//     -webkit-transform: translateY(-1.28125em) scale(.75) perspective(100px) translateZ(.001px);
//     transform: translateY(-1.28125em) scale(.75) perspective(100px) translateZ(.001px);
//     -ms-transform: translateY(-1.28125em) scale(.75);
//     width: 133.33333333%
// }////
// .dl-tree-dropdown .example-tree-node .dl-name-node .name-txt:hover .cover-drag-item.dl-drag-over {
//     background-color: #f5821f;
//     // color: #fff;
// }
.dl-tree-dropdown .example-tree-node .dl-name-node .name-txt .cover-drag-item.dl-drag-over {
    position: relative;
}

.dl-tree-dropdown .example-tree-node .dl-name-node .name-txt .cover-drag-item.dl-drag-over>span:before {
    content: "\25B6";
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    /*--adjust as necessary--*/
    color: #000;
    font-size: 12px;
    padding-right: 0.5em;
    position: absolute;
    left: -8px;
}

.drop-above:before {
    top: -15px;
}

.drop-below:before {
    top: 10px;
}

.drop-popup .dropdown-tree {
    height: 160px;
}