<table style="width: 630px;">
<tbody>
<tr style="height: 74px;">
<td style="text-align: center; width: 250px; height: 74px;">
<div>&nbsp;UBND TỈNH VĨNH LONG<br /><span style="font-weight: bold;">SỞ LAO ĐỘNG</span> <br /><span style="font-weight: bold;">THƯƠNG BINH V&Agrave; X&Atilde; HỘI</span> <br />:line_120:</div>
</td>
<td style="text-align: center; width: 380px; height: 74px;"><span style="font-weight: bold;">&nbsp;CỘNG H&Ograve;A X&Atilde; HỘI CHỦ NGHĨA VIỆT NAM</span> <br /><span style="font-weight: bold;">Độc lập - Tự do - Hạnh ph&uacute;c</span> <br />:line_160:</td>
</tr>
<tr style="height: 13px;">
<td style="text-align: center; width: 250px; height: 13px;">&nbsp;Số: :SoQuyetDinh:/QĐ SLĐTBXH &nbsp;</td>
<td style="text-align: center; width: 380px; height: 13px;">&nbsp;Vĩnh Long, ng&agrave;y ...:Now_TN:</td>
</tr>
<tr style="height: 13px;">
<td style="width: 630px; height: 13px;" colspan="2">
<p style="text-align: center;"><span style="font-weight: bold;">QUYẾT ĐỊNH</span></p>
<div style="text-align: center;"><strong>Về việc th&ocirc;i trả trợ cấp thương binh h&agrave;ng th&aacute;ng</strong> <br />:line_160:</div>
<p style="text-align: center;"><span style="font-weight: bold;">GI&Aacute;M ĐỐC SỞ LAO ĐỘNG ‑ THƯƠNG BINH V&Agrave; X&Atilde; HỘI</span></p>
<p><em>&nbsp; &nbsp; &nbsp;</em> <span style="background-color: transparent;"> <em>Căn cứ Quyết định số 142/2008/QĐ TTg ng&agrave;y 27/10/2008 của Thủ tướng Ch&iacute;nh phủ; Th&ocirc;ng tư li&ecirc;n tịch số 144/2008/TTLT BQP BLĐTBXH BTC ng&agrave;y 27 th&aacute;ng 11 năm 2008 của Bộ Quốc ph&ograve;ng, Bộ Lao động Thương binh v&agrave; X&atilde; hội, Bộ T&agrave;i ch&iacute;nh về thực hiện chế độ đối với qu&acirc;n nh&acirc;n tham gia kh&aacute;ng chiến chống Mỹ cứu nước c&oacute; dưới 20 năm c&ocirc;ng t&aacute;c trong qu&acirc;n đội đ&atilde; phục vi&ecirc;n, xuất ngũ về địa phương;</em> </span></p>
<p><em>&nbsp; &nbsp; &nbsp;Căn cứ Th&ocirc;ng tư số 138/2018/TT BQP ng&agrave;y 28/8/2018 của&nbsp; Bộ quốc ph&ograve;ng hướng dẫn điều chỉnh trợ cấp h&agrave;ng th&aacute;ng đối với qu&acirc;n nh&acirc;n, người l&agrave;m c&ocirc;ng t&aacute;c cơ yếu hưởng lương như đối với qu&acirc;n nh&acirc;n đ&atilde; phục vi&ecirc;n, xuất ngũ, th&ocirc;i việc;</em></p>
<p><em>&nbsp; &nbsp; &nbsp;Căn cứ Nghị định số 72/2018/NĐ CP ng&agrave;y 15/5/2018 của Ch&iacute;nh phủ về quy định mức lương cơ sở đối với c&aacute;n bộ c&ocirc;ng chức, vi&ecirc;n chức v&agrave; lực lượng vũ trang;</em></p>
<p><em>&nbsp; &nbsp; &nbsp;Căn cứ tr&iacute;ch lục khai tử số&nbsp;:SoGiayTo(1): ng&agrave;y&nbsp;:NgayCap(1): của :NoiCap(1):, khai tử &ocirc;ng (b&agrave;)&nbsp;<span style="font-weight: bold;">:HoTen:</span>&nbsp;đ&atilde; từ trần ng&agrave;y :NgayMat:;</em></p>
<p><em>&nbsp; &nbsp; &nbsp;X&eacute;t hồ sơ hưởng chế độ trợ cấp h&agrave;ng th&aacute;ng theo Quyết định số 142/2008/QĐ TTg&nbsp;&Ocirc;ng (b&agrave;)&nbsp;<span style="font-weight: bold;">:HoTen:</span>, số hồ sơ: :SoHoSo:;</em></p>
<p><em>&nbsp; &nbsp; &nbsp;Theo đề nghị của Trưởng ph&ograve;ng Người c&oacute; c&ocirc;ng.</em></p>
<p style="text-align: center;"><span style="font-weight: bold;">QUYẾT ĐỊNH:</span></p>
<p><span style="font-weight: bold;">Điều 1.</span>&nbsp;Nay th&ocirc;i trả trợ cấp thương binh h&agrave;ng th&aacute;ng của &ocirc;ng (b&agrave;)&nbsp;<span style="font-weight: bold;">:HoTen:</span></p>
<p>‑ Sinh năm:&nbsp;:NamSinh:</p>
<p>‑ Tr&uacute; qu&aacute;n: :DiaChi_Full:.</p>
<p>‑ Kể từ ng&agrave;y: :NgayTroCap:.</p>
<p>‑ Số tiền trợ cấp:&nbsp;<span style="font-weight: bold;">:TienTroCap:</span>&nbsp;đồng.</p>
<p>‑&nbsp;<span style="font-weight: bold;"> <em>(Bằng chữ: :TienTroCap_Chu:)</em> </span>.</p>
<p><span style="font-weight: bold;">Điều 2.</span>&nbsp;Ph&ograve;ng Lao động ‑ Thương binh v&agrave; X&atilde; hội&nbsp;:huyen: c&oacute; tr&aacute;ch nhiệm thu hồi số tiền trợ cấp th&aacute;ng :ThangThuHoi:&nbsp;để nộp lại ng&acirc;n s&aacute;ch Nh&agrave; nước theo quy định.</p>
<span style="font-weight: bold;">Điều 3.</span>&nbsp;C&aacute;c &ocirc;ng (b&agrave;): Ch&aacute;nh văn ph&ograve;ng, Trưởng ph&ograve;ng Người c&oacute; c&ocirc;ng, Trưởng ph&ograve;ng Kế hoạch ‑ T&agrave;i ch&iacute;nh thuộc Sở Lao động ‑ Thương binh v&agrave; X&atilde; hội tỉnh Vĩnh Long, Trưởng ph&ograve;ng Lao động ‑ Thương binh v&agrave; X&atilde; hội :huyen: chịu tr&aacute;ch nhiệm thi h&agrave;nh Quyết định n&agrave;y./.</td>
</tr>
<tr style="height: 13px;">
<td style="width: 250px; height: 13px;">
<p><span style="font-weight: bold;"> <em>Nơi nhận:</em> </span></p>
<p><em>- Như điều 3;</em></p>
<p><em>- Lưu: HS.</em></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</td>
<td style="width: 380px; height: 13px;">
<p style="text-align: center;"><span style="font-weight: bold;">KT GI&Aacute;M ĐỐC</span></p>
<p style="text-align: center;"><span style="font-weight: bold;">PH&Oacute; GI&Aacute;M ĐỐC</span></p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;">&nbsp;</p>
</td>
</tr>
</tbody>
</table>
