<p style="text-align: right;"><strong>Mẫu LS5</strong></p>
<table>
    <tbody>
        <tr>
            <td style="text-align: center;" width="223">
                <p>UBND TỈNH, THÀNH PHỐ Tinh_TP<strong><br /> SỞ LAO ĐỘNG - THƯƠNG BINH VÀ XÃ HỘI<br /> --------</strong></p>
            </td>
            <td style="text-align: center;" width="375">
                <p><strong>CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM<br /> Độc lập - Tự do - Hạnh phúc<br /> ----------------</strong></p>
            </td>
        </tr>
        <tr>
            <td style="text-align: center;" width="223">
                <p>Số: SoQuyetDinh</p>
            </td>
            <td style="text-align: center;" width="375">
                <p><em>Tinh_TP, NgayHieuLuc_NTN</em></p>
                <p style="text-align: right;"><em>Số hồ sơ:SoHoSo </em></p>
            </td>
        </tr>
    </tbody>
</table>
$
<p style="text-align: center;"><strong>QUYẾT ĐỊNH</strong></p>
<p style="text-align: center;"><strong>Về việc cấp giấy chứng nhận gia đình liệt sĩ và trợ cấp ưu đãi</strong></p>
<p style="text-align: center;"><strong>GIÁM ĐỐC SỞ LAO ĐỘNG - THƯƠNG BINH VÀ XÃ HỘI</strong></p>
<p>Căn cứ Nghị định số 31/2013/NĐ-CP ngày 09 tháng 4 năm 2013 của Chính phủ quy định chi tiết, hướng dẫn thi hành một số điều của Pháp lệnh ưu đãi người có công với cách mạng;</p>
<p>Căn cứ Nghị định số ……./NĐ-CP ngày ... tháng ... năm ... của Chính phủ quy định về mức trợ cấp, phụ cấp ưu đãi đối với người có công với cách mạng:</p>
<p>Căn cứ hồ sơ của liệt sĩ: SoHoSo Bằng TQGC số: SoGiayToCC theo Quyết định số NgayCapCC_NTN của Thủ tướng Chính phủ;</p>
<p>Xét đề nghị của Trưởng phòng Người có công,</p>
<p style="text-align: center;"><strong>QUYẾT ĐỊNH:</strong></p>
<p><strong>Điều 1.</strong> Cấp giấy chứng nhận gia đình liệt sĩ và trợ cấp một lần khi báo tử đối với ông (bà) HoTen Mức: …………………………………… đồng.</p>
<p>Sinh NgaySinh_NTN Nam/Nữ: GioiTinh </p>
<p><strong>Điều 2.</strong> Trợ cấp hàng tháng đối với các ông (bà) sau đây:</p>
<table border="1">
    <tbody>
        <tr>
            <td rowspan="2" width="35">
                <p>TT</p>
            </td>
            <td rowspan="2" width="110">
                <p>Họ tên</p>
            </td>
            <td rowspan="2" width="47">
                <p>Năm sinh</p>
            </td>
            <td rowspan="2" width="88">
                <p>Mối quan hệ với liệt sĩ</p>
            </td>
            <td colspan="3" width="225">
                <p>Mức trợ cấp</p>
            </td>
            <td rowspan="2" width="91">
                <p>Thời điểm hưởng</p>
            </td>
        </tr>
        <tr>
            <td width="60">
                <p>Tiền tuất</p>
            </td>
            <td width="96">
                <p>Tuất nuôi dưỡng</p>
            </td>
            <td width="70">
                <p>Tổng cộng</p>
            </td>
        </tr>
        <tr>
            <td width="35">
                <p>1</p>
            </td>
            <td width="110">
                <p> </p>
            </td>
            <td width="47">
                <p> </p>
            </td>
            <td width="88">
                <p> </p>
            </td>
            <td width="60">
                <p> </p>
            </td>
            <td width="96">
                <p> </p>
            </td>
            <td width="70">
                <p> </p>
            </td>
            <td width="91">
                <p> </p>
            </td>
        </tr>
        <tr>
            <td width="35">
                <p>2</p>
            </td>
            <td width="110">
                <p> </p>
            </td>
            <td width="47">
                <p> </p>
            </td>
            <td width="88">
                <p> </p>
            </td>
            <td width="60">
                <p> </p>
            </td>
            <td width="96">
                <p> </p>
            </td>
            <td width="70">
                <p> </p>
            </td>
            <td width="91">
                <p> </p>
            </td>
        </tr>
        <tr>
            <td width="35">
                <p>3</p>
            </td>
            <td width="110">
                <p> </p>
            </td>
            <td width="47">
                <p> </p>
            </td>
            <td width="88">
                <p> </p>
            </td>
            <td width="60">
                <p> </p>
            </td>
            <td width="96">
                <p> </p>
            </td>
            <td width="70">
                <p> </p>
            </td>
            <td width="91">
                <p> </p>
            </td>
        </tr>
    </tbody>
</table>
<p>Trợ cấp truy lĩnh (*) ……………………..</p>
<p><strong>Điều 3.</strong> Các ông (bà) Trưởng phòng Người có công, Trưởng phòng Kế hoạch Tài chính, Trưởng phòng Lao động - Thương binh và Xã hội Tinh_TP và ông (bà) HoTen chịu trách nhiệm thi hành Quyết định này./.</p>
<p> </p>
<table>
    <tbody>
        <tr>
            <td width="295">
                <p><strong><em> </em></strong></p>
                <p><strong><em>Nơi nhận:<br /> </em></strong>- Như điều 3;<br /> - Cục NCC-Bộ LĐTBXH;<br /> - ….;<br /> - Lưu .</p>
            </td>
            <td width="295">
                <p style="text-align: center;"><strong>GIÁM ĐỐC<br /> </strong><em>(Chữ ký, dấu)<br /> </em><strong>Họ và tên</strong></p>
            </td>
        </tr>
    </tbody>
</table>
<p><strong><em>Ghi chú: </em></strong>(*) ghi rõ họ tên người được hưởng trợ cấp truy lĩnh, thời gian hưởng, số tiền hưởng theo quy định tại từng thời điểm, tổng số tiền.</p>