<p style="text-align: right;"><strong>Mẫu BM3</strong></p>
<table style="width: 614px;">
    <tbody>
        <tr>
            <td style="text-align: center; width: 223px;">
                <p>UBND TỈNH, THÀNH PHỐ :Tinh_TP:<strong><br /> SỞ LAO ĐỘNG - THƯƠNG BINH VÀ XÃ HỘI<br /> --------</strong></p>
            </td>
            <td style="text-align: center; width: 375px;">
                <p><strong>CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM<br /> Độc lập - Tự do - Hạnh phúc<br /> ----------------</strong></p>
            </td>
        </tr>
        <tr>
            <td style="text-align: center; width: 223px;">
                <p>Số: :SoQuyetDinh:</p>
            </td>
            <td style="text-align: center; width: 375px;">
                <p><em>:Tinh_TP:, :NgayHieuLuc_NTN:</em></p>
            </td>
        </tr>
    </tbody>
</table>
$
<p><strong> </strong></p>
<p style="text-align: center;"><strong>QUYẾT ĐỊNH</strong></p>
<p style="text-align: center;"><strong>Về việc phụ cấp hàng tháng và trợ cấp người phục vụ Bà mẹ Việt Nam anh hùng</strong></p>
<p style="text-align: center;"><strong>GIÁM ĐỐC SỞ LAO ĐỘNG - THƯƠNG BINH VÀ XÃ HỘI</strong></p>
<p>Căn cứ Nghị định số 31/2013/NĐ-CP ngày 09 tháng 4 năm 2013 của Chính phủ quy định chi tiết, hướng dẫn thi hành một số điều của Pháp lệnh ưu đãi người có công với cách mạng;</p>
<p>Căn cứ Nghị định số ……./NĐ-CP ngày ... tháng ... năm ... của Chính phủ quy định về mức trợ cấp, phụ cấp ưu đãi đối với người có công với cách mạng;</p>
<p>Căn cứ Quyết định số ....ngày ... tháng ... năm ... của Chủ tịch nước về việc phong tặng danh hiệu vinh dự Nhà nước Bà mẹ Việt Nam anh hùng;</p>
<p>Xét đề nghị của Trưởng phòng Người có công,</p>
<p style="text-align: center;"><strong>QUYẾT ĐỊNH:</strong></p>
<p><strong>Điều 1.</strong> Phụ cấp hàng tháng và trợ cấp người phục vụ kể từ :NgayTroCap_NTN: đối với Bà mẹ Việt Nam anh hùng: :HoTen:</p>
<p>Sinh: :NgaySinh_NTN:</p>
<p>Nguyên quán: :NguyenQuan:</p>
<p>Trú quán: :DiaChi:</p>
<p>Mức phụ cấp :TienPhuCap: đồng/tháng</p>
<p>Trợ cấp người phục vụ: :TienTroCap: đồng/tháng</p>
<p>Cộng: :TongTroPhuCap: đồng/tháng</p>
<p>(Bằng chữ: :TongTroPhuCap_Chu:)</p>
<p>Phụ cấp, trợ cấp người phục vụ truy lĩnh (từ :TruyLinh_From_NTN: đến :TruyLinh_From_NTN:) = :TongTruyLinh: đồng</p>
<p>(Bằng chữ: :TongTruyLinh_Chu:)</p>
<p><strong>Điều 2.</strong> Các ông (bà) Trưởng phòng Người có công, Trưởng phòng Kế hoạch Tài chính, Trưởng phòng Lao động - Thương binh và Xã hội :Tinh_TP: và bà :HoTen: chịu trách nhiệm thi hành Quyết định này./.</p>
<p> </p>
<table>
    <tbody>
        <tr>
            <td width="295">
                <p><strong><em> </em></strong></p>
                <p><strong><em>Nơi nhận:<br /> </em></strong>- Như điều 2;<br /> - Cục NCC-Bộ LĐTBXH;<br /> - ….;<br /> - Lưu .</p>
            </td>
            <td width="295">
                <p style="text-align: right;"><strong>GIÁM ĐỐC<br /> </strong><em>(Chữ ký, dấu)<br /> </em><strong>Họ và tên</strong></p>
            </td>
        </tr>
    </tbody>
</table>