<p style="text-align: right;"><strong>MẪU TĐ3</strong></p>
<p style="text-align: center;"><strong>CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM<br /> Độc lập - Tự do - Hạnh phúc<br /> ----------------</strong></p>
<p> </p>
$
<p style="text-align: center;"><strong>BẢN KHAI CÁ NHÂN</strong></p>
<p style="text-align: center;"><strong>Dùng cho thân nhân người hoạt động cách mạng, hoạt động kháng chiến bị địch bắt tù, đày</strong></p>
<p><strong>Phần khai về người hoạt động cách mạng, hoạt động kháng chiến bị địch bắt tù, đày</strong></p>
<p>Họ và tên: :HoTen: </p>
<p>Sinh: :NgaySinh: Năm: :NamSinh: Nam/Nữ: :GioiTinh:</span></p>
<p>Nguyên quán: :NguyenQuan:</p>
<p>Trú quán: :TruQuan:</p>
<p>Quá trình tham gia hoạt động cách mạng</p>
<table>
    <tbody>
        <tr>
            <td width="205">
                <p><strong>Thời gian</strong></p>
            </td>
            <td width="147">
                <p><strong>Đơn vị</strong></p>
            </td>
            <td width="192">
                <p><strong>Cấp bậc, chức vụ</strong></p>
            </td>
            <td width="201">
                <p><strong>Địa bàn hoạt động</strong></p>
            </td>
        </tr>
        <tr>
            <td width="205">
                <p>Từ tháng .... năm ..<br> đến tháng ... năm ..</p>
            </td>
            <td width="147">
                <p>&nbsp;</p>
            </td>
            <td width="192">
                <p>&nbsp;</p>
            </td>
            <td width="201">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td width="205">
                <p>..</p>
            </td>
            <td width="147">&nbsp;</td>
            <td width="192">&nbsp;</td>
            <td width="201">&nbsp;</td>
        </tr>
    </tbody>
</table>
<p>Quá trình bị địch bắt tù, đày</p>
<table>
    <tbody>
        <tr>
            <td width="103">&nbsp;</td>
            <td width="265">
                <p><strong>Thời gian bị tù, đày</strong></p>
            </td>
            <td width="165">
                <p><strong>Nơi bị tù, đày</strong></p>
            </td>
            <td width="212">
                <p><strong>Đơn vị hoạt động trước khi bị tù, đày</strong></p>
            </td>
        </tr>
        <tr>
            <td width="103">
                <p>Lần 1</p>
            </td>
            <td width="265">
                <p>Từ tháng ... năm đến tháng ... năm ...</p>
            </td>
            <td width="165">&nbsp;</td>
            <td width="212">&nbsp;</td>
        </tr>
        <tr>
            <td width="103">
                <p>Lần 2</p>
            </td>
            <td width="265">
                <p>....</p>
            </td>
            <td width="165">&nbsp;</td>
            <td width="212">&nbsp;</td>
        </tr>
    </tbody>
</table>
<p><strong>2. Phần khai của thân nhân</strong></p>
<p>Họ và tên: .................</p>
<p>Sinh ngày ... tháng ... năm ......... Nam/Nữ: .....</p>
<p>Nguyên quán: ............................................................................</p>
<p>Trú quán: ................................................................................</p>
<p>Là ..(*)... người hoạt động cách mạng bị địch bắt tù, đày:</p>
<p>&nbsp;</p>
<table>
    <tbody>
        <tr>
            <td width="373">
                <p><em>.... ngày... tháng... năm...</em></p>
                <p>Xác nhận của xã, phường .........</p>
                <p>Ông (bà)................hiện cư trú tại ........................</p>
                <p style="text-align: center;"><strong>TM. UBND<br> Quyền hạn, chức vụ người ký<br> </strong> <em>(Chữ ký, dấu)<br> </em><strong>Họ và tên</strong></p>
            </td>
            <td width="373">
                <p style="text-align: center;"><em>.... ngày ... tháng ... năm ...<br> </em><strong>Người khai<br> </strong><em>(Ký, ghi rõ họ và tên)</em></p>
            </td>
        </tr>
    </tbody>
</table>
<p><strong><em>Ghi rõ mối quan hệ với người bị bắt tù, đày: cha, mẹ, vợ (chồng) hoặc con <br> (ghi rõ con đẻ, con nuôi hoặc con ngoài giá thú).</em></strong></p>
<p>&nbsp;</p>
