<div class="btn-close-container">
	<button class="btn-close" type="button" mat-mini-fab color="" (click)="closeDialog()" [disabled]="disabledBtn"
		title="Đóng">
		<mat-icon>clear</mat-icon>
	</button>
</div>
<div class="kt-portlet" [ngClass]="{ 'kt-portlet--body-progress kt-portlet--body-progress-overlay' : viewLoading }">
	<div class="kt-portlet__head kt-portlet__head__custom">

		<div class="col-md-{{ !NguoiDungDPS.UserID ? (isZoomSize ? '7' : '5') : (isZoomSize ? '9' : '7')}} kt-margin-bottom-10-mobile"
			style="margin-top: 20px;">
			<h3 class="kt-portlet__head-title">{{getTitle()}}</h3>
		</div>
		<div class="col-md-{{ !NguoiDungDPS.UserID ? (isZoomSize ? '5' : '7') : (isZoomSize ? '3' : '5')}} kt-margin-bottom-10-mobile"
			style="margin-top: 10px; text-align: right;" *ngIf="allowEdit">
			<button type="button" mat-raised-button color="primary" (click)="onSubmit(true)">
				Lưu
			</button>
		</div>

	</div>
	<form class="kt-form" [formGroup]="NguoiDungDPSForm">
		<div class="kt-portlet__body">
			<div class="kt-portlet__body-progress">
				<mat-spinner [diameter]="20"></mat-spinner>
			</div>
			<kt-alert *ngIf="hasFormErrors" type="warn" [duration]="0" [showCloseButton]="true"
				(close)="onAlertClose($event)">
				Không thể lưu, vui lòng kiểm tra lại thông tin!
			</kt-alert>

			<div class="form-group kt-form__group row">
				<div class="col-md-12 kt-margin-bottom-10-mobile">
					<mat-form-field class="mat-form-field-fluid">
						<input matInput placeholder="Nhập mật khẩu" required formControlName="password" type="password"
							autocomplete="off">
						<mat-error>
							Mật khẩu
							<strong
								*ngIf="NguoiDungDPSForm.controls['password'].errors && NguoiDungDPSForm.controls['password'].errors.required">
								bắt buộc nhập</strong>
							<strong *ngIf="Strong_Pass == '1'">
								mật khẩu phải có ít nhất 8 kí tự bao gồm: chữ hoa, chữ thường,số, ký tự đặc
								biệt</strong>
						</mat-error>
					</mat-form-field>
				</div>

			</div>
			<div class="form-group kt-form__group row">
				<div class="col-md-12 kt-margin-bottom-10-mobile">
					<mat-form-field class="mat-form-field-fluid">
						<input matInput placeholder="Nhập xác nhận mật khấu" required formControlName="confirmPassword"
							type="password" autocomplete="off">
						<mat-error>
							Xác nhận mật khẩu
							<strong
								*ngIf="NguoiDungDPSForm.controls['confirmPassword'].errors && NguoiDungDPSForm.controls['confirmPassword'].errors.required">
								bắt buộc nhập</strong>
							<strong
								*ngIf="NguoiDungDPSForm.get('confirmPassword').errors && NguoiDungDPSForm.get('confirmPassword').errors.ConfirmPassword">
								không trùng khớp với mật khẩu</strong>
						</mat-error>
					</mat-form-field>
				</div>
			</div>
		</div>
	</form>
</div>